<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.faultexternal.mapper.FaultExternalMapper">
    <select id="selectFaultExternalPage" resultType="com.aiurt.modules.faultexternal.entity.FaultExternal">
        SELECT f.*,s.line_code,s.station_code
        FROM fault_external f
            LEFT JOIN fault_external_line_sta_rel s ON ( f.ipos = s.ipos AND f.iline = s.iline )
        <where>
            <if test="faultExternal.startTime !=null and faultExternal.endTime !=null">
                f.dhappen between #{faultExternal.startTime} and #{faultExternal.endTime}
            </if>
            <if test="faultExternal.stationCodes != null and faultExternal.stationCodes.size() != 0">
                and s.station_code in
                <foreach collection="faultExternal.stationCodes" index="index" open="(" separator="," close=")" item="item">
                    #{item}
                </foreach>
            </if>
            <if test="faultExternal.status !=null">
                and f.status = #{faultExternal.status}
            </if>
            <if test="faultExternal.faultPhenomenonOrCode !=null and faultExternal.faultPhenomenonOrCode != '' ">
                and (f.sproandway like concat('%', #{faultExternal.faultPhenomenonOrCode}, '%')
                or f.sexecode like concat('%', #{faultExternal.faultPhenomenonOrCode}, '%'))
            </if>
        </where>
        ORDER BY f.create_time DESC
    </select>
</mapper>