<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.standard.mapper.PatrolStandardMapper">

    <select id="pageList" resultType="com.aiurt.boot.standard.dto.PatrolStandardDto">
        select patrol_standard.*,b.major_name as professionName, c.system_name as subsystemName ,d.name as deviceTypeName
               from patrol_standard as patrol_standard
        left join cs_major b on patrol_standard.profession_code =b.major_code AND b.del_flag=0
        left join cs_subsystem c on patrol_standard.subsystem_code =c.system_code AND c.del_flag=0
        left join device_type d on patrol_standard.device_type_code =d.code AND d.del_flag=0
        left join sys_user f on patrol_standard.create_by = f.username and f.del_flag =0
        where patrol_standard.del_flag =0
        <if test="patrolStandard.name !=null ">
            AND patrol_standard.name LIKE CONCAT ('%', #{patrolStandard.name}, '%')
        </if>
        <if test="patrolStandard.id !=null ">
            AND patrol_standard.id = #{patrolStandard.id}
        </if>
        <if test="patrolStandard.deviceTypeCode !=null ">
            AND patrol_standard.device_type_code = #{patrolStandard.deviceTypeCode}
        </if>
        <if test="patrolStandard.professionCode !=null ">
            AND patrol_standard.profession_code = #{patrolStandard.professionCode}
        </if>
        <if test="patrolStandard.subsystemCode !=null ">
            AND patrol_standard.subsystem_code = #{patrolStandard.subsystemCode}
        </if>
        <if test="patrolStandard.code !=null ">
            AND patrol_standard.code  LIKE CONCAT ('%', #{patrolStandard.code}, '%')
        </if>
        <if test="patrolStandard.createBy !=null ">
            AND f.realname LIKE CONCAT ('%', #{patrolStandard.createBy}, '%')
        </if>
        <if test="patrolStandard.status !=null ">
            AND patrol_standardstatus = #{patrolStandard.status}
        </if>
        order by patrol_standard.create_time desc
    </select>
    <select id="pageLists" resultType="com.aiurt.boot.standard.dto.PatrolStandardDto">
        SELECT * from (SELECT
        a.id AS id,
        a.code AS code,
        a.name AS name,
        a.profession_code AS professionCode,
        a.subsystem_code AS subsystemCode,
        a.device_type AS deviceType,
        a.specify_device AS specifyDevice,
        a.device_type_code AS deviceTypeCode,
        a.status AS status,
        a.remark AS remark,
        a.user_id AS userId,
        a.del_flag AS delFlag,
        a.create_by AS createBy,
        a.create_time AS createTime,
        a.update_by AS updateBy,
        a.update_time AS updateTime,
        b.major_name AS professionName,
        c.system_name AS subsystemName,
        d.name AS deviceTypeName,
        (SELECT COUNT(psi.standard_id AND psi.standard_id= a.id AND psi.del_flag=0 OR NULL)
            as number FROM patrol_standard_items psi WHERE 1=1) as number
            from patrol_standard as a
            left join sys_user f on a.create_by = f.username and f.del_flag =0
            left join cs_major as  b on a.profession_code =b.major_code AND b.del_flag=0
            left join cs_subsystem as  c on a.subsystem_code =c.system_code AND c.del_flag=0
            left join device_type as d on a.device_type_code =d.code AND d.del_flag=0
        WHERE 1=1
          <if test="patrolStandard.createByName !=null ">
        AND f.realname LIKE CONCAT ('%', #{patrolStandard.createByName}, '%')
    </if> ) as ta
        where ta.delFlag =0   and  ta.number >0
        <if test="patrolStandard.name !=null ">
            AND ta.name LIKE CONCAT ('%', #{patrolStandard.name}, '%')
        </if>
        <if test="patrolStandard.id !=null ">
            AND ta.id = #{patrolStandard.id}
        </if>
        <if test="patrolStandard.deviceTypeCode !=null ">
            AND ta.deviceTypeCode = #{patrolStandard.deviceTypeCode}
        </if>
        <if test="patrolStandard.professionCode !=null ">
            AND ta.professionCode = #{patrolStandard.professionCode}
        </if>
        <if test="patrolStandard.subsystemCode !=null ">
            AND ta.subsystemCode = #{patrolStandard.subsystemCode}
        </if>
        <if test="patrolStandard.code !=null ">
            AND ta.code  LIKE CONCAT ('%', #{patrolStandard.code}, '%')
        </if>
        <if test="patrolStandard.createBy !=null ">
            AND ta.createBy LIKE CONCAT ('%', #{patrolStandard.createBy}, '%')
        </if>
        <if test="patrolStandard.status !=null ">
            AND ta.status = #{patrolStandard.status}
        </if>
        <if test="majorCodes.size()>0">
            and ta.professionCode in
            <foreach item="majorCodes" collection="majorCodes" separator="," open="(" close=")" index="">
                #{majorCodes}
            </foreach>
        </if>
        order by ta.createTime desc
    </select>
    <select id="list" resultType="com.aiurt.boot.standard.dto.InspectionStandardDto">
            SELECT d.name as deviceTypeName ,d.code as deviceTypeCode
            FROM device_type d
            WHERE d.del_flag =0
        <if test="professionCode !=null ">
              and d.major_code= #{professionCode}
        </if>
            <if test="subsystemCode != null ">
                AND d.system_code = #{subsystemCode}
            </if>
    </select>
    <select id="selectbyIds" resultType="com.aiurt.boot.standard.dto.PatrolStandardDto">
        select a.*,b.major_name as professionName, c.system_name as subsystemName ,d.name as deviceTypeName
        from patrol_standard as a
                 left join cs_major b on a.profession_code =b.major_code and b.del_flag =0
                 left join cs_subsystem c on a.subsystem_code =c.system_code and c.del_flag =0
                 left join device_type d on a.device_type_code =d.code and d.del_flag =0
        where a.del_flag =0 and a.id in
        <foreach collection="ids" open="(" close=")"  index="index"   separator="," item="ids">
           #{ids}
        </foreach>
    </select>
    <select id="number" resultType="java.lang.Integer">
        SELECT COUNT(patrol_plan_standard.standard_code)as number
        FROM patrol_plan_standard
        WHERE patrol_plan_standard.standard_code = #{code}
    </select>
    <select id="number1" resultType="java.lang.Integer">
        SELECT COUNT(psi.standard_id AND psi.standard_id=#{id} AND psi.del_flag=0 OR NULL) FROM patrol_standard_items psi WHERE 1=1
    </select>
    <select id="getList" resultType="com.aiurt.boot.standard.entity.PatrolStandard">
    select p.*
    from (select ps.*,(select realname from sys_user where ps.create_by = username and del_flag = 0)as reanlname
    from patrol_standard ps) as p
    where p.del_flag =0
        <if test="patrolStandard.name !=null ">
           and  p.name like CONCAT('%',' #{patrolStandard.name}','%')
            AND patrol_standard.name LIKE CONCAT ('%',, '%')
        </if>
        <if test="patrolStandard.code !=null ">
           and p.code like CONCAT('%',#{patrolStandard.code},'%')
        </if>
        <if test="patrolStandard.professionCode !=null ">
            and p.profession_code  = #{patrolStandard.professionCode}
        </if>
        <if test="patrolStandard.createBy !=null ">
            and p.reanlname like CONCAT('%',#{patrolStandard.createBy},'%')
        </if>
        <if test="patrolStandard.subsystemCode !=null ">
            and p.subsystem_code  = #{patrolStandard.subsystemCode}
        </if>
        order by p.create_time desc
    </select>
    <select id="querySysDict" resultType="org.jeecg.common.system.vo.DictModel">
         SELECT sd.dict_name as text,sd.dict_code as value
        FROM sys_dict sd
        WHERE sd.del_flag=0
        <if test="modules !=null">
            and  sd.modules = #{modules}
        </if>
    </select>
     <select id="getDictCode" resultType="java.lang.String">
        SELECT
        sd.dict_code
        FROM
        sys_dict sd
        <if test="dictName!=null">
        where sd.del_flag = 0
        and  sd.dict_name = #{dictName} limit 1
        </if>
    </select>
    <select id="selectUserName" resultType="java.lang.String">
        select realname from sys_user where del_flag = 0 and  username = #{username}
    </select>

</mapper>
