<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.standard.mapper.PatrolStandardItemsMapper">
    <update id="updatPId">
        update  patrol_standard_items a
        set a.del_flag =1
        where a.parent_id=#{id}
    </update>

    <select id="selectItemList" resultType="com.aiurt.boot.standard.entity.PatrolStandardItems">
        select * from patrol_standard_items a where a.del_flag =0 and a.standard_id=#{id}
        ORDER BY a.order ,a.create_time DESC
    </select>
    <select id="getList" resultType="com.aiurt.boot.standard.entity.PatrolStandardItems">
    select * from patrol_standard_items a where a.del_flag =0 and a.standard_id = #{id}
    ORDER BY a.order
</select>
    <select id="querySysDict" resultType="com.aiurt.boot.standard.dto.SysDictDTO">
        SELECT sd.dict_name,sd.dict_code, sd.description
        FROM sys_dict sd
        WHERE sd.del_flag=0
        <if test="modules !=null and modules==1">
            and  sd.modules =1
        </if>
        <if test="modules !=null and modules==2">
            and  sd.modules =2
        </if>
    </select>
</mapper>
