<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.plan.mapper.EmergencyPlanMapper">
    <select id="queryPageList" resultType="com.aiurt.boot.plan.entity.EmergencyPlan">
        select ep.*,
               su.realname as createBy,
        ahp.PROC_INST_ID_ as process_instance_id,
        ara.ID_           as task_id,
        ara.NAME_         as task_name,
        arp.KEY_          as model_key
        from emergency_plan ep
        left join sys_user su on su.username = ep.create_by
        Left JOIN act_hi_procinst ahp ON ahp.BUSINESS_KEY_ = ep.id
        LEFT join act_ru_task ara ON ara.PROC_INST_ID_ = ahp.PROC_INST_ID_
        LEFT JOIN act_re_procdef arp on ahp.PROC_DEF_ID_ = arp.ID_
        where ep.del_flag = 0
          and ahp.ID_ is not null
        <if test="condition.emergencyPlanName != null and condition.emergencyPlanName != ''">
            and ep.emergency_plan_name like concat('%', #{condition.emergencyPlanName}, '%')
        </if>
        <if test="condition.emergencyPlanType != null and condition.emergencyPlanType != ''">
            and ep.emergency_plan_type like concat('%', #{condition.emergencyPlanType}, '%')
        </if>
        <if test="condition.status != null">
            and ep.status = #{condition.status}
        </if>
        <if test="orgCodes != null and orgCodes.size() > 0">
            and
            ep.org_code in
            <foreach collection="orgCodes" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        order by ep.emergency_plan_status asc
    </select>

    <select id="queryWorkToDo" resultType="com.aiurt.boot.plan.entity.EmergencyPlan">
        select ep.*,
        su.realname as createBy,
        ahp.PROC_INST_ID_ as process_instance_id,
        ara.ID_           as task_id,
        ara.NAME_         as task_name,
        arp.KEY_          as model_key
        from emergency_plan ep
        left join sys_user su on su.username = ep.create_by
        Left JOIN act_hi_procinst ahp ON ahp.BUSINESS_KEY_ = ep.id
        LEFT join act_ru_task ara ON ara.PROC_INST_ID_ = ahp.PROC_INST_ID_
        LEFT JOIN act_re_procdef arp on ahp.PROC_DEF_ID_ = arp.ID_
        where ep.del_flag = 0
        and ahp.ID_ is not null
        and ep.emergency_plan_status = 3
        and (ara.ASSIGNEE_ = #{userName} OR ara.ID_ in (
        SELECT TASK_ID_
        FROM act_ru_identitylink ari
        WHERE ari.TYPE_ = 'candidate'
        AND ari.USER_ID_ = #{userName}
        AND ari.TASK_ID_ = ara.ID_
        AND (ara.assignee_ = '' or ara.assignee_ is null)
        ))
        <if test="condition.emergencyPlanName != null and condition.emergencyPlanName != ''">
            and ep.emergency_plan_name like concat('%', #{condition.emergencyPlanName}, '%')
        </if>
        <if test="condition.emergencyPlanType != null and condition.emergencyPlanType != ''">
            and ep.emergency_plan_type like concat('%', #{condition.emergencyPlanType}, '%')
        </if>
        <if test="orgCodes != null and orgCodes.size() > 0">
            and
            ep.org_code in
            <foreach collection="orgCodes" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        order by ep.create_time desc
    </select>

    <select id="selectListNoPage" resultType="com.aiurt.boot.plan.dto.EmergencyPlanExcelDTO">
        select ep.id as id,
               ep.emergency_plan_type as emergencyPlanType,
               ep.emergency_plan_name as emergencyPlanName ,
               ep.key_word as keyWord,
               ep.emergency_plan_version as emergencyPlanVersion,
               ep.status as status,
               sd.depart_name as orgName,
               su.realname as userName,
               ep.emergency_plan_status as emergencyPlanStatus
        from emergency_plan ep
        left join sys_depart sd on ep.org_code = sd.org_code
        left join sys_user su on ep.create_by = su.username
        where ep.del_flag = 0
        <if test="condition.emergencyPlanName != null and condition.emergencyPlanName != ''">
            and ep.emergency_plan_name like concat('%', #{condition.emergencyPlanName}, '%')
        </if>
        <if test="condition.emergencyPlanType != null and condition.emergencyPlanType != ''">
            and ep.emergency_plan_type like concat('%', #{condition.emergencyPlanType}, '%')
        </if>
        <if test="condition.status != null">
            and ep.status = #{condition.status}
        </if>
        order by ep.emergency_plan_status asc
    </select>

    <select id="selectPlanDisposalProcedureById" resultType="com.aiurt.boot.plan.dto.EmergencyPlanDisposalProcedureExcelDTO">
        select epdp.id as id,
               epdp.emergency_plan_id as emergencyPlanId,
               epdp.disposal_procedure_content as disposalProcedureContent,
               sr.role_Name as roleName,
               sd.depart_name as orgName
        from emergency_plan_disposal_procedure epdp
        left join sys_depart sd on epdp.org_code = sd.org_code
        left join sys_role sr on epdp.role_id = sr.id
        where epdp.del_flag = 0
        <if test="id != null and id != ''">
            and epdp.emergency_plan_id = #{id}
        </if>
        order by epdp.create_time asc
    </select>
    <select id="selectPlanMaterialsById" resultType="com.aiurt.boot.plan.dto.EmergencyPlanMaterialsExcelDTO">
        select
        t.id as id,
        t.emergency_plan_id as emergencyPlanId,
        t1.materials_code as materialsCode,
        t1.materials_name as materialsName,
        t2.category_code as categoryCode,
        t2.category_name as categoryName,
        t.materials_number as materialsNumber,
        t1.unit as unit
        FROM
        emergency_plan_materials t
        LEFT JOIN emergency_materials t1 on t.materials_code = t1.materials_code
        LEFT JOIN emergency_materials_category t2 ON t1.category_code = t2.category_code
        where t.del_flag = 0
        <if test="id != null and id != ''">
            and t.emergency_plan_id = #{id}
        </if>
        order by t.create_time asc
    </select>

    <select id="selectDepartCode" resultType="java.lang.String">
        SELECT
        sd.org_code
        FROM
        sys_depart sd
        <if test="orgName!=null">
            where sd.del_flag = 0
            and  sd.depart_name = #{orgName} limit 1
        </if>
    </select>

    <select id="selectUserCode" resultType="java.lang.String">
        SELECT
        su.id
        FROM
        sys_user su
        <if test="orgUserName!=null">
            where su.del_flag = 0
            and  su.realname = #{orgUserName} limit 1
        </if>
    </select>

    <select id="selectRoleId" resultType="java.lang.String">
        SELECT
        sr.id
        FROM
        sys_role sr
        where
        <if test="roleName!=null">
            sr.role_name = #{roleName} limit 1
        </if>
    </select>

    <select id="queryById" resultType="com.aiurt.boot.plan.vo.EmergencyPlanExportExcelVO">
        select ep.id as id,
               ep.emergency_plan_type as emergencyPlanType,
               ep.emergency_plan_name as emergencyPlanName ,
               ep.key_word as keyWord,
               ep.emergency_plan_content as emergencyPlanContent,
               sd.depart_name as orgName,
               su.realname as userName
        from emergency_plan ep
                 left join sys_depart sd on ep.org_code = sd.org_code
                 left join sys_user su on ep.create_by = su.username
        where ep.del_flag = 0 and ep.id = #{id}
    </select>
</mapper>
