<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.plan.mapper.EmergencyPlanRecordMapper">
    <select id="queryPageList" resultType="com.aiurt.boot.plan.dto.EmergencyPlanRecordDTO">
        select epr.*
        from emergency_plan_record epr
        left join emergency_plan ep on ep.id = epr.emergency_plan_id
        where epr.del_flag = 0
        <if test="condition.eventClass != null and condition.eventClass != ''">
            and epr.eventClass = #{condition.eventClass}
        </if>
        <if test="condition.emergencyPlanId != null and condition.emergencyPlanId != ''">
            and epr.emergency_plan_id = #{condition.emergencyPlanId}
        </if>
        <if test="condition.startDate != null and condition.endDate != null">
            and DATE_FORMAT(epr.record_time, '%Y-%m-%d')
            between DATE_FORMAT(#{condition.startDate}, '%Y-%m-%d')
            on DATE_FORMAT#{condition.endDate}, '%Y-%m-%d')
        </if>
    </select>
</mapper>
