<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.plan.mapper.EmergencyPlanRecordMaterialsMapper">
    <select id="getMaterialAccountList" resultType="com.aiurt.boot.plan.dto.EmergencyPlanMaterialsDTO">
        SELECT
        t.*,
        t1.materials_name as materialsName,
        t2.category_code as categoryCode,
        t2.category_name as categoryName,
        t1.unit as unit
        FROM
        emergency_plan_record_materials t
        LEFT JOIN emergency_materials t1 on t.materials_code = t1.materials_code
        LEFT JOIN emergency_materials_category t2 ON t1.category_code = t2.category_code
        <where>
            t.del_flag = 0
            AND t1.del_flag = 0
            AND t2.del_flag = 0
            <if test="condition.emergencyPlanRecordId!=null and condition.emergencyPlanRecordId != ''">
                AND t.emergency_plan_record_id = #{condition.emergencyPlanRecordId}
            </if>
        </where>
    </select>
</mapper>
