<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.sysfile.mapper.SysFileManageMapper">

    <select id="getFilePageList" resultType="com.aiurt.modules.sysfile.vo.SysFileManageVO">
        SELECT
        sf.id,
        sf.name,
        sf.create_time,
        sf.create_by,
        sf.type_id,
        sf.type,
        sf.update_time,
        sf.url,
        sf.file_size,
        sf.down_size,
        IFNULL(MAX(sffp1.permission), 0) AS permission,
        sft1.name as typeName
        FROM
        sys_file sf
        LEFT JOIN sys_file_type sft1 ON (sft1.id = sf.type_id AND sft1.del_flag = 0)
        LEFT JOIN sys_folder_file_permission sffp1 ON ( sffp1.file_id = sf.id AND sffp1.del_flag = 0 )
        WHERE
        sf.id IN (
        SELECT
        sffp.file_id
        FROM
        sys_folder_file_permission sffp
        WHERE
        sffp.del_flag = 0
        AND ( sffp.user_id = #{currLoginUserId} OR sffp.org_code = #{currLoginOrgCode})
        GROUP BY
        sffp.file_id
        )
        AND sf.del_flag = 0
        AND ( sffp1.user_id = #{currLoginUserId} OR sffp1.org_code = #{currLoginOrgCode})
        <if test="condition.typeId !='' and condition.typeId!=null">
            AND sf.code_cc LIKE CONCAT (#{condition.folderCodeCc}, '%')
        </if>
        <if test="condition.name !='' and condition.name!=null">
            AND sf.name  LIKE CONCAT ('%', #{condition.name}, '%')
        </if>
        <if test="condition.type !='' and condition.type!=null">
            AND sf.type = #{condition.type}
        </if>
        <if test="condition.startTime !=null and condition.endTime!=null">
            AND DATE_FORMAT(sf.create_time,'%Y-%m-%d') between #{condition.startTime} and #{condition.endTime}
        </if>
        <if test="userNames!=null and userNames.size>0">
            AND sf.create_by in
            <foreach collection="userNames" item="username" open="(" close=")" separator=",">
                #{username}
            </foreach>
        </if>
        GROUP BY sf.id
        ORDER BY sf.create_time DESC,sf.id ASC
    </select>
    <select id="queryTypeByFolderCode" resultType="com.aiurt.modules.sysfile.vo.TypeNameVO">
        SELECT DISTINCT
            sf.type AS name
        FROM
            sys_file sf
        WHERE
         sf.del_flag = 0
         <if test="folderCodeCc!=null and folderCodeCc!=''">
             AND sf.type_id IN ( SELECT sft.id FROM sys_file_type sft WHERE sft.folder_code_cc LIKE CONCAT (#{folderCodeCc}, '%' ) )
         </if>
         AND sf.id IN (
            SELECT
                sffp.file_id
            FROM
                sys_folder_file_permission sffp
            WHERE
                sffp.del_flag = 0
              AND (
                sffp.user_id = #{currLoginUserId} OR sffp.org_code = #{currLoginOrgCode})
            GROUP BY
                sffp.file_id
        )
    </select>

    <select id="listTopLevelFolders" resultType="com.aiurt.modules.sysfile.vo.SysFileManageAppVO">
        SELECT
        sft1.id AS id,
        sft1.name AS name,
        sft1.parent_id AS parentId,
        0 AS `status`,
        IFNULL(MAX(sffp1.permission), 0) AS permission,
        sft1.create_by,
        sft1.update_by,
        sft1.create_time,
        sft1.update_time
        FROM sys_file_type sft1
        LEFT JOIN
        sys_file_type sft2 ON sft1.id = sft2.parent_id
        LEFT JOIN sys_folder_file_permission sffp1 ON (
        sft1.id = sffp1.folder_id
        AND (sffp1.user_id = #{userId} OR sffp1.org_code = #{orgCode}))
        WHERE EXISTS(
        SELECT 1
        FROM sys_folder_file_permission sffp
        WHERE sffp.del_flag = 0
        AND (sffp.user_id = #{userId} OR sffp.org_code = #{orgCode})
        AND ((
        sffp.folder_id IN (
        SELECT
        s1.id
        FROM
        sys_file_type s1
        WHERE
        s1.folder_code IS NOT NULL
        AND s1.folder_code != ''
        AND s1.folder_code_cc LIKE CONCAT( sft1.folder_code_cc, '%' )
        ))
        OR (
        sffp.file_id IN (
        SELECT
        sf1.id
        FROM
        sys_file sf1
        WHERE
        sf1.code_cc IS NOT NULL
        AND sf1.code_cc != ''
        AND sf1.code_cc LIKE CONCAT( sft1.folder_code_cc, '%' )
        ))))
        AND sft1.del_flag = 0
        AND sft1.folder_code_cc != ''
        AND sft1.folder_code_cc IS NOT NULL
        AND sft1.parent_id = #{parentId}
        <if test="fileName!='' and fileName !=null">
            AND sft1.name LIKE CONCAT('%',#{fileName}, '%' )
        </if>
        GROUP BY
        sft1.id
        ORDER BY sft1.create_time DESC,sft1.id ASC
    </select>

    <select id="listChildNodesByParentId" resultType="com.aiurt.modules.sysfile.vo.SysFileManageAppVO">
        SELECT
            temp.id,
            temp.name,
            temp.type,
            temp.`status`,
            temp.url,
            temp.permission,
            temp.parentId,
            temp.createBy,
            temp.updateBy,
            temp.createTime,
            temp.updateTime
        FROM
            (
                SELECT
                    sft.id AS id,
                    sft.name AS name,
                    NULL AS type,
                    NULL AS url,
                    0 AS `status`,
                    IFNULL( MAX( sffp.permission ), 0 ) AS permission,
                    sft.parent_id AS parentId,
                    sft.create_by AS createBy,
                    sft.update_by AS updateBy,
                    sft.create_time AS createTime,
                    sft.update_time AS updateTime
                FROM
                    sys_file_type sft
                    LEFT JOIN sys_folder_file_permission sffp ON (sft.id = sffp.folder_id  AND ( sffp.user_id =  #{userId} OR sffp.org_code = #{orgCode} ))
                WHERE
                    EXISTS (
                            SELECT
                                1
                            FROM
                                sys_folder_file_permission sffp
                            WHERE
                                sffp.del_flag = 0
                              AND ( sffp.user_id =  #{userId} OR sffp.org_code = #{orgCode} )
                              AND ((
                                    sffp.folder_id IN (
                                    SELECT
                                    s1.id
                                    FROM
                                    sys_file_type s1
                                    WHERE
                                    s1.folder_code IS NOT NULL
                                    AND s1.folder_code != ''
                                    AND s1.folder_code_cc LIKE CONCAT( sft.folder_code_cc, '%' )
                                    ))
                                    OR (
                                    sffp.file_id IN (
                                    SELECT
                                    sf1.id
                                    FROM
                                    sys_file sf1
                                    WHERE
                                    sf1.code_cc IS NOT NULL
                                    AND sf1.code_cc != ''
                                    AND sf1.code_cc LIKE CONCAT( sft.folder_code_cc, '%' )
                                    ))))
                  AND sft.del_flag = 0
                  AND sft.folder_code_cc != ''
		          AND sft.folder_code_cc IS NOT NULL
		          AND sft.parent_id = #{parentId}
                GROUP BY sft.id

                UNION ALL

                SELECT
                    sf.id AS id,
                    sf.name AS name,
                    sf.type AS type,
                    sf.url AS url,
                    1 AS status,
                    IFNULL( MAX( sffp.permission ), 0 ) AS permission,
                    sf.type_id AS parentId,
                    sf.create_by AS createBy,
                    sf.update_by AS updateBy,
                    sf.create_time AS createTime,
                    sf.update_time AS updateTime
                FROM
                    sys_file sf
                    LEFT JOIN sys_folder_file_permission sffp ON (
                    sf.id = sffp.file_id
                    AND ( sffp.user_id =  #{userId} OR sffp.org_code = #{orgCode} ))
                WHERE
                  sffp.permission IS NOT NULL
                  AND sf.del_flag = 0
                  AND  sf.type_id = #{parentId}
                GROUP BY sf.id
            ) AS temp
        <where>
        <if test="fileName!=null and fileName!=''">
            temp.name LIKE CONCAT ('%', #{fileName}, '%')
        </if>
        </where>
        ORDER BY
        temp.status ASC,temp.createTime DESC,temp.id ASC;
    </select>
</mapper>
