<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.sysfile.mapper.SysFileMapper">

<select id="selectFilePage" resultType="com.aiurt.modules.sysfile.entity.SysFile">
	select * from sys_file
		<where>
			<if test="typeId != null and typeId.size() != 0">
				type_id in
				<foreach collection="typeId" index="index" open="(" separator="," close=")" item="item">
					#{item}
				</foreach>
			</if>
			<if test="fileName != null">
				and `name` LIKE CONCAT ('%', #{fileName}, '%')
			</if>
		</where>
	   order by create_time desc
	<!--limit #{no},#{size}-->
	</select>
</mapper>
