<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.index.mapper.IndexPlanMapper">


    <select id="getGropuByData" resultType="com.aiurt.boot.index.dto.TaskDetailsDTO">
    SELECT
        rpsr.station_code AS stationCode,
        cs.station_name AS stationName,
        cs.line_name AS lineName
    FROM
        repair_pool rp
        LEFT JOIN repair_pool_station_rel rpsr ON rpsr.repair_pool_code = rp.`code`
        left join cs_station cs on cs.station_code = rpsr.station_code
    <where>
        rp.is_manual = 0
        <if test="type!=null and type==2">
            and rp.status = 8
        </if>
        <if test="type!=null and type==3">
            and rp.status &lt;&gt; 8
        </if>
        <if test="taskDetailsReq.startTime!=null and taskDetailsReq.endTime!=null">
            and date_format(rp.start_time ,'%Y-%m-%d') &gt;=  date_format(#{taskDetailsReq.startTime},'%Y-%m-%d')
            and date_format(rp.start_time ,'%Y-%m-%d') &lt;= date_format(#{taskDetailsReq.endTime},'%Y-%m-%d')
        </if>
        <if test="taskDetailsReq.stationCode!=null">
            and cs.station_code = #{taskDetailsReq.stationCode}
        </if>
        <if test="taskDetailsReq.lineCode!=null">
            and cs.line_code = #{taskDetailsReq.lineCode}
        </if>
        <if test="condition.size()>0">
            and cs.station_code in
            <foreach collection="condition" open="(" close=")" item="code" separator=",">
                #{code}
            </foreach>
        </if>
        <if test="taskDetailsReq.maintenanceCycle!=null">
          and  rp.type = #{taskDetailsReq.maintenanceCycle}
        </if>
    </where>
    GROUP BY
        rpsr.station_code
    </select>
    <select id="getMaintenancDataByStationCode" resultType="com.aiurt.boot.plan.dto.RepairPoolDetailsDTO">
    SELECT
	rp.code,rp.name,rp.weeks,rp.type,rp.status,rp.start_time,rp.end_time
    FROM   repair_pool rp
	LEFT JOIN repair_pool_station_rel rpsr ON rpsr.repair_pool_code = rp.`code`
	<where>
       rp.is_manual = 0 and rpsr.station_code = #{taskDetailsReq.stationCode}
       <if test="taskDetailsReq.status!=null">
       and  status = #{taskDetailsReq.status}
       </if>
       <if test="type!=null and type == 2">
           and status = 8
       </if>
        <if test="type!=null and type == 3">
           and status &lt;&gt; 8
       </if>
        <if test="taskDetailsReq.startTime!=null and taskDetailsReq.endTime!=null">
            and date_format(rp.start_time ,'%Y-%m-%d') &gt;=  date_format(#{taskDetailsReq.startTime},'%Y-%m-%d')
            and date_format(rp.start_time ,'%Y-%m-%d') &lt;= date_format(#{taskDetailsReq.endTime},'%Y-%m-%d')
        </if>
    </where>
    </select>
    <select id="getMainDataByStationCodeNoPage" resultType="com.aiurt.boot.plan.dto.RepairPoolDetailsDTO">
        SELECT
        rp.code,rp.name,rp.weeks,rp.type,rp.status,rp.start_time,rp.end_time
        FROM   repair_pool rp
        LEFT JOIN repair_pool_station_rel rpsr ON rpsr.repair_pool_code = rp.`code`
        <where>
            rp.is_manual = 0 and rpsr.station_code = #{stationCode}
            <if test="taskDetailsReq.startTime!=null and taskDetailsReq.endTime!=null">
                and date_format(rp.start_time ,'%Y-%m-%d') &gt;=  date_format(#{taskDetailsReq.startTime},'%Y-%m-%d')
                and date_format(rp.start_time ,'%Y-%m-%d') &lt;= date_format(#{taskDetailsReq.endTime},'%Y-%m-%d')
            </if>
        </where>
    </select>
    <select id="selectStationState" resultType="com.aiurt.boot.index.dto.TaskStateDTO">
        SELECT
        rpsr.station_code AS stationCode,
        GROUP_CONCAT(rp.`status`) as statusStr
        FROM
        repair_pool rp
        LEFT JOIN repair_pool_station_rel rpsr ON rpsr.repair_pool_code = rp.`code`
        <where>
            rp.is_manual = 0
            <if test="startTime!=null and endTime!=null">
                and date_format(rp.start_time ,'%Y-%m-%d') &gt;=  date_format(#{startTime},'%Y-%m-%d')
                and date_format(rp.start_time ,'%Y-%m-%d') &lt;= date_format(#{endTime},'%Y-%m-%d')
            </if>
        </where>
        GROUP BY rpsr.station_code
    </select>
</mapper>
