<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.faultanalysisreport.mapper.FaultAnalysisReportMapper">

<select id="readAll" resultType="com.aiurt.modules.faultanalysisreport.entity.FaultAnalysisReport">
    select
    a.id,a.status,a.faultCode ,a.fault_phenomenon,a.solution,a.name,a.createTime,a.faultId
    from
    (( SELECT
            far.id,
            far.status,
            f.`code` as faultCode ,
            f.fault_phenomenon,
            far.solution,
            ft.name,
            far.create_time,
            f.id as faultId,
            ft.`code` as faultTypeCode,
            far.create_time as createTime,
            f.sub_system_code
    FROM
            fault_analysis_report far
                    LEFT JOIN fault f ON f.CODE = far.fault_code
                    LEFT JOIN fault_type ft on ft.`code` = f.fault_type_code
    WHERE
            far.del_flag = 0
            and far.approved_result = 0
            <if test="condition.approvedResult != null and condition.approvedResult != ''">
                and far.approved_result = #{condition.approvedResult}
            </if>
            <if test="condition.createBy != null and condition.createBy != ''">
                and far.create_by = #{condition.createBy}
            </if>
    )
    union all
    ( SELECT
            far.id,
            far.STATUS,
            f.`code` AS faultCode,
            f.fault_phenomenon,
            far.solution,
            ft.NAME,
            far.create_time,
            f.id AS faultId,
            ft.`code` as faultTypeCode,
            far.create_time as createTime,
            f.sub_system_code
    FROM
            fault_analysis_report far
            LEFT JOIN fault f ON f.CODE = far.fault_code
            LEFT JOIN fault_type ft ON ft.`code` = f.fault_type_code
    WHERE
            far.del_flag = 0
            and far.approved_result = 1
            <if test="condition.approvedResult != null and condition.approvedResult != ''">
                and far.approved_result = #{condition.approvedResult}
            </if>
    ))a
    where 1=1
        <if test="condition.faultCode != null and condition.faultCode != ''">
            and a.faultCode LIKE concat('%',#{condition.faultCode},'%')
        </if>
        <if test="condition.faultPhenomenon != null and condition.faultPhenomenon != ''">
            and a.fault_phenomenon LIKE concat('%',#{condition.faultPhenomenon}',%')
        </if>
        <if test="condition.faultTypeCode != null and condition.faultTypeCode != ''">
            and a.faultTypeCode like concat('%',#{condition.faultTypeCode},'%')
        </if>
        <if test="condition.startTime != null and condition.endTime != null ">
            and DATE_FORMAT(a.createTime ,'%Y-%m-%d') &gt;= DATE_FORMAT(#{condition.startTime},'%Y-%m-%d')
            and DATE_FORMAT(a.createTime ,'%Y-%m-%d') &lt;= DATE_FORMAT(#{condition.endTime},'%Y-%m-%d')
        </if>
        <if test="ids != null and ids.size() > 0">
            and a.faultId in
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY a.create_time DESC
</select>

<select id="getFault" resultType="com.aiurt.modules.faultanalysisreport.dto.FaultDTO">
   SELECT
    f.id,
    f.`code`,
    f.major_code,
    f.fault_mode_code,
    f.sub_system_code,
    f.line_code,
    f.station_code,
    f.fault_phenomenon,
    f.fault_applicant,
    f.happen_time,
    f.station_position_code,
    (select group_concat(device_code) from fault_device where fault_code = f.`code`) as deviceCode,
    ( select group_concat(d.name) from
    (select device_code from fault_device where fault_code = f.`code`) a
    left join device d on d.`code` = a.device_code ) as deviceName,
    f.end_time,
    f.hang_up_reason
    FROM
    fault f
    where
    f.status = 12
    <if test="condition.code != null and condition.code != ''">
        and f.`code` like concat('%',#{condition.code},'%')
    </if>
    <if test="condition.faultModeCode != null and condition.faultModeCode != ''">
        and f.fault_mode_code = #{condition.faultModeCode}
    </if>
    <if test="condition.stationCode != null and condition.stationCode != ''">
        and f.station_code = #{condition.stationCode}
    </if>
    <if test="condition.deviceCode != null and condition.deviceCode != ''">
        and f.`code` in ((select fault_code from fault_device where device_code like concat('%',#{condition.deviceCode},'%')))
    </if>
    <if test="condition.majorCode != null  and condition.majorCode !=''">
        and f.major_code =#{condition.majorCode}
    </if>
    <if test="condition.subSystemCode != null  and condition.subSystemCode !=''">
        and f.sub_system_code =#{condition.subSystemCode}
    </if>
    <if test="allSubSystem != null and allSubSystem.size != 0">
        and f.sub_system_code in
        <foreach collection="allSubSystem" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </if>
    <if test="faultCodes != null and faultCodes.size() != 0">
        and  f.`code` not in
        <foreach collection="faultCodes" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </if>
</select>

<select id="getDetail" resultType="com.aiurt.modules.faultanalysisreport.dto.FaultDTO">
    SELECT
    f.id,
    f.`code`,
    f.major_code,
    f.sub_system_code,
    f.fault_applicant,
    (select group_concat(device_code) from fault_device where fault_code = f.`code`) as deviceCode,
    ( select group_concat(d.name) from
    (select device_code from fault_device where fault_code = f.`code`) a
    left join device d on d.`code` = a.device_code) as deviceName,
    f.station_code,
    f.station_position_code,
    f.fault_phenomenon,
    f.happen_time
    FROM
    fault f
    left join fault_analysis_report far on far.fault_code = f.`code`
    where
    far.del_flag = 0
    and f.id = #{id}
    </select>

<select id="readOne" resultType="com.aiurt.modules.faultanalysisreport.entity.FaultAnalysisReport">
    SELECT
            far.id,
            far.status,
            far.fault_analysis,
            far.solution,
            far.file_path,
            ft.name,
            far.fault_knowledge_base_id
    FROM
            fault_analysis_report far
                    LEFT JOIN fault f ON f.CODE = far.fault_code
                    LEFT JOIN fault_type ft on ft.`code` = f.fault_type_code
    WHERE
    1=1
    <if test="id != null and id != ''">
        and  far.id = #{id}
    </if>
    <if test="faultCode != null and faultCode != ''">
        and  far.fault_code = #{faultCode}
    </if>
    </select>

<select id="getFaultCode" resultType="java.lang.String">
    select fault_code from fault_analysis_report where del_flag = 0
    </select>
</mapper>