<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.faultanalysisreport.mapper.FaultAnalysisReportMapper">

<select id="readAll" resultType="com.aiurt.modules.faultanalysisreport.entity.FaultAnalysisReport">
    SELECT
            f.state,
            f.`code`,
            f.fault_phenomenon,
            far.fault_analysis,
            far.solution,
            far.create_time
    FROM
            fault_analysis_report far
                    LEFT JOIN fault f ON f.CODE = far.fault_code
                    LEFT JOIN fault_type ft on ft.`code` = f.fault_type_code
    WHERE
            far.del_flag = 0
        <if test="condition.faultCode != null and condition.faultCode != ''">
            and f.`code` LIKE '%#{condition.faultCode}%'
        </if>
        <if test="condition.faultPhenomenon != null and condition.faultPhenomenon != ''">
            and f.fault_phenomenon LIKE '%#{condition.faultPhenomenon}%'
        </if>
        <if test="condition.faultTypeName != null and condition.faultTypeName != ''">
            and ft.name like '%#{condition.faultTypeName}%'
        </if>
        <if test="condition.startTime != null and condition.endTime != null ">
            and DATE_FORMAT(far.create_time ,'%Y-%m-%d') &gt;= DATE_FORMAT(#{condition.startTime},'%Y-%m-%d')
            and DATE_FORMAT(far.create_time ,'%Y-%m-%d') &lt;= DATE_FORMAT(#{condition.endTime},'%Y-%m-%d')
        </if>
</select>
</mapper>