<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.faultanalysisreport.mapper.FaultAnalysisReportMapper">

<select id="readAll" resultType="com.aiurt.modules.faultanalysisreport.entity.FaultAnalysisReport">
    SELECT
            far.approved_result,
            f.`code`,
            f.fault_phenomenon,
            far.solution,
            far.create_time
    FROM
            fault_analysis_report far
                    LEFT JOIN fault f ON f.CODE = far.fault_code
                    LEFT JOIN fault_type ft on ft.`code` = f.fault_type_code
    WHERE
            far.del_flag = 0
        <if test="condition.faultCode != null and condition.faultCode != ''">
            and f.`code` LIKE concat('%',#{condition.faultCode},'%')
        </if>
        <if test="condition.faultPhenomenon != null and condition.faultPhenomenon != ''">
            and f.fault_phenomenon LIKE concat('%',#{condition.faultPhenomenon}',%')
        </if>
        <if test="condition.faultTypeCode != null and condition.faultTypeCode != ''">
            and ft.`code` like concat('%',#{condition.faultTypeCode},'%')
        </if>
        <if test="condition.startTime != null and condition.endTime != null ">
            and DATE_FORMAT(far.create_time ,'%Y-%m-%d') &gt;= DATE_FORMAT(#{condition.startTime},'%Y-%m-%d')
            and DATE_FORMAT(far.create_time ,'%Y-%m-%d') &lt;= DATE_FORMAT(#{condition.endTime},'%Y-%m-%d')
        </if>
</select>

<select id="getFault" resultType="com.aiurt.modules.fault.entity.Fault">
   SELECT
    f.id,
    f.`code`,
    f.major_code,
    f.fault_mode_code,
    f.sub_system_code,
    f.line_code,
    f.station_code,
    f.fault_phenomenon,
    f.fault_applicant,
    f.happen_time,
    ( select group_concat(d.name) from
    (select device_code from fault_device where fault_code = f.`code`) a
    left join device d on d.`code` = a.device_code ) as deviceName,
    frr.end_time,
    frr.hangup_reason
    FROM
    fault f
    left join fault_repair_record frr on frr.fault_code = f.`code`
    where
    f.state = 12
    <if test="condition.code != null and condition.code != ''">
        and f.`code` like concat('%',#{condition.code},'%')
    </if>
    <if test="condition.faultModeCode != null and condition.faultModeCode != ''">
        and f.fault_mode_code = #{condition.faultModeCode}
    </if>
    <if test="condition.stationCode != null and condition.stationCode != ''">
        and f.station_code = #{condition.stationCode}
    </if>
    <if test="condition.deviceCode != null and condition.deviceCode != ''">
        and f.`code` in ((select fault_code from fault_device where device_code like concat('%',#{condition.deviceCode},'%')))
    </if>
</select>

<select id="getDetail" resultType="com.aiurt.modules.faultanalysisreport.entity.dto.FaultDTO">
    SELECT
    f.id,
    f.`code`,
    f.sub_system_code,
    f.fault_applicant,
    ( select group_concat(d.name) from
    (select device_code from fault_device where fault_code = f.`code`) a
    left join device d on d.`code` = a.device_code) as deviceName,
    f.station_code,
    f.station_position_code,
    f.fault_phenomenon,
    f.happen_time
    FROM
    fault f
    left join fault_analysis_report far on far.fault_code = f.`code`
    where
    f.id = #{id}
    </select>
</mapper>