<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.secondLevelWarehouse.mapper.SparePartInOrderMapper">
    <select id="queryPageList"
            resultType="com.aiurt.boot.modules.secondLevelWarehouse.entity.vo.SparePartInVO">
        SELECT
            spio.id AS id,
            spio.material_code AS materialCode,
            mb.NAME AS materialName,
            mb.type AS `type`,
            mb.specifications AS specifications,
            mb.country_origin AS countryOrigin,
            mb.manufacturer AS manufacturer,
            mb.brand AS brand,
            spio.num AS num,
            sd.depart_name AS orgId,
            su.realname AS keeperName,
            mb.system_code AS systemCode,
            mb.unit AS unit,
            spio.create_time AS joinTime,
            spio.confirm_status AS confirmStatus
        FROM
            spare_part_in_order spio
            LEFT JOIN sys_depart sd ON sd.id = spio.org_id
            LEFT JOIN material_base mb ON mb.CODE = spio.material_code
            LEFT JOIN sys_user su ON su.id = spio.create_by
        WHERE
            spio.del_flag = 0
            <if test="sparePartInQuery.materialCode!=null and sparePartInQuery.materialCode!=''">
                AND spio.material_code = #{sparePartInQuery.materialCode}
            </if>
            <if test="sparePartInQuery.materialName!=null and sparePartInQuery.materialName!=''">
                AND mb.name LIKE concat('%', #{sparePartInQuery.materialName}, '%')
            </if>
            <if test="sparePartInQuery.materialType!=null and sparePartInQuery.materialType!=''">
                AND mb.type = #{sparePartInQuery.materialType}
            </if>
            <if test="sparePartInQuery.orgId!=null and sparePartInQuery.orgId!=''">
                AND spio.org_id = #{sparePartInQuery.orgId}
            </if>
            <if test="sparePartInQuery.systemCode!=null and sparePartInQuery.systemCode!=''">
                AND mb.system_code = #{sparePartInQuery.systemCode}
            </if>
        ORDER BY
            spio.create_time DESC
    </select>

    <select id="exportXls" resultType="com.aiurt.boot.modules.secondLevelWarehouse.entity.dto.SparePartInExcel">
        SELECT
            spio.id AS id,
            cs.system_name AS `system`,
            spio.material_code AS materialCode,
            mb.NAME AS materialName,
            mb.type AS `type`,
            mb.specifications AS specifications,
            mb.manufacturer AS manufacturer,
            mb.unit AS unit,
            spio.num AS num,
            sd.depart_name orgId,
            spio.create_time AS joinTime,
            mb.brand AS brand,
            spio.confirm_status AS confirmStatus
        FROM
            spare_part_in_order spio
            LEFT JOIN sys_depart sd ON sd.id = spio.org_id
            LEFT JOIN material_base mb ON mb.CODE = spio.material_code
            LEFT JOIN sys_user su ON su.id = spio.create_by
            LEFT JOIN cs_subsystem cs ON cs.system_code = mb.system_code
        where
            spio.del_flag!=1
            <if test="sparePartInQuery.materialCode!=null and sparePartInQuery.materialCode!=''">
                AND spio.material_code = #{sparePartInQuery.materialCode}
            </if>
            <if test="sparePartInQuery.materialName!=null and sparePartInQuery.materialName!=''">
                AND mb.name LIKE concat('%', #{sparePartInQuery.materialName}, '%')
            </if>
            <if test="sparePartInQuery.materialType!=null and sparePartInQuery.materialType!=''">
                AND mb.type = #{sparePartInQuery.materialType}
            </if>
            <if test="sparePartInQuery.orgId!=null and sparePartInQuery.orgId!=''">
                and spio.org_id = #{sparePartInQuery.orgId}
            </if>
            <if test="sparePartInQuery.selections != null">
            AND spio.id IN(
            <foreach collection="sparePartInQuery.selections" separator="," item="item">
                #{item}
            </foreach>
            )
        </if>
        ORDER BY
            spio.create_time DESC
    </select>

    <update id="confirm">
        update spare_part_in_order set confirm_status = 1 where id = #{id}
    </update>
</mapper>
