<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.secondLevelWarehouse.mapper.SparePartStockMapper">

    <select id="queryPageList"
            resultType="com.aiurt.boot.modules.secondLevelWarehouse.entity.dto.SparePartStockDTO">
        SELECT
            sps.id AS id,
            sps.material_code AS materialCode,
            mb.NAME AS materialName,
            mb.type AS materialType,
            mb.specifications AS specifications,
            mb.country_origin AS countryOrigin,
            mb.manufacturer AS manufacturer,
            mb.brand AS brand,
            mb.unit AS unit,
            sps.num AS num,
            sd.depart_name AS orgId,
            mb.system_code AS systemCode,
            mb.price AS price,
        sps.remark AS remark,
        dt.name as bigTypeName,
        st.name as smallTypeName,
        mb.total as total
        FROM
            spare_part_stock sps
            LEFT JOIN sys_depart sd ON sd.id = sps.org_id
            LEFT JOIN material_base mb ON mb.CODE = sps.material_code
        LEFT JOIN device_type dt on mb.type_code = dt.code
        LEFT JOIN device_small_type st on st.code = mb.small_type_code
        WHERE
            sps.del_flag =0
            <if test="sparePartStock.materialCode!=null and sparePartStock.materialCode!=''">
                AND sps.material_code = #{sparePartStock.materialCode}
            </if>
            <if test="sparePartStock.materialName!=null and sparePartStock.materialName!=''">
                AND mb.name LIKE concat('%', #{sparePartStock.materialName}, '%')
            </if>
            <if test="sparePartStock.materialType!=null and sparePartStock.materialType!=''">
                AND mb.type = #{sparePartStock.materialType}
            </if>
            <if test="sparePartStock.orgId!=null and sparePartStock.orgId!=''">
                AND sps.org_id = #{sparePartStock.orgId}
            </if>
            <if test="sparePartStock.systemCode!=null and sparePartStock.systemCode!=''">
                AND mb.system_code = #{sparePartStock.systemCode}
            </if>
        ORDER BY
            sps.create_time DESC
    </select>
    <select id="queryMaterialByWarehouse"
            resultType="com.aiurt.boot.modules.secondLevelWarehouse.entity.vo.SpareMaterialVO">
        SELECT
            sps.material_code AS materialCode,
            mb.NAME AS materialName,
            sps.num AS num,
            mb.type AS `type`,
            mb.specifications AS specifications,
            mb.country_origin AS countryOrigin,
            mb.manufacturer AS manufacturer,
            mb.brand AS brand,
            sd.depart_name AS orgId,
            ssp.stock_name AS warehouseName,
            cl.line_name AS lineName,
            cs.station_name AS stationName
        FROM
            spare_part_stock sps
            LEFT JOIN material_base mb ON mb.CODE = sps.material_code
            LEFT JOIN cs_stock_spare_part ssp ON sps.warehouse_code = ssp.stock_code
            LEFT JOIN cs_line cl ON cl.line_code = ssp.line_code
            LEFT JOIN sys_depart sd ON sd.id = sps.org_id
            LEFT JOIN cs_station cs ON cs.station_code = ssp.station_code
        WHERE
            sps.del_flag = 0
            AND mb.del_flag = 0
        <if test="orgId!=null and orgId!=''">
            AND sps.org_id = #{orgId}
        </if>
    </select>

    <select id="selectStockList" resultType="com.aiurt.common.result.SparePartStockResult">
        SELECT
	        sps.material_code AS materialCode,
	        mb.NAME AS materialName,
	        w.stock_name AS location,
	        sps.num AS num
        FROM
	        spare_part_stock sps
	        LEFT JOIN cs_stock_spare_part w ON w.stock_code = sps.warehouse_code
	        LEFT JOIN material_base mb ON mb.CODE = sps.material_code
        WHERE
            sps.del_flag =0
            <if test="param.materialName!=null and param.materialName!=''">
                AND CONCAT(mb.NAME,
                sps.material_code,
                w.stock_name) like concat('%', #{param.materialName}, '%')
            </if>
            <if test="param.orgId!=null and param.orgId!=''">
                and sps.org_id = #{param.orgId}
            </if>
	    ORDER BY
            sps.create_time DESC
    </select>
    <update id="addRemark">
        UPDATE spare_part_stock SET remark = #{remark}
        WHERE id = #{id}
    </update>
</mapper>
