<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.secondLevelWarehouse.mapper.StockLevel2CheckDetailMapper">

    <select id="queryPageList"
            resultType="com.aiurt.boot.modules.secondLevelWarehouse.entity.vo.StockLevel2CheckDetailVO">
        SELECT
            slcd.id AS id,
            slcd.stock_check_code AS stockCheckCode,
            slcd.warehouse_code AS warehouseCode,
            w.stock_name AS warehouseName,
            slcd.material_code AS materialCode,
            mb.NAME AS materialName,
            mb.type AS `type`,
            mb.specifications AS specifications,
            mb.price AS price,
            slcd.note AS note,
            slcd.actual_num AS actualNum,
            slcd.profit_num AS profitNum,
            slcd.loss_num AS lossNum,
            mb.unit AS unit,
            ssp.stock_name AS storagePlace
        FROM
            stock_level2_check_detail slcd
            LEFT JOIN cs_stock_level_two w ON w.stock_code = slcd.warehouse_code
            LEFT JOIN material_base mb ON mb.CODE = slcd.material_code
            LEFT JOIN cs_stock_spare_part ssp ON ssp.stock_code = slcd.warehouse_code
        WHERE
            slcd.del_flag =0
            AND slcd.stock_check_code=#{stockLevel2CheckDetailDTO.stockCheckCode}
            <if test="stockLevel2CheckDetailDTO.materialCode!=null and stockLevel2CheckDetailDTO.materialCode!=''">
                AND slcd.material_code = #{stockLevel2CheckDetailDTO.materialCode}
            </if>
            <if test="stockLevel2CheckDetailDTO.materialName!=null and stockLevel2CheckDetailDTO.materialName!=''">
                AND mb.name LIKE concat('%', #{stockLevel2CheckDetailDTO.materialName}, '%')
            </if>
        ORDER BY
            slcd.create_time DESC
    </select>

    <select id="queryList"
            resultType="com.aiurt.boot.modules.secondLevelWarehouse.entity.vo.StockLevel2CheckDetailVO">
        SELECT
            slcd.id AS id,
            slcd.stock_check_code AS stockCheckCode,
            slcd.warehouse_code AS warehouseCode,
            w.stock_name AS warehouseName,
            slcd.material_code AS materialCode,
            mb.NAME AS materialName,
            mb.type AS `type`,
            mb.specifications AS specifications,
            mb.price AS price,
            slcd.note AS note,
            slcd.actual_num AS actualNum,
            slcd.profit_num AS profitNum,
            slcd.loss_num AS lossNum,
            slcd.update_time AS updateTime
        FROM
            stock_level2_check_detail slcd
            LEFT JOIN cs_stock_level_two w ON w.stock_code = slcd.warehouse_code
            LEFT JOIN material_base mb ON mb.CODE = slcd.material_code
        WHERE
            slcd.del_flag =0
            AND slcd.stock_check_code=#{stockLevel2CheckDetailDTO.stockCheckCode}
            <if test="stockLevel2CheckDetailDTO.materialCode!=null and stockLevel2CheckDetailDTO.materialCode!=''">
                AND slcd.material_code = #{stockLevel2CheckDetailDTO.materialCode}
            </if>
            <if test="stockLevel2CheckDetailDTO.materialName!=null and stockLevel2CheckDetailDTO.materialName!=''">
                AND mb.name LIKE concat('%', #{stockLevel2CheckDetailDTO.materialName}, '%')
            </if>
        ORDER BY
            slcd.create_time DESC
    </select>

    <select id="selectActualNum" resultType="java.lang.Integer">
        SELECT
	        sum( actual_num )
        FROM
	        stock_level2_check_detail
        WHERE
	        stock_check_code = #{code}
	        AND del_flag = 0
    </select>
</mapper>
