<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swsc.copsms.modules.secondLevelWarehouse.mapper.StockLevel2CheckMapper">

    <select id="queryPageList"
            resultType="com.swsc.copsms.modules.secondLevelWarehouse.entity.vo.Stock2CheckVO">
        select slc.id,slc.stock_check_code,slc.warehouse_code,w.warehouse_name warehouseName,
        w.organization_id warehouseDepartment,
                su.realname checkerName,slc.check_start_time,slc.check_end_time,slc.note
        from stock_level2_check slc
        left join stock_level2_info w on w.warehouse_code=slc.warehouse_code
        left join sys_user su on su.id=slc.checker_id
        where 1=1 and slc.del_flag!=1
        <if test="stockCheckCode!=null and stockCheckCode!=''">
            and slc.stock_check_code = #{stockCheckCode}
        </if>
        <if test="warehouseCode!=null and warehouseCode!=''">
            and slc.warehouse_code = #{warehouseCode}
        </if>
        <if test="startTime!=null and startTime!='' and endTime!=null and endTime!='' ">
            and slc.check_start_time between #{startTime} and #{endTime}
        </if>
        order by  slc.create_time desc
    </select>
    <select id="exportXls"
            resultType="com.swsc.copsms.modules.secondLevelWarehouse.entity.dto.StockLevel2CheckExcel">
        select slc.stock_check_code,w.warehouse_name warehouseName,w.organization_id warehouseDepartment,
                su.realname checkerName,slc.check_start_time,slc.check_end_time,slc.note
        from stock_level2_check slc
        left join stock_level2_info w on w.warehouse_code=slc.warehouse_code
        left join sys_user su on su.id=slc.checker_id
        where slc.id in (
        <foreach collection="ids" separator="," item="item">
            #{item}
        </foreach>
        )
    </select>
</mapper>