<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.secondLevelWarehouse.mapper.StockLevel2CheckMapper">

    <select id="queryPageList"
            resultType="com.aiurt.boot.modules.secondLevelWarehouse.entity.vo.Stock2CheckVO">
        SELECT
            slc.id AS id,
            slc.stock_check_code AS stockCheckCode,
            slc.warehouse_code AS warehouseCode,
            w.stock_name AS warehouseName,
            su.realname AS checkerName,
            slc.check_start_time AS checkStartTime,
            slc.check_end_time AS checkEndTime,
            slc.note AS note,
            sd.depart_name AS warehouseDepartment,
            slc.checker_id AS checkerId
        FROM
            stock_level2_check slc
            LEFT JOIN cs_stock_level_two w ON w.stock_code = slc.warehouse_code
            LEFT JOIN sys_user su ON su.id = slc.checker_id
            LEFT JOIN sys_depart sd ON sd.id = w.stock_depart
        WHERE
            slc.del_flag =0
            <if test="stockCheckCode!=null and stockCheckCode!=''">
                AND slc.stock_check_code = #{stockCheckCode}
            </if>
            <if test="warehouseCode!=null and warehouseCode!=''">
                AND slc.warehouse_code = #{warehouseCode}
            </if>
            <if test="startTime!=null and startTime!='' and endTime!=null and endTime!='' ">
                AND slc.check_start_time BETWEEN #{startTime} AND #{endTime}
            </if>
        ORDER BY
            slc.create_time DESC
    </select>
    <select id="exportXls"
            resultType="com.aiurt.boot.modules.secondLevelWarehouse.entity.dto.StockLevel2CheckExcel">
        SELECT
            slc.stock_check_code AS stockCheckCode,
            w.stock_name AS warehouseName,
            su.realname AS checkerName,
            slc.check_start_time AS checkStartTime,
            slc.check_end_time AS checkEndTime,
            slc.note AS note,
            sd.depart_name AS warehouseDepartment
        FROM
            stock_level2_check slc
            LEFT JOIN cs_stock_level_two w ON w.stock_code = slc.warehouse_code
            LEFT JOIN sys_user su ON su.id = slc.checker_id
            LEFT JOIN sys_depart sd ON sd.id = w.stock_depart
        WHERE
            slc.del_flag =0
            <if test="param.stockCheckCode!=null and param.stockCheckCode!=''">
                AND slc.stock_check_code = #{param.stockCheckCode}
            </if>
            <if test="param.warehouseCode!=null and param.warehouseCode!=''">
                AND slc.warehouse_code = #{param.warehouseCode}
            </if>
            <if test="param.startTime!=null and param.startTime!='' and param.endTime!=null and param.endTime!='' ">
                AND slc.check_start_time BETWEEN #{param.startTime} AND #{param.endTime}
            </if>
            <if test="param.stationIds!=null">
            AND slc.id IN (
                <foreach collection="param.stationIds" separator="," item="item">
                    #{item}
                </foreach>
                )
        </if>
        ORDER BY
            slc.create_time DESC
    </select>
</mapper>
