<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.secondLevelWarehouse.mapper.StockInOrderLevel2DetailMapper">


    <select id="selectPageList" resultType="com.aiurt.boot.modules.secondLevelWarehouse.entity.vo.StockInDetailVO">
        SELECT
			s.id AS id,
			s.material_code,
			cs.system_name AS `system`,
			s.material_code AS materialCode,
			mb.`name` AS materialName,
			mb.type AS `type`,
			mb.specifications AS specifications,
			mb.manufacturer AS manufacturer,
			mb.unit AS unit,
			cslt.stock_name AS warehouseName,
			mb.price AS price,
			s.num AS num,
			s.remarks AS remarks
		FROM
			stock_in_order_level2_detail s
			LEFT JOIN material_base mb ON mb.`code` = s.material_code
			LEFT JOIN cs_subsystem cs ON cs.system_code = mb.system_code
			LEFT JOIN stock_in_order_level2 siol ON siol.order_code = s.order_code
			LEFT JOIN cs_stock_level_two cslt ON cslt.stock_code = siol.warehouse_code
		WHERE
			s.del_flag = 0
			AND	s.order_code = #{applyCode}
    </select>
</mapper>
