<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.drools.mapper.DroolsRuleMapper">

    <select id="queryByName" resultType="com.aiurt.boot.drools.entity.DroolsRule">
        select id,name,description,rule,del_flag,create_by,create_time,update_by,update_time
        from drools_rule
        where del_flag=0 and name=#{name}
    </select>
</mapper>