<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.training.mapper.TrainingPlanUserMapper">
	<select id="listByPlanId" resultType="com.aiurt.boot.modules.training.entity.TrainingPlanUser">
		select tpu.*,
		       u.org_name  as teamName,
		       u.post as roleName
		from t_training_plan_user tpu
				     left join sys_user u
				on u.id = tpu.user_id
		where tpu.del_flag = 0
		  and u.del_flag = 0
		  and tpu.plan_id = #{planId}
	</select>

	<select id="listPlan" resultType="com.aiurt.boot.modules.training.vo.PlanUserVO">
		select u.id,
		       tp.id as planId,
		       tp.name,
		       tp.presenter,
		       tp.training_type,
		       tp.start_date,
		       tp.end_date,
		       tp.address,
		       tp.class_hour,
		       u.sign_time
		from t_training_plan_user u
				     left join t_training_plan tp on u.plan_id = tp.id
				where u.del_flag = 0
				  and tp.del_flag = 0
				  and u.user_id = #{param.userId}
		<if test="param.name != null and param.name != ''">
			and tp.name like concat('%', #{param.name}, '%')
		</if>
		<if test="param.trainingType != null">
			and tp.training_type = #{param.trainingType}
		</if>
		<if test="param.address != null and param.address != ''">
			and tp.address like concat('%', #{param.address}, '%')
		</if>
		<if test="param.startDate != null">
			and tp.start_date = #{param.startDate}
		</if>
		<if test="param.endDate != null">
			and tp.end_date = #{param.endDate}
		</if>
		<if test="param.presenter != null and param.presenter != ''">
			and tp.presenter like concat('%', #{param.presenter}, '%')
		</if>

		order by u.id desc
	</select>
</mapper>
