<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.training.mapper.TrainingPlanFileMapper">
	<select id="listByPlanId" resultType="com.aiurt.boot.modules.training.vo.TrainingPlanFileVO">
		select pf.*,
		       f.type,
		       f.name,
		       f.url,
		       f.create_time as uploadTime,
		       u.realname    as uploadName
		from t_training_plan_file pf
				     left join sys_file f on f.id = pf.file_id
				     left join sys_user u on u.id = f.create_by
		where pf.del_flag = 0
		  and f.del_flag = 0
		  and u.del_flag = 0
		  and pf.plan_id = #{planId}
	</select>
</mapper>
