<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.weeklyplan.mapper.BdTeamMapper">
    <select id="queryTeamById" resultType="com.aiurt.boot.weeklyplan.dto.TeamByIdDTO" parameterType="string">
        SELECT a.id as deptId,a.parent_id as parentId,a.depart_name,a.org_type,
        (
        SELECT
        depart_name
        FROM
        sys_depart
        WHERE
        id = a.parent_id
        ) AS parentName
        FROM
        sys_depart a
        <where>
            <if test="id!=null and id!=''">
                a.id = #{id}
            </if>
        </where>
    </select>
    <select id="queryManagedTeam" resultType="com.aiurt.boot.weeklyplan.entity.BdTeam">
        select *
        from sys_depart t
        where find_in_set(id,#{id})&gt;0
        union all
		select *
        from sys_depart t where t.depart_name='外委单位'
        order by id
    </select>

    <select id="queryByUserId" resultType="string">
        select org_id from sys_user
        where id = #{userId}
    </select>
</mapper>
