<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.weeklyplan.mapper.ConstructionWeekPlanCommandMapper">
    <select id="queryPageList" resultType="com.aiurt.boot.weeklyplan.vo.ConstructionWeekPlanCommandVO">
        select cwpc.*, ahp.PROC_INST_ID_ as process_instance_id
    <select id="queryPageList" resultType="com.aiurt.boot.weeklyplan.entity.ConstructionWeekPlanCommand">
        select cwpc.*
        from construction_week_plan_command cwpc
        Left JOIN  act_hi_procinst ahp ON  ahp.BUSINESS_KEY_ = cwpc.id
        where cwpc.del_flag = 0
        <if test="condition.lineCode != null and condition.lineCode != ''">
            and cwpc.line_code = #{condition.lineCode}
        </if>
        <if test="condition.starDate != null and condition.endDate != null">
            and DATE_FORMAT(cwpc.task_date, '%Y-%m-%d')
                between DATE_FORMAT(#{condition.starDate}, '%Y-%m-%d')
            and DATE_FORMAT(#{condition.endDate}, '%Y-%m-%d')
        </if>
        <if test="condition.planChange != null">
            and cwpc.plan_change = #{condition.planChange}
        </if>
        <if test="condition.formStatus != null">
            and cwpc.form_status = #{condition.formStatus}
        </if>
        <if test="condition.formStatusList != null and condition.formStatusList.size() != 0">
            and cwpc.form_status in
            <foreach collection="condition.formStatusList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
