<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.weeklyplan.mapper.ConstructionWeekPlanCommandMapper">
    <select id="queryPageList" resultType="com.aiurt.boot.weeklyplan.vo.ConstructionWeekPlanCommandVO">
        select cwpc.*,
               ahp.PROC_INST_ID_ as process_instance_id,
               ara.ID_           as task_id,
               ara.NAME_         as task_name,
               arp.KEY_          as model_key
        from construction_week_plan_command cwpc
                 Left JOIN act_hi_procinst ahp ON ahp.BUSINESS_KEY_ = cwpc.id
                 LEFT join act_ru_task ara ON ara.PROC_INST_ID_ = ahp.PROC_INST_ID_
                 LEFT JOIN act_re_procdef arp on ahp.PROC_DEF_ID_ = arp.ID_
        where cwpc.del_flag = 0
          and ahp.ID_ is not null
        <if test="condition.lineCode != null and condition.lineCode != ''">
            and cwpc.line_code = #{condition.lineCode}
        </if>
        <if test="condition.starDate != null and condition.endDate != null">
            and DATE_FORMAT(cwpc.task_date, '%Y-%m-%d')
                between DATE_FORMAT(#{condition.starDate}, '%Y-%m-%d')
                and DATE_FORMAT(#{condition.endDate}, '%Y-%m-%d')
        </if>
        <if test="condition.planChange != null">
            and cwpc.plan_change = #{condition.planChange}
        </if>
        <if test="condition.formStatus != null">
            and cwpc.form_status = #{condition.formStatus}
        </if>
        <if test="userId != null and userId != ''">
            and (cwpc.apply_id = #{userId} or cwpc.line_user_id = #{userId} or cwpc.dispatch_id = #{userId} or
                 cwpc.director_id = #{userId} or cwpc.manager_id = #{userId})
        </if>
        <if test="condition.formStatusList != null and condition.formStatusList.size() != 0">
            and cwpc.form_status in
            <foreach collection="condition.formStatusList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="condition.planChangeList != null and condition.planChangeList.size() != 0">
            and cwpc.plan_change in
            <foreach collection="condition.planChangeList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="queryWorkToDo" resultType="com.aiurt.boot.weeklyplan.vo.ConstructionWeekPlanCommandVO">
        select cwpc.*,
               ahp.PROC_INST_ID_ as process_instance_id,
               ara.ID_           as task_id,
               ara.NAME_         as task_name,
               arp.KEY_          as model_key
        from construction_week_plan_command cwpc
                 Left JOIN act_hi_procinst ahp ON ahp.BUSINESS_KEY_ = cwpc.id
                 LEFT join act_ru_task ara ON ara.PROC_INST_ID_ = ahp.PROC_INST_ID_
                 LEFT JOIN act_re_procdef arp on ahp.PROC_DEF_ID_ = arp.ID_
        where cwpc.del_flag = 0
          and ahp.ID_ is not null
          and (ara.ASSIGNEE_ = #{userName} OR ara.ID_ in (
            SELECT TASK_ID_
            FROM act_ru_identitylink ari
            WHERE ari.TYPE_ = 'candidate'
              AND ari.USER_ID_ = #{userName}
              AND ari.TASK_ID_ = ara.ID_
              AND (ara.assignee_ = '' or ara.assignee_ is null)
        ))
        <if test="condition.lineCode != null and condition.lineCode != ''">
            and cwpc.line_code = #{condition.lineCode}
        </if>
        <if test="condition.starDate != null and condition.endDate != null">
            and DATE_FORMAT(cwpc.task_date, '%Y-%m-%d')
                between DATE_FORMAT(#{condition.starDate}, '%Y-%m-%d')
                and DATE_FORMAT(#{condition.endDate}, '%Y-%m-%d')
        </if>
        <if test="condition.planChange != null">
            and cwpc.plan_change = #{condition.planChange}
        </if>
        <if test="condition.formStatus != null">
            and cwpc.form_status = #{condition.formStatus}
        </if>
        <if test="condition.formStatusList != null and condition.formStatusList.size() != 0">
            and cwpc.form_status in
            <foreach collection="condition.formStatusList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
