<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.positionwifi.mapper.CsPositionWifiMapper">

<select id="getMac" resultType="java.lang.String">
    select mac from cs_position_wifi where del_flag = 0 and station_code in
    <foreach collection="stationCodes" open="(" separator="," close=")" item="item" index="index">
        #{item}
    </foreach>
    </select>

<select id="getStationAndMac" resultType="org.jeecg.common.system.vo.StationAndMacModel">
    select cpw.mac ,cs.station_name
    from cs_position_wifi cpw
    left join cs_station cs on cpw.station_code = cs.station_code
    where cpw.del_flag = 0 and cpw.station_code in
    <foreach collection="stationCodes" open="(" separator="," close=")" item="item" index="index">
        #{item}
    </foreach>
    </select>
    <select id="getStationCodeByMac" resultType="java.lang.String">
        SELECT IF(cs.is_change=1,cs.change_code, cs.station_code) AS station_code
        FROM cs_station cs
        INNER JOIN cs_position_wifi cpw ON cpw.station_code = cs.station_code
        WHERE cs.del_flag=0 AND cpw.del_flag=0
        AND cpw.mac=#{mac}
        limit 1
    </select>
</mapper>