<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.fault.mapper.DeviceChangeSparePartMapper">

    <select id="queryDeviceChangeByFaultCode" parameterType="string" resultType="com.aiurt.modules.fault.entity.DeviceChangeSparePart">
        select
        distinct a.*,
        b.name as new_spare_part_name,
        b.specifications,
        c.name as device_name,
        da.material_name as old_spare_part_name,
        b.specifications
        from device_change_spare_part a
        LEFT JOIN material_base b ON  (a.material_base_code = b.`code` and b.del_flag = 0)
        LEFT JOIN device c on c.code = a.device_code
        LEFT join device_assembly da on (a.old_spare_part_code = da.`code` AND a.del_flag = 0 AND da.device_code = c.`code`)
        where a.code = #{faultCode}
        and a.del_flag = 0
    </select>

    <select id="querySpareConsume" resultType="com.aiurt.modules.faultanalysisreport.dto.SpareConsumeDTO">
        select
            sum(ifnull(dcsp.new_spare_part_num,0)) num,
            mb.name spare_name
        from device_change_spare_part dcsp LEFT join material_base mb on dcsp.new_spare_part_code = mb.code
        where dcsp.create_time between #{startDate} and #{endDate}
        and mb.name is not NULL
        GROUP BY dcsp.new_spare_part_code
        order by num  DESC limit 5
    </select>

    <select id="getSparePart" resultType="com.aiurt.common.result.SpareResult">
        select
        b.NAME AS new_spare_part_name,
        c.material_name AS old_spare_part_name,
        a.old_spare_part_num,
        a.new_spare_part_num
        from device_change_spare_part a
        LEFT JOIN material_base b ON  (a.new_spare_part_code = b.`code` and b.del_flag = 0)
        LEFT JOIN device_assembly c ON ( a.old_spare_part_code = c.`code` AND c.del_flag = 1 and c.device_code = a.device_code)
        where a.code = #{faultCode} and a.consumables = 0
        and a.del_flag = 0
        GROUP BY c.material_name
    </select>

    <select id="getAllDeviceChange" resultType="com.aiurt.modules.fault.entity.DeviceChangeSparePart">
        select
        a.device_code,
        a.old_org_code,
        a.old_spare_part_code,
        a.old_spare_part_num,
        a.new_spare_part_num,
        mrd.materials_code as newSparePartCode,
        sum(mrd.apply_num) as applyNum,
        b.name as new_spare_part_name,
        b.specifications,
        c.name as device_name,
        da.material_name as old_spare_part_name,
        b.specifications
        from material_requisition_detail mrd
        left join material_requisition mr on mrd.material_requisition_id = mr.id
        LEFT JOIN device_change_spare_part a on (a.material_base_code = mrd.materials_code and a.repair_record_id = mr.fault_repair_record_id)
        LEFT JOIN material_base b ON  (a.material_base_code = b.`code` and b.del_flag = 0)
        LEFT JOIN device c on c.code = a.device_code
        LEFT join device_assembly da on (a.old_spare_part_code = da.`code` AND a.del_flag = 0 AND da.device_code = c.`code`)
        where
        a.code = #{faultCode}
        and a.repair_record_id = #{recordId}
        and mr.fault_repair_record_id = #{recordId}
        and a.del_flag = 0
        and mrd.del_flag = 0
        group by mr.apply_warehouse_code,mrd.materials_code
    </select>
</mapper>
