<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.fault.mapper.FaultMapper">
    <select id="selectByCode" parameterType="java.lang.String" resultType="com.aiurt.modules.fault.entity.Fault">
        select
        *
        from fault

        where code = #{code}
    </select>
</mapper>
