<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.fault.mapper.FaultDeviceMapper">
    <select id="queryByFaultCode" resultType="com.aiurt.modules.fault.entity.FaultDevice" parameterType="java.lang.String">
        select
            a.device_code,
            a.id,
            b.id as device_id,
            b.name as device_name,
            dt.name as device_type_name,
            dt.code as device_type_code,
            b.line_code,
            cl.line_name,
            cs.station_code,
            cs.station_name,
            a.fault_code,
            csp.position_code,
            csp.position_name
        from
            fault_device a
        LEFT JOIN device b ON  a.device_code = b.code
        LEFT JOIN device_type dt on b.device_type_code = dt.code
        LEFT JOIN cs_line cl on b.line_code = cl.line_code
        LEFT JOIN cs_station cs on b.station_code = cs.station_code
        LEFT JOIN cs_station_position csp on csp.position_code = b.position_code
        where a.fault_code = #{faultCode} AND cl.del_flag =0 and cs.del_flag =0 AND b.del_flag =0
    </select>

    <select id="queryRepairDeviceList" resultType="com.aiurt.modules.fault.dto.FaultDeviceRepairDTO" parameterType="java.lang.String">
        select
            a.*,
            b.id as deviceId,
            b.name as deviceName,
            dt.name as device_type_name,
            dt.code as device_type_code,
            b.line_code,
            cl.line_name,
            cs.station_code,
            cs.station_name,
            a.fault_code,
            csp.position_code,
            csp.position_name,
            f.symptoms as symptoms,
            b.system_code as systemCode,
            f.receive_user_name as receiveUserName,
            f.major_code as majorCode
        from
            fault_device a
                LEFT JOIN fault f on a.fault_code = f.code
                LEFT JOIN fault_repair_record frr on frr.fault_code = f.code
                LEFT JOIN device b ON  a.device_code = b.code
                LEFT JOIN device_type dt on b.device_type_code = dt.code
                LEFT JOIN cs_line cl on b.line_code = cl.line_code
                LEFT JOIN cs_station cs on b.station_code = cs.station_code
                LEFT JOIN cs_station_position csp on csp.position_code = b.position_code
        <where>
        cl.del_flag =0 and cs.del_flag =0 AND b.del_flag =0
            and frr.processing = 2
            and f.status = 12
        <if test="condition.systemCode != null and condition.systemCode != ''">
            and b.system_code =#{condition.systemCode}
        </if>
        <if test="condition.deviceCode != null and condition.deviceCode != ''">
            and a.device_code like concat('%', #{condition.deviceCode}, '%')
        </if>
        <if test="condition.deviceName != null and condition.deviceName != ''">
            and b.name like concat('%', #{condition.deviceName}, '%')
        </if>
        <if test="condition.repairStatus != null and condition.repairStatus !=''">
            and a.repair_status = #{condition.repairStatus}
        </if>
        </where>
    </select>

    <select id="queryDepartId" resultType="java.lang.String" parameterType="java.lang.String">
        select cud.depart_id from fault f
                    left join sys_user su on f.receive_user_name = su.username
                    left join cs_user_depart cud on cud.user_id = su.id
        <where>
        <if test="receiveUserName != null and receiveUserName !=''">
            and f.receive_user_name = #{receiveUserName}
        </if>
        </where>
        group by cud.depart_id
    </select>
    <select id="queryUserId" resultType="java.lang.String" parameterType="java.lang.String">
        select su.username from cs_user_depart cud
        left join sys_user su on  su.id = cud.user_id
        left join sys_user_role sur on sur.user_id = su.id
        left join sys_role sr on sr.id = sur.role_id
        <where>
            and sr.role_code = 'foreman'
            <if test="departId.size()>0">
                and cud.depart_id in
                <foreach item="item" collection="departId" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
        </where>
        group by su.id
    </select>

    <select id="queryRepairUserName" resultType="java.lang.String" parameterType="java.lang.String">
        select su.username from sys_user su
                          left join sys_user_role sur on sur.user_id = su.id
                          left join sys_role sr on sr.id = sur.role_id
        where sr.role_name = '送修经办人' limit 1
    </select>
</mapper>
