<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.fault.mapper.FaultMapper">
    <select id="selectByCode" parameterType="java.lang.String" resultType="com.aiurt.modules.fault.entity.Fault">
        select
        *
        from fault

        where code = #{code}
    </select>

    <select id="queryCsWorkByMajorCode" parameterType="java.lang.String" resultType="com.aiurt.modules.basic.entity.CsWork">
        select * from cs_work where major_code = #{majorCode}
    </select>

    <select id="queryKnowledge" parameterType="com.aiurt.modules.faultknowledgebase.entity.FaultKnowledgeBase" resultType="java.lang.String">
        SELECT
            id
        FROM
            fault_knowledge_base
        WHERE
            MATCH (
            `fault_phenomenon`,
            `fault_reason`,
            `solution`
            ) AGAINST (#{matchName} IN BOOLEAN MODE)
        <if test="majorCode != null and majorCode != ''">
            and major_code = #{majorCode}
        </if>
        <if test="systemCode != null and systemCode != ''">
            and system_code = #{sysOrgCode}
        </if>
    </select>

    <select id="pageList" resultType="com.aiurt.modules.faultknowledgebase.entity.FaultKnowledgeBase">
        select
             *,
        MATCH (
        `fault_phenomenon`,
        `fault_reason`,
        `solution`
        ) AGAINST (#{condition.matchName} IN BOOLEAN MODE) as scode
        from
            fault_knowledge_base
        WHERE
            MATCH (
            `fault_phenomenon`,
            `fault_reason`,
            `solution`
            ) AGAINST (#{condition.matchName} IN BOOLEAN MODE)
        <if test="condition.majorCode != null and condition.majorCode != ''">
            and major_code = #{condition.majorCode}
        </if>
        <if test="condition.systemCode != null and condition.systemCode != ''">
            and system_code = #{condition.sysOrgCode}
        </if>
        order by scode desc
    </select>
</mapper>
