<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.fault.mapper.FaultRepairRecordMapper">
    <select id="queryRecordByFaultCode" resultType="com.aiurt.modules.fault.dto.RepairRecordDetailDTO" parameterType="java.lang.String">
        select
            a.id,
            a.processing,
            a.appoint_user_name,
            su.realname as appoint_real_name,
            a.work_type,
            a.plan_order_code,
            a.solve_status,
            if(a.solve_status =1,'已解决','未解决') as solve_status_name,
            if(a.recevice_time is null, a.assign_time, a.recevice_time) as recevice_time,
            a.start_time,
            a.end_time,
            a.arrive_time,
            a.file_path,
            a.fault_analysis,
            a.fault_phenomenon,
            a.maintenance_measures,
            a.sign_path,
            a.work_ticket_code,
            a.work_tick_path,
            a.symptoms,
            a.repair_duration,
            a.response_duration,
            su.org_name,
            a.method
        from
        fault_repair_record a
        LEFT JOIN sys_user su on a.appoint_user_name = su.username
        where a.fault_code = #{faultCode} order by a.create_time desc
    </select>

    <select id="getRecordByFaultCode" resultType="com.aiurt.modules.fault.dto.RepairRecordDetailDTO">
        select
        a.maintenance_measures,
        su.realname as appoint_real_name
        from
        fault_repair_record a
        LEFT JOIN sys_user su on a.appoint_user_name = su.username
        where a.fault_code = #{faultCode} and a.solve_status = 1 order by a.create_time desc
    </select>

    <select id="personnelPortraitStatic" resultType="com.aiurt.modules.fault.dto.FaultMaintenanceDTO">
        select t_max.username,
        t_max.deviceTypeCode,
        t_max.deviceTypeName,
        max(num) num
        from (select frr.appoint_user_name username,
        dt.code deviceTypeCode,
        dt.name deviceTypeName,
        count(dt.code) num
        from fault_repair_record frr
        join fault_device fd on (frr.fault_code = fd.fault_code and fd.del_flag = 0)
        left join device d on (fd.device_code = d.code and d.del_flag = 0)
        left join device_type dt on (d.device_type_code = dt.code and dt.del_flag = 0)
        where frr.del_flag = 0
        group by frr.appoint_user_name, dt.code) t_max
        group by t_max.username
        <if test="usernames != null and usernames.size() > 0">
            having t_max.username in
            <foreach collection="usernames" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="repairDeviceTopFive" resultType="com.aiurt.modules.fault.dto.FaultHistoryDTO">
        select concat(d.name, '(', d.code, ')') `name`,
               count(d.`code`)                  `value`
        from fault_repair_record frr
                 join fault_device fd on (frr.fault_code = fd.fault_code and fd.del_flag = 0)
                 left join device d on (fd.device_code = d.code and d.del_flag = 0)
                 left join fault f on (frr.fault_code = f.`code`)
        where frr.del_flag = 0
          and `name` is not null
          and f.`status` = #{faultStatus}
          and frr.appoint_user_name = #{username}
        group by d.code
        order by `value` desc limit 5
    </select>

    <select id="deviceInfo" resultType="com.aiurt.modules.fault.dto.FaultDeviceDTO">
        select frr.fault_code                                                   `code`,
               fd.device_code                                                   deviceCode,
               d.name                                                           deviceName,
               concat_ws('/', cl.line_name, cs.station_name, csp.position_name) `position`,
               frr.symptoms                                                     faultPhenomenon,
               frr.end_time                                                     endTime
        from fault_repair_record frr
                 join fault_device fd
                      on (frr.fault_code = fd.fault_code and fd.del_flag = 0)
                 left join device d on (fd.device_code = d.code and d.del_flag = 0)
                 left join cs_line cl on (d.line_code = cl.line_code and cl.del_flag = 0)
                 left join cs_station cs on (d.station_code = cs.station_code and cs.del_flag = 0)
                 left join cs_station_position csp on (d.position_code = csp.position_code and csp.del_flag = 0)
        where frr.del_flag = 0
          and frr.appoint_user_name = #{username}
        order by frr.end_time desc limit 2
    </select>

    <select id="getHandleNumber" resultType="com.aiurt.modules.fault.dto.RadarNumberModelDTO">
        select appoint_user_name username,
               count(id)         number
        from fault_repair_record
        where del_flag = 0
        group by appoint_user_name
    </select>

    <select id="getEfficiency" resultType="com.aiurt.modules.fault.dto.EfficiencyDTO">
        select frr.appoint_user_name username,
               avg(time_to_sec(timediff(frr.start_time, f.assign_time))) responseTime,
               avg(time_to_sec(timediff(frr.end_time, frr.start_time)))  resolveTime
        from fault_repair_record frr
                 join fault f on frr.fault_code = f.code
        where frr.del_flag = 0
          and frr.start_time is not null
          and frr.end_time is not null
          and f.assign_time is not null
        group by f.appoint_user_name
    </select>

    <select id="getTodayRecord" resultType="com.aiurt.modules.fault.entity.FaultRepairRecord">
        SELECT frr.symptoms,frr.appoint_user_name,frr.fault_code,frr.solve_status
        from fault f
        LEFT JOIN fault_repair_record frr on f.code = frr.fault_code and frr.del_flag = 0
        <where>
            f.status = 12
            AND  DATE_FORMAT(f.end_time ,'%Y-%m-%d %H:%i:%S') &gt;= DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%S')
            AND  DATE_FORMAT(f.end_time ,'%Y-%m-%d %H:%i:%S') &lt;= DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%S')
            <if test="userNames != null and userNames.size() != 0">
                and frr.appoint_user_name  in
                <foreach collection="userNames" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by frr.fault_code
    </select>

    <select id="getTodayFault" resultType="com.aiurt.modules.fault.entity.Fault">
        select result.*
        from
            (
                select
                f.code,f.line_code,f.station_code,f.symptoms,f.appoint_user_name,f.status
                from fault f
                LEFT JOIN fault_repair_record frr on f.code = frr.fault_code and frr.del_flag = 0
                <where>
                    f.status = 12
                    AND  DATE_FORMAT(f.end_time ,'%Y-%m-%d %H:%i:%S') &gt;= DATE_FORMAT(#{startTime},'%Y-%m-%d %H:%i:%S')
                    AND  DATE_FORMAT(f.end_time ,'%Y-%m-%d %H:%i:%S') &lt;= DATE_FORMAT(#{endTime},'%Y-%m-%d %H:%i:%S')
                    <if test="userNames != null and userNames.size() != 0">
                        and frr.appoint_user_name  in
                        <foreach collection="userNames" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                </where>
                union all
                select
                f.code,f.line_code,f.station_code,f.symptoms,f.appoint_user_name,f.status
                from fault f
                LEFT JOIN fault_repair_record frr on f.code = frr.fault_code and frr.del_flag = 0
                <where>
                    f.status != 12 and f.status != 0
                    <if test="userNames != null and userNames.size() != 0">
                        and frr.appoint_user_name  in
                        <foreach collection="userNames" item="item" open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                </where>
                    ) as result
        group by result.code
    </select>

    <select id="getUnFinishFaultTask" resultType="com.aiurt.modules.fault.entity.Fault">
        select
        f.code,f.line_code,f.station_code,f.symptoms,f.appoint_user_name,f.status
        from fault f
        LEFT JOIN fault_repair_record frr on f.code = frr.fault_code and frr.del_flag = 0
        <where>
            f.status != 12 and f.status != 0
            <if test="userNames != null and userNames.size() != 0">
                and frr.appoint_user_name  in
                <foreach collection="userNames" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by f.code
    </select>
</mapper>
