<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.fault.mapper.FaultRepairRecordMapper">
    <select id="queryRecordByFaultCode" resultType="com.aiurt.modules.fault.dto.RepairRecordDetailDTO" parameterType="java.lang.String">
        select * from  fault_repair_record a where a.fault_code = #{faultCode}
    </select>
</mapper>
