<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.train.question.mapper.BdQuestionOptionsAttMapper">

<select id="getAtt" resultType="com.aiurt.modules.train.question.entity.BdQuestionOptionsAtt">
    select * from bd_question_options_att where question_id = #{id}
    </select>
</mapper>