<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.flow.mapper.ActCustomTaskCommentMapper">

    <update id="updateWorkticketState" parameterType="java.lang.String">
        update bd_work_ticket set state = 9 where id = #{id}
    </update>
    
    <update id="updateConstructionWeekPlanCommand">
        update construction_week_plan_command set form_status = 4 where id = #{id}
    </update>
</mapper>
