<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.schedule.mapper.ScheduleLogMapper">

<select id="queryPageList" resultType="com.aiurt.modules.schedule.entity.ScheduleLog">
    select sl.*,su.work_no  from schedule_log sl left join sys_user su on sl.user_id = su.id
    where sl.del_flag = 0
    <if test="scheduleLog.text != null and scheduleLog.text != ''">
        AND (su.realname like CONCAT( '%', #{scheduleLog.text}, '%' )
        or su.work_no like CONCAT( '%', #{scheduleLog.text}, '%' ))
    </if>
    <if test="scheduleLog.startDate!=null ">
    and sl.date &gt;= #{scheduleLog.startDate}
    </if>
    <if test="scheduleLog.endDate!=null ">
    and sl.date &lt;= #{scheduleLog.endDate}
    </if>
    <if test="scheduleLog.userId!=null and scheduleLog.userId!=''">
        and sl.user_id = #{scheduleLog.userId}
    </if>
    <if test="scheduleLog.userList != null and scheduleLog.userList.size() != 0">
        and su.id in
        <foreach collection="scheduleLog.userList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </if>
    order by sl.create_time desc
    </select>
</mapper>
