<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.schedule.mapper.ScheduleRecordMapper">

    <select id="getScheduleRecordBySchedule"
            resultType="com.aiurt.modules.schedule.entity.ScheduleRecord">
        select sr.*,
               si.name  as itemName,
               si.color as itemColor
        from schedule_record sr
                 left join schedule_item si on sr.item_id = si.id
        where sr.schedule_id = ${scheduleId}
        order by date
    </select>
    <select id="getScheduleUserByDate" resultType="com.aiurt.modules.schedule.model.ScheduleUser">
        select sr.user_id as userId,
        su.realname as userName
        from schedule_record sr
        inner join sys_user su on sr.user_id = su.id
        where su.status = 1
        and su.del_flag = 0
        AND DATE_FORMAT(sr.date, '%Y-%m') = #{date}
        and sr.del_flag=0
        <if test="username !=null and username !=''">
            and su.realname like concat('%',#{username},'%')
        </if>
        group by sr.user_id
    </select>
    <select id="getScheduleUserByDateAndOrgCode" resultType="com.aiurt.modules.schedule.model.ScheduleUser">
        select sr.user_id as userId,
        su.realname as userName
        from schedule_record sr
        inner join sys_user su on sr.user_id = su.id
        where su.status = 1
        and su.del_flag = 0
        AND DATE_FORMAT(sr.date, '%Y-%m') = #{date}
        and sr.del_flag=0
        and su.org_code like concat(#{orgCode},'%')
        <if test="username !=null and username !=''">
            and su.realname like concat('%',#{username},'%')
        </if>
        group by sr.user_id
    </select>
    <select id="getScheduleUserByDateAndOrgCodeAndOrgId"
            resultType="com.aiurt.modules.schedule.model.ScheduleUser">
        select sr.user_id as userId,
        su.realname as userName,
        su.org_name as orgName,
        su.work_no as workNo
        from schedule_record sr
        inner join sys_user su on sr.user_id = su.id
        where su.status = 1
        and su.del_flag = 0
        AND  sr.date like CONCAT (#{date},'%')
        and sr.del_flag=0
        <if test="orgId !=null and orgId !=''">
            and su.org_id = #{orgId}
        </if>
        and su.org_code like concat(#{orgCode},'%')
        <if test="username !=null and username !=''">
            and su.realname like concat('%',#{username},'%')
        </if>
        group by sr.user_id
    </select>
    <select id="getDutyUserByOrgIdAndDate" resultType="com.aiurt.modules.schedule.model.SysUserScheduleModel">
        select sr.user_id as userId,
        su.realname as realName,
        sr.item_name as itemName,
        IF (sr.item_name = '夜', 1, 0) as status
        FROM sys_user su
        INNER JOIN schedule_record sr on su.id = sr.user_id
        WHERE
        sr.date = #{date}
        <if test="orgId !=null and orgId !=''">
            and su.org_id = #{orgId}
        </if>
        AND sr.item_name != '休'
        AND sr.del_flag = 0
    </select>
    <select id="getRecordListByUserAndDate"
            resultType="com.aiurt.modules.schedule.model.ScheduleRecordModel">
        select sr.id      as id,
               sr.user_id as userId,
               sr.date as date,
               sr.item_id as itemId,
               si.name as itemName,
               si.color as color,
               si.start_time as startTime ,
               si.end_time as endTime
        from schedule_record sr
            inner join schedule_item si
        on sr.item_id = si.id
        where DATE_FORMAT(sr.date
            , '%Y-%m') = #{date}
          and sr.user_id = #{userId}
          and sr.del_flag = 0
          and si.del_flag=0
        order by sr.date
    </select>
    <select id="getAllScheduleRecordsByMonth"
            resultType="com.aiurt.modules.schedule.model.ScheduleRecordModel">
        select sr.id as id,
        sr.user_id as userId,
        sr.date as date,
        su.realname as userName,
        sr.item_id as itemId,
        si.name as itemName,
        si.color as color,
        si.start_time as startTime ,
        si.end_time as endTime
        from schedule_record sr
        inner join schedule_item si
        on sr.item_id = si.id
        inner join sys_user su on sr.user_id=su.id
        where DATE_FORMAT(sr.date
        , '%Y-%m') = #{date}
        and sr.del_flag = 0
        and si.del_flag=0
        <if test="orgId !=null and orgId !=''">
            and su.org_id=#{orgId}
        </if>
        <if test="text != null and text != ''">
            AND su.realname like CONCAT( '%', #{text}, '%' )
            or su.work_no like CONCAT( '%', #{text}, '%' )
        </if>
        order by sr.date, sr.item_id
    </select>
    <select id="getMySchedule"
            resultType="com.aiurt.modules.schedule.model.ScheduleRecordModel">
        select sr.id as id,
        sr.user_id as userId,
        sr.date as date,
        su.realname as userName,
        su.org_name as orgName,
        sr.item_id as itemId,
        si.name as itemName,
        si.color as color,
        si.start_time as startTime,
        si.end_time as endTime,
        si.time_id as timeId
        from schedule_record sr
        inner join schedule_item si
        on sr.item_id = si.id
        inner join sys_user su on sr.user_id=su.id
        where DATE_FORMAT(sr.date
        , '%Y-%m') = #{date}
        and sr.del_flag = 0
        and si.del_flag=0
        <if test="userId !=null and userId !=''">
            and su.id=#{userId}
        </if>
        order by sr.date, sr.item_id
    </select>

    <select id="getScheduleUserDataByDay"
            resultType="org.jeecg.common.system.vo.LoginUser">
        select
        su.avatar as avatar,
        su.username as username,
        su.realname as realname,
        su.id as id,
        su.org_name as orgName,
        su.post as post,
        su.salary_code as salaryCode,
        su.permit_code as permitCode,
        sr.item_id as status,
        su.org_id as orgId,
        su.org_code as orgCode
        from schedule_record sr
        inner join sys_user su on sr.user_id=su.id
        where TO_DAYS(sr.date) = TO_DAYS(#{day})
        and sr.del_flag = 0
        <if test="orgId !=null and orgId !=''">
            and su.org_id=#{orgId}
        </if>
        order by sr.date, sr.item_id
    </select>
    <select id="getRecordListByDay" resultType="com.aiurt.modules.schedule.model.ScheduleRecordModel">
        select sr.id      as id,
               sr.user_id as userId,
               sr.date as date,
               su.realname as userName,
               sr.item_id as itemId,
               si.name as itemName,
               si.color as color
        from schedule_record sr
            inner join schedule_item si
        on sr.item_id = si.id
            inner join sys_user su on sr.user_id=su.id
        where DATE_FORMAT(sr.date
            , '%Y-%m-%d') = #{date}
          and sr.del_flag = 0
          and si.del_flag=0
        order by sr.date, sr.item_id
    </select>
    <select id="getRecordListByDayAndUserIds" resultType="com.aiurt.modules.schedule.model.ScheduleRecordModel">
        select sr.id      as id,
               sr.user_id as userId,
               sr.date as date,
               su.realname as userName,
               sr.item_id as itemId,
               si.name as itemName,
               si.color as color
        from schedule_record sr
            inner join schedule_item si
        on sr.item_id = si.id
            inner join sys_user su on sr.user_id=su.id
        where DATE_FORMAT(sr.date
            , '%Y-%m-%d') = #{date}
        <if test="userIds !=null and userIds.size > 0">
            and su.id in
            <foreach collection="userIds" open="(" close=")"  index="index"   separator="," item="userId">
                #{userId}
            </foreach>
        </if>
          and sr.del_flag = 0
          and si.del_flag=0
        order by sr.date, sr.item_id
    </select>

    <select id="getRecordListInDays" resultType="com.aiurt.modules.schedule.entity.ScheduleRecord">
        select sr.*, DATE_FORMAT(sr.date, '%d') as excelIndex,si.name as itemName
        from schedule_record sr
                 inner join schedule_item si on sr.item_id = si.id
        where sr.date &gt;= DATE_FORMAT(#{start}, '%Y-%m-%d')
          and sr.date &lt;= DATE_FORMAT(#{end}, '%Y-%m-%d')
          and sr.user_id = #{userId}
          and si.del_flag = 0
          and sr.del_flag = 0

    </select>
    <select id="getZhiBanNum" parameterType="map" resultType="integer">
        select COUNT(a.id) from schedule_record a left join sys_user b on a.user_id=b.id
        where a.del_flag=0 and a.item_name!='休'
        <if test="orgIds !=null and orgIds !=''">
            and b.org_id in
            <foreach collection="orgIds" open="(" close=")"     separator="," item="orgId">
                #{orgId}
            </foreach>
        </if>
        <if test="today!=null and today!=''">
            and a.date = #{today}
        </if>
    </select>

    <select id="getDutyUserListByOrgIdsAndDate" resultType="org.jeecg.common.system.vo.LoginUser">
        select
            su.avatar as avatar,
            su.username as username,
            su.realname as realname,
            su.id as id,
            su.org_name as orgName,
            su.post as post,
            su.salary_code as salaryCode,
            su.permit_code as permitCode,
            sr.item_id as status,
            su.org_id as orgId,
            su.org_code as orgCode
        FROM sys_user su
        INNER JOIN schedule_record sr on su.id = sr.user_id
        WHERE
        sr.date = #{date}
        <if test="orgIds !=null and orgIds.size > 0">
            and su.org_id in
            <foreach collection="orgIds" open="(" close=")"  index="index"   separator="," item="orgId">
                #{orgId}
            </foreach>
        </if>
        AND sr.item_name != '休'
        AND sr.del_flag = 0
    </select>
    <select id="userList" resultType="org.jeecg.common.system.vo.LoginUser">
        select *
        from sys_user su
        where su.org_id = #{orgCode}
    </select>
    <select id="getRoleCodeById" resultType="java.lang.String">
     select role_code
     from sys_user a
        inner join sys_user_role b on a.id = b.user_id
        inner join sys_role c on b.role_id = c.id
     where a.id = #{id}
    </select>
    <select id="getStaffOnDuty" resultType="com.aiurt.modules.schedule.dto.SysUserScheduleDTO">
     SELECT
	sr.user_id AS userId,
	sr.date AS date,
	su.realname AS userName,
	si.NAME AS itemName,
	su.phone as telephone
    FROM
	schedule_record sr
	INNER JOIN schedule_item si ON sr.item_id = si.id
	INNER JOIN sys_user su ON sr.user_id = su.id
    WHERE
	DATE_FORMAT( sr.date, '%Y-%m-%d' ) =DATE_FORMAT( #{scheduleRecordDTO.startTime},'%Y-%m-%d')
	AND sr.del_flag = 0
	AND si.del_flag = 0
	<if test="scheduleRecordDTO.name!=null and scheduleRecordDTO.name!=''">
        AND  su.realname LIKE CONCAT('%', #{scheduleRecordDTO.name}, '%')
    </if>
    <if test="scheduleRecordDTO.shift!=null">
        AND  sr.item_id =  #{scheduleRecordDTO.shift}
    </if>
    ORDER BY
	sr.date,
	sr.item_id
    </select>
    <select id="getTodayOndutyDetail" resultType="com.aiurt.modules.schedule.dto.SysUserTeamDTO">
        SELECT
        sr.user_id AS userId,
        su.realname AS realName,
        su.username,
        su.avatar,
        su.permit_code,
        su.salary_code,
        su.org_name as teamName
        FROM
        schedule_record sr
        INNER JOIN schedule_item si ON sr.item_id = si.id
        INNER JOIN sys_user su ON sr.user_id = su.id
        WHERE
        DATE_FORMAT( sr.date, '%Y-%m-%d' ) =DATE_FORMAT( #{date},'%Y-%m-%d')
        AND sr.del_flag = 0
        AND si.del_flag = 0
        <if test="orgCodes.size()>0  and orgCodes!=null">
            and su.org_code in
            <foreach collection="orgCodes" separator="," open="(" close=")" item="org">
                #{org}
            </foreach>
        </if>
        <if test="orgCode!=null and orgCode!=''">
            and su.org_code = #{orgCode}
        </if>
        ORDER BY
        sr.date,
        sr.item_id
    </select>
    <select id="getUserByDepIds" resultType="com.aiurt.modules.schedule.dto.SysUserTeamDTO">
    SELECT
        su.id AS userId,
        su.avatar,
        su.realname AS realName,
        su.username,
        su.permit_code,
        su.salary_code,
        su.org_name as teamName
    FROM
        sys_user su
    <where>
     su.del_flag =0
    <if test="orgCode!=null and orgCode!=''">
        and su.org_code = #{orgCode}
    </if>
    <if test="orgCodes.size()>0  and orgCodes!=null">
      and  su.org_code in
      <foreach collection="orgCodes" item="orgCode" open="(" close=")" separator=",">
          #{orgCode}
      </foreach>
    </if>
    </where>
    </select>
    <select id="getTotalTeamDetail" resultType="com.aiurt.modules.schedule.dto.SysTotalTeamDTO">
    SELECT
        sd.depart_name as teamName,
        GROUP_CONCAT( DISTINCT wa.position ) as location,
        GROUP_CONCAT( DISTINCT su.realname ) as teamLeader,
        count( DISTINCT was.station_code )  as number
    FROM
        sys_depart sd
        LEFT JOIN work_area_org wao ON wao.org_code = sd.org_code AND wao.del_flag = 0
        left join sys_user su on su.id = sd.manager_id AND su.del_flag = 0
        LEFT JOIN work_area wa ON wa.CODE = wao.work_area_code AND wa.del_flag = 0
        LEFT JOIN work_area_station was ON was.work_area_code = wa.`code` AND was.del_flag = 0
    WHERE
        sd.del_flag = 0
        <if test="orgCodes.size()>0 and orgCodes!=null">
            AND sd.org_code in
            <foreach collection="orgCodes" item="code" open="(" close=")" separator=",">
                #{code}
            </foreach>
        </if>
    GROUP BY
        sd.id
    </select>
    <select id="getTodayOndutyDetailNoPage" resultType="com.aiurt.modules.schedule.dto.SysUserTeamDTO">
        SELECT
        sr.user_id AS userId,
        su.realname AS realName,
        su.username,
        su.avatar,
        su.permit_code,
        su.salary_code,
        su.org_name as teamName
        FROM
        schedule_record sr
        INNER JOIN schedule_item si ON sr.item_id = si.id
        INNER JOIN sys_user su ON sr.user_id = su.id
        WHERE
        DATE_FORMAT( sr.date, '%Y-%m-%d' ) =DATE_FORMAT( #{date},'%Y-%m-%d')
        AND sr.del_flag = 0
        AND si.del_flag = 0
        <if test="orgCodes.size()>0  and orgCodes!=null">
            and su.org_code in
            <foreach collection="orgCodes" separator="," open="(" close=")" item="org">
                #{org}
            </foreach>
        </if>
        ORDER BY
        sr.date,
        sr.item_id
    </select>
</mapper>
