<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.schedule.mapper.ScheduleRuleItemMapper">

    <select id="getDetailRuleItems" resultType="com.aiurt.modules.schedule.entity.ScheduleRuleItem">
        select sri.*,
        si.name as itemName,
        si.color as color,
        si.start_time as startTime,
        si.end_time as endTime
        from schedule_rule_item sri
        join schedule_item si on sri.item_id = si.id
        where si.del_flag = 0 and sri.rule_id = #{ruleId};
    </select>
</mapper>
