<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.index.mapper.FaultCountMapper">
    <select id="queryFaultCount" parameterType="Date" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            <if test="startDate!=null and endDate!=null">
                and date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{startDate},'%Y-%m-%d')
                and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{endDate},'%Y-%m-%d')
            </if>
        </where>
    </select>

    <select id="getFaultCountInfo" resultType="com.aiurt.modules.fault.dto.FaultCountInfoDTO">
        select * from fault
        <where>
            <if test="faultCountInfoReq.type == 1">
                AND 1 = 1
            </if>
            <if test="faultCountInfoReq.type == 2">
                AND status = 12
            </if>
            <if test="faultCountInfoReq.startDate!=null and faultCountInfoReq.endDate!=null">
                and date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{faultCountInfoReq.startDate},'%Y-%m-%d')
                and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{faultCountInfoReq.endDate},'%Y-%m-%d')
            </if>
            <if test="faultCountInfoReq.faultLevel != null">
                and fault_level  = #{faultCountInfoReq.faultLevel}
            </if>
            <if test="faultCountInfoReq.status != null">
                and status  = #{faultCountInfoReq.status}
            </if>
            <if test="faultCountInfoReq.appointUserName != null">
                and appoint_user_name  like concat( '%' , #{faultCountInfoReq.appointUserName}, '%')
            </if>
            <if test="faultCountInfoReq.faultModeCode != null">
                and fault_mode_code  = #{faultCountInfoReq.faultModeCode}
            </if>
        </where>
    </select>

    <select id="getFaultCountInfos" resultType="com.aiurt.modules.fault.dto.FaultCountInfosDTO">
        select * from fault
        <where>
            <if test="faultCountInfoReq.type == 3">
                AND status &lt;&gt; 12
            </if>
            <if test="faultCountInfoReq.type == 4">
                AND status = 10
            </if>
            <if test="faultCountInfoReq.startDate!=null and faultCountInfoReq.endDate!=null">
                and date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{faultCountInfoReq.startDate},'%Y-%m-%d')
                and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{faultCountInfoReq.endDate},'%Y-%m-%d')
            </if>
            <if test="faultCountInfoReq.faultLevel != null">
                and fault_level  = #{faultCountInfoReq.faultLevel}
            </if>
            <if test="faultCountInfoReq.status != null">
                and status  = #{faultCountInfoReq.status}
            </if>
            <if test="faultCountInfoReq.appointUserName != null">
                and appoint_user_name  like concat( '%' , #{faultCountInfoReq.appointUserName}, '%')
            </if>
            <if test="faultCountInfoReq.faultModeCode != null">
                and fault_mode_code  = #{faultCountInfoReq.faultModeCode}
            </if>
        </where>
    </select>



    <select id="getFaultData" resultType="com.aiurt.modules.fault.dto.FaultTimeoutLevelDTO">
        select * from fault
        <where>
            <if test="level == 1">
                AND status &lt;&gt; 12
                and TIMESTAMPDIFF(HOUR,happen_time,now()) &gt;=48
            </if>
            <if test="level == 2">
                AND status &lt;&gt; 12
                and TIMESTAMPDIFF(HOUR,happen_time,now()) &gt;=24
                    and TIMESTAMPDIFF(HOUR,happen_time,now()) &lt;= 48
            </if>
            <if test="level == 3">
                AND status &lt;&gt; 12
                    and TIMESTAMPDIFF(HOUR,happen_time,now()) &gt;=12
                    and TIMESTAMPDIFF(HOUR,happen_time,now()) &lt;= 24
            </if>
            <if test="faultTimeoutLevelReq.startDate!=null and faultTimeoutLevelReq.endDate!=null">
                and date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{faultTimeoutLevelReq.startDate},'%Y-%m-%d')
                and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{faultTimeoutLevelReq.endDate},'%Y-%m-%d')
            </if>
            <if test="faultTimeoutLevelReq.faultLevel != null">
                and fault_level  = #{faultTimeoutLevelReq.faultLevel}
            </if>
            <if test="faultTimeoutLevelReq.status != null">
                and status  = #{faultTimeoutLevelReq.status}
            </if>
            <if test="faultTimeoutLevelReq.appointUserName != null">
                and appoint_user_name  like concat( '%' , #{faultTimeoutLevelReq.appointUserName}, '%')
            </if>
            <if test="faultTimeoutLevelReq.faultModeCode != null">
                and fault_mode_code  = #{faultTimeoutLevelReq.faultModeCode}
            </if>
        </where>
    </select>

    <select id="getDailyFaultNum" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        where status = 12  and date_format(end_time ,'%Y-%m-%d') =date_format(#{dateTime} ,'%Y-%m-%d')
    </select>

    <select id="getMainFaultCondition" resultType="com.aiurt.modules.fault.dto.FaultTimeoutLevelDTO">
        select * from fault
        where status = 12  and date_format(end_time ,'%Y-%m-%d') =date_format(#{startDate} ,'%Y-%m-%d')
    </select>
</mapper>
