<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.index.mapper.FaultCountMapper">
    <select id="queryFaultCount" parameterType="Date" resultType="com.aiurt.modules.fault.entity.Fault">
    <if test="isDirector==true">
   select r.* from fault r
    </if>
    <if test="isDirector==false">
    select r.*from (select t.*,(select org_id from sys_user where t.appoint_user_name = username)as orgId from fault t) as r
    </if>
     <where>
           <if test="startDate!=null and endDate!=null">
                 date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{startDate},'%Y-%m-%d')
                and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{endDate},'%Y-%m-%d')
            </if>
              <if test="ordList != null and ordList.size() != 0 and isDirector ==false">
              AND  r.orgId in
            <foreach collection="ordList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
             </foreach>
            </if>
                <if test="majorByUserId != null and majorByUserId.size() != 0 and isDirector ==true ">
              AND  r.major_code in
            <foreach collection="majorByUserId" item="item" index="index" open="(" close=")" separator=",">
            #{item}
             </foreach>
            </if>
        </where>
    </select>

    <select id="getFaultCountInfo" resultType="com.aiurt.modules.fault.dto.FaultCountInfoDTO">
            select * from fault
        <where>
                    <if test="faultCountInfoReq.type == 1">
                        AND 1 = 1
                    </if>
                    <if test="faultCountInfoReq.type == 2">
                        AND status = 12
                    </if>
                    <if test="faultCountInfoReq.startDate!=null and faultCountInfoReq.endDate!=null">
                        and date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{faultCountInfoReq.startDate},'%Y-%m-%d')
                        and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{faultCountInfoReq.endDate},'%Y-%m-%d')
                    </if>
                    <if test="faultCountInfoReq.faultLevel != null">
                        and fault_level  = #{faultCountInfoReq.faultLevel}
                    </if>
                    <if test="faultCountInfoReq.status != null">
                        and status  = #{faultCountInfoReq.status}
                    </if>
                    <if test="userNameByRealName != null and userNameByRealName.size() != 0">
                        and appoint_user_name  in
                        <foreach collection="userNameByRealName" item="item" index="index" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
                    <if test="faultCountInfoReq.faultModeCode != null">
                        and fault_mode_code  = #{faultCountInfoReq.faultModeCode}
                    </if>
<!--                    <if test="ordList != null and ordList.size() != 0  ">-->
<!--                        AND  r.sys_org_code in-->
<!--                        <foreach collection="ordList" item="item" index="index" open="(" close=")" separator=",">-->
<!--                            #{item}-->
<!--                        </foreach>-->
<!--                    </if>-->
                    <if test="majorByUserId != null and majorByUserId.size() != 0 ">
                         AND major_code in
                        <foreach collection="majorByUserId" item="item" index="index" open="(" close=")" separator=",">
                             #{item}
                        </foreach>
                    </if>
                   <if test="stationCodeList != null and stationCodeList.size() != 0">
                       and station_code in
                       <foreach collection="stationCodeList" separator="," open="(" close=")" item="item">
                           #{item}
                       </foreach>
                   </if>
        </where>
    </select>

    <select id="getFaultCountInfos" resultType="com.aiurt.modules.fault.dto.FaultCountInfosDTO">
        select * from fault
            <where>
                <if test="faultCountInfoReq.type == 3">
                    AND status &lt;&gt; 12
                </if>
                <if test="faultCountInfoReq.type == 4">
                    AND status = 10
                </if>
                <if test="faultCountInfoReq.startDate!=null and faultCountInfoReq.endDate!=null">
                    and date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{faultCountInfoReq.startDate},'%Y-%m-%d')
                    and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{faultCountInfoReq.endDate},'%Y-%m-%d')
                </if>
                <if test="faultCountInfoReq.faultLevel != null">
                    and fault_level  = #{faultCountInfoReq.faultLevel}
                </if>
                <if test="faultCountInfoReq.status != null">
                    and status  = #{faultCountInfoReq.status}
                </if>
                <if test="userNameByRealName != null and userNameByRealName.size() != 0">
                    and appoint_user_name  in
                    <foreach collection="userNameByRealName" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="faultCountInfoReq.faultModeCode != null">
                    and fault_mode_code  = #{faultCountInfoReq.faultModeCode}
                </if>
<!--                <if test="ordList != null and ordList.size() != 0 ">-->
<!--                    AND  r.sys_org_code in-->
<!--                    <foreach collection="ordList" item="item" index="index" open="(" close=")" separator=",">-->
<!--                        #{item}-->
<!--                    </foreach>-->
<!--                </if>-->
                <if test="majorByUserId != null and majorByUserId.size() != 0">
                  AND major_code in
                    <foreach collection="majorByUserId" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
                <if test="stationCodeList != null and stationCodeList.size() != 0">
                    and station_code in
                    <foreach collection="stationCodeList" separator="," open="(" close=")" item="item">
                        #{item}
                    </foreach>
                </if>
            </where>
    </select>



    <select id="getFaultData" resultType="com.aiurt.modules.fault.dto.FaultTimeoutLevelDTO">
        select * from fault
            <where>
                <if test="level == 1">
                    AND status &lt;&gt; 12
                    and TIMESTAMPDIFF(HOUR,happen_time,now()) &gt;=#{lv1Hours}
                </if>
                <if test="level == 2">
                    AND status &lt;&gt; 12
                    and TIMESTAMPDIFF(HOUR,happen_time,now()) &gt;=#{lv2Hours}
                        and TIMESTAMPDIFF(HOUR,happen_time,now()) &lt; #{lv1Hours}
                </if>
                <if test="level == 3">
                    AND status &lt;&gt; 12
                        and TIMESTAMPDIFF(HOUR,happen_time,now()) &gt;=#{lv3Hours}
                        and TIMESTAMPDIFF(HOUR,happen_time,now()) &lt; #{lv2Hours}
                </if>
                <if test="faultTimeoutLevelReq.startDate!=null and faultTimeoutLevelReq.endDate!=null">
                    and date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{faultTimeoutLevelReq.startDate},'%Y-%m-%d')
                    and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{faultTimeoutLevelReq.endDate},'%Y-%m-%d')
                </if>
                <if test="faultTimeoutLevelReq.faultLevel != null">
                    and fault_level  = #{faultTimeoutLevelReq.faultLevel}
                </if>
                <if test="faultTimeoutLevelReq.status != null">
                    and status  = #{faultTimeoutLevelReq.status}
                </if>
                <if test="faultTimeoutLevelReq.faultModeCode != null">
                    and fault_mode_code  = #{faultTimeoutLevelReq.faultModeCode}
                </if>
                <if test="userNameByRealName != null and userNameByRealName.size() != 0">
                    and appoint_user_name  in
                    <foreach collection="userNameByRealName" item="item" index="index" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </if>
<!--                <if test="faultTimeoutLevelReq.orgList != null and faultTimeoutLevelReq.orgList.size() != 0 ">-->
<!--                  AND  fault.sys_org_code in-->
<!--                 <foreach collection="faultTimeoutLevelReq.orgList" item="item" index="index" open="(" close=")" separator=",">-->
<!--                    #{item}-->
<!--                 </foreach>-->
<!--                </if>-->
                <if test="majorByUserId != null and majorByUserId.size() != 0 ">
                  AND  major_code in
                 <foreach collection="majorByUserId" item="item" index="index" open="(" close=")" separator=",">
                     #{item}
                 </foreach>
                </if>
                <if test="stationCodeList != null and stationCodeList.size() != 0">
                    and station_code in
                    <foreach collection="stationCodeList" separator="," open="(" close=")" item="item">
                        #{item}
                    </foreach>
                </if>
            </where>
    </select>

    <select id="getDailyFaultNum" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        where status = 12  and date_format(end_time ,'%Y-%m-%d') =date_format(#{dateTime} ,'%Y-%m-%d')
    </select>

    <select id="getMainFaultCondition" resultType="com.aiurt.modules.fault.dto.FaultTimeoutLevelDTO">
        select * from fault
        where status = 12  and date_format(end_time ,'%Y-%m-%d') =date_format(#{startDate} ,'%Y-%m-%d')
    </select>
</mapper>
