<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.manager.mapper.InspectionManagerMapper">

    <select id="translateMajor" resultType="java.lang.String">
        select major_name from cs_major
        <where>
            del_flag = 0
            <if test="codeList.size()>0">
                and major_code in
                <foreach item="item" collection="codeList" separator="," open="(" close=")" index="">
                  #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="translateSubsystem" resultType="java.lang.String">
        select system_name from cs_subsystem
        <where>
            del_flag = 0
            <if test="codeList.size()>0">
                and system_code in
                <foreach item="item" collection="codeList" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="translateOrg" resultType="java.lang.String">
        select depart_name from sys_depart
        <where>
            del_flag = 0
            <if test="codeList.size()>0">
                and org_code in
                <foreach item="item" collection="codeList" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="translateStation" resultType="java.lang.String">
        select station_name from cs_station where del_flag = 0 and station_code = #{code}
    </select>
    <select id="translateLine" resultType="java.lang.String">
        select line_name from cs_line where del_flag = 0 and line_code = #{code}
    </select>
    <select id="translatePosition" resultType="java.lang.String">
        select position_name from cs_station_position where del_flag = 0 and position_code = #{code}
    </select>
    <select id="queryDeviceByCodes" resultType="com.aiurt.boot.plan.dto.RepairDeviceDTO">
        select cm.major_name,cs.system_name as subsystemName,dt.`name` as deviceTypeName,line_code,station_code,position_code,d.code,d.name,d.status,d.temporary
        from device d
        left join cs_major cm on  cm.major_code = d.major_code
        left join cs_subsystem  cs on cs.system_code = d.system_code
        left join device_type dt on dt.`code` = d.device_type_code
        <where>
            <if test="deviceCodes.size()>0">
                d.code in
                <foreach collection="deviceCodes" item="deviceCode" open="(" close=")" separator=",">
                #{deviceCode}
                </foreach>
            </if>
        </where>
    </select>
    <select id="queryNameByCode" resultType="java.lang.String">
        select name from device_type where code = #{code} and del_flag =0
    </select>
    <select id="queryDeviceByCodesPage" resultType="com.aiurt.boot.plan.dto.RepairDeviceDTO">
        select cm.major_name,cs.system_name as subsystemName,dt.`name` as deviceTypeName,line_code,station_code,position_code,d.code,d.name,d.status,d.temporary
        from device d
        left join cs_major cm on  cm.major_code = d.major_code
        left join cs_subsystem  cs on cs.system_code = d.system_code
        left join device_type dt on dt.`code` = d.device_type_code
        <where>
            <if test="deviceCodes.size()>0">
                d.code in
                <foreach collection="deviceCodes" item="deviceCode" open="(" close=")" separator=",">
                    #{deviceCode}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
