<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.task.mapper.PatrolTaskStandardMapper">
    <select id="getMajorSystemName" resultType="com.aiurt.boot.task.dto.PatrolTaskStandardDTO">
        select
        cm.major_name as majorName ,cs.system_name as sysName
        from patrol_task_standard pst
        left join cs_major cm on pst.profession_code = cm.major_code
        left join cs_subsystem cs on pst.subsystem_code = cs.system_code
        where pst.task_id= #{id}
    </select>
</mapper>