<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.task.mapper.PatrolAccessoryMapper">

<select id="getAllAccessory" resultType="com.aiurt.boot.task.dto.PatrolAccessoryDTO">
select t1.*
from patrol_accessory t1
where t1.task_device_id = #{taskDeviceId} and t1.check_result_id = #{checkResultId}
</select>
<select id="getCheckAllAccessory" resultType="com.aiurt.boot.task.dto.PatrolAccessoryDTO">
select t1.*
from patrol_accessory t1
where t1.task_device_id = #{taskDeviceId}
</select>
</mapper>