<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.task.mapper.PatrolTaskMapper">
    <select id="getPatrolTaskList" resultType="com.aiurt.boot.task.dto.PatrolTaskDTO">
        select t1.*
        from patrol_task t1
        <where>
            <if test="patrolTaskDTO.patrolDate !=null">
                DATE_FORMAT(t1.patrol_date, '%Y-%m-%d') = DATE_FORMAT(#{patrolTaskDTO.patrolDate}, '%Y-%m-%d')
            </if>
            <if test="patrolTaskDTO.status!=null">
                and t1.status = #{patrolTaskDTO.status}
            </if>
        </where>
    </select>
    <select id="getOrganizationName" resultType="java.lang.String">
        select t2.depart_name, t2.org_code
        from patrol_plan_organization t1
                 left join sys_depart t2 on t1.organization_code = t2.org_code
        where t1.plan_code = #{planCode}
    </select>
    <select id="getStationName" resultType="java.lang.String">
        select concat(t1.line_name, "-", t1.station_name) as stationName
        from cs_station t1
                 left join patrol_plan_station t2 on t1.station_code = t2.station_code
        where t2.plan_code = #{code}
    </select>
    <select id="getPatrolUserName" resultType="java.lang.String">
        select t2.user_name
        from patrol_task t1
                 left join patrol_task_user t2 on t1.code = t2.task_code
        where t2.task_code = #{code}
    </select>
    <select id="getTaskList" resultType="com.aiurt.boot.task.param.PatrolTaskParam">
        SELECT
        pt.*
        FROM
        patrol_task pt
        WHERE
        pt.del_flag = 0

        <if test="patrolTask.name != null and patrolTask.name != ''">
            and pt.name like concat('%',#{patrolTask.name},'%')
        </if>
        <if test="patrolTask.code != null and patrolTask.code != ''">
            and pt.code like concat('%',#{patrolTask.code},'%')
        </if>
        <if test="patrolTask.status != null">
            and pt.status = #{patrolTask.status}
        </if>
        <if test="patrolTask.source != null">
            and pt.source = #{patrolTask.source}
        </if>
        <if test="patrolTask.departCode != null and patrolTask.departCode != ''">
            and pt.plan_code in (
            SELECT ppo.plan_code
            FROM patrol_plan_organization ppo
            WHERE ppo.organization_code = #{patrolTask.departCode}
            )
        </if>

    </select>
    <select id="getUserName" resultType="java.lang.String">
        select realname
        from sys_user
        where id = #{patrolReturnUserId}
    </select>
</mapper>
