<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.task.mapper.PatrolTaskUserMapper">

    <select id="getUsername" resultType="java.lang.String">
        SELECT
        su.realname username
        FROM
        sys_user su
        WHERE
        su.del_flag = 0
        <if test="userId != null and userId != ''">
            AND su.id = #{userId}
        </if>
    </select>
    <select id="getDeptName" resultType="java.lang.String">
        select sd.depart_name
        from sys_user su
        left join sys_depart sd on su.org_id = sd.id
        and sd.del_flag = 0
        where
        su.del_flag = 0 and sd.depart_name is not null
        <if test="list !=null and list.size()>0">
            AND su.id IN
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="getUserTask" resultType="com.aiurt.boot.task.entity.PatrolTask">
       select pt.*
        from patrol_task pt
				LEFT JOIN patrol_task_user ptu on ptu.task_code = pt.`code`
        where ptu.user_id = #{id}
    </select>
    <select id="getScreenUserDuration" resultType="com.aiurt.boot.screen.model.ScreenDurationTask">
        SELECT
            ptu.user_id,
            sum( TIMESTAMPDIFF( SECOND, pt.begin_time, IF ( 1 = pt.auditor, pt.auditor_time, pt.submit_time ) ) ) duration
        FROM
            patrol_task pt
                JOIN patrol_task_user ptu ON pt.`code` = ptu.task_code
                AND ptu.del_flag = 0
        WHERE
            pt.del_flag = 0
        <if test="startTime != null and endTime != null">
            AND pt.patrol_date BETWEEN #{startTime} AND #{endTime}
        </if>
        GROUP BY
            ptu.user_id
    </select>
</mapper>
