<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.task.mapper.PatrolTaskMapper">
    <select id="getPatrolTaskPoolList" resultType="com.aiurt.boot.task.dto.PatrolTaskDTO">
        select t1.*,(select realname from sys_user where id= t1.end_user_id) as
        endUserName,concat(DATE_FORMAT(t1.start_time,'%H:%i'),"-",DATE_FORMAT(t1.end_time,'%H:%i'))as startEndTime
        from patrol_task t1
        where t1.status not in (6,7,8) and t1.del_flag = 0
        <if test="patrolTaskDTO.patrolDate !=null">
            and DATE_FORMAT(t1.patrol_date, '%Y-%m-%d') = DATE_FORMAT(#{patrolTaskDTO.patrolDate},'%Y-%m-%d')
        </if>
        <if test="patrolTaskDTO.status!=null">
            and t1.status = #{patrolTaskDTO.status}
        </if>
        <if test="patrolTaskDTO.orgCode!=null and patrolTaskDTO.orgCode!=''">
            AND t1.CODE IN ( SELECT t2.task_code FROM patrol_task_organization t2 WHERE t2.task_code = t1.CODE AND
            t2.org_code = #{patrolTaskDTO.orgCode})
        </if>
        <if test="patrolTaskDTO.stationCode!=null and patrolTaskDTO.stationCode!=''">
            AND t1.CODE IN (SELECT t3.task_code FROM patrol_task_station t3 WHERE t3.task_code = t1.CODE AND
            t3.station_code =#{patrolTaskDTO.stationCode})
        </if>
         order by t1.create_time desc
    </select>
    <select id="getPatrolTaskList" resultType="com.aiurt.boot.task.dto.PatrolTaskDTO">
        select t1.*,(select realname from sys_user where id= t1.end_user_id) as endUserName
        from patrol_task t1
        where t1.status in (6,7) and t1.del_flag = 0
        <if test="patrolTaskDTO.patrolDate !=null">
            and DATE_FORMAT(t1.patrol_date, '%Y-%m-%d') = DATE_FORMAT(#{patrolTaskDTO.patrolDate}, '%Y-%m-%d')
        </if>
        <if test="patrolTaskDTO.status!=null">
            and t1.status = #{patrolTaskDTO.status}
        </if>
         order by t1.create_time desc
    </select>
    <select id="getOrganizationName" resultType="java.lang.String">
        SELECT t2.depart_name
        FROM patrol_task_organization t1
                 LEFT JOIN sys_depart t2 ON t1.org_code = t2.org_code
        where t1.task_code = #{taskCode}
    </select>
    <select id="getStationName" resultType="com.aiurt.boot.standard.dto.StationDTO">
SELECT
	t2.line_code,
	t1.station_code
FROM
	patrol_task_station t1
	LEFT JOIN cs_station t2 ON t1.station_code = t2.station_code
        WHERE t1.task_code = #{code}
    </select>
    <select id="getPatrolUserName" resultType="java.lang.String">
        select t2.user_name
        from patrol_task t1
                 left join patrol_task_user t2 on t1.code = t2.task_code
        where t2.task_code = #{code}
    </select>
    <select id="getTaskList" resultType="com.aiurt.boot.task.param.PatrolTaskParam">
        SELECT
        pt.*
        FROM
        patrol_task pt
        WHERE
        pt.del_flag = 0

        <if test="patrolTask.name != null and patrolTask.name != ''">
            and pt.name like concat('%',#{patrolTask.name},'%')
        </if>
        <if test="patrolTask.code != null and patrolTask.code != ''">
            and pt.code like concat('%',#{patrolTask.code},'%')
        </if>
        <if test="patrolTask.statusArray != null">
            and pt.status in
            <foreach collection="patrolTask.statusArray" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="patrolTask.status != null">
            and pt.status = #{patrolTask.status}
        </if>
        <if test="patrolTask.source != null">
            and pt.source = #{patrolTask.source}
        </if>
        <if test="patrolTask.discardStatus != null">
            and pt.discard_status = #{patrolTask.discardStatus}
        </if>
        <if test="patrolTask.organizationCode != null and patrolTask.organizationCode != ''">
            and pt.code in (
            SELECT ppo.task_code
            FROM patrol_task_organization ppo
            WHERE ppo.del_flag = 0 and ppo.organization_code = #{patrolTask.organizationCode}
            )
        </if>
        <if test="patrolTask.stationCode != null and patrolTask.stationCode != ''">
          and pt.code in (
          SELECT pps.task_code
          FROM patrol_task_station pps
          WHERE pps.del_flag = 0 and pps.station_code = #{patrolTask.stationCode}
            )
        </if>
        <if test="patrolTask.dateHead != null and patrolTask.dateEnd != null">
            AND DATE_FORMAT( pt.patrol_date, '%Y-%m-%d' )
            BETWEEN DATE_FORMAT( #{patrolTask.dateHead}, '%Y-%m-%d' )
            AND DATE_FORMAT( #{patrolTask.dateEnd}, '%Y-%m-%d')
        </if>
        order by pt.create_time desc
    </select>
    <select id="getUserName" resultType="java.lang.String">
        select realname
        from sys_user
        where id = #{patrolReturnUserId}
    </select>
    <select id="getOrgCode" resultType="java.lang.String">
        SELECT t1.org_code
        FROM patrol_task_organization t1
        WHERE t1.task_code = #{taskCode}
    </select>
    <select id="getUser" resultType="com.aiurt.boot.task.dto.PatrolTaskUserContentDTO">
        select t1.realname as realname,
               t1.id,
               t1.org_code
        from sys_user t1
        where t1.org_code = #{code}
    </select>
    <select id="getOrgName" resultType="java.lang.String">
        select t2.depart_name
        from sys_depart t2
        where t2.org_code = #{code}
    </select>
    <select id="selectBasicInfo" resultType="com.aiurt.boot.task.param.PatrolTaskParam">
        SELECT *
        FROM patrol_task pt
        WHERE pt.del_flag = 0
        <if test="patrolTaskParam.id != null and patrolTaskParam.id != ''">
            and pt.id = #{patrolTaskParam.id}
        </if>
    </select>
    <select id="getPatrolTaskManualList" resultType="com.aiurt.boot.task.dto.PatrolTaskDTO">
        SELECT
        t1.*
        FROM
        patrol_task t1
        where t1.source = 3 and t1.status in (0,3) and t1.discard_status = 0
        <if test="patrolTaskDTO.stationCode!=null and patrolTaskDTO.stationCode!=''">
            and t1.code in(select t3.task_code from patrol_task_station t3 where t3.station_code =
            #{patrolTaskDTO.stationCode})
        </if>
        <if test="patrolTaskDTO.orgCode != null and patrolTaskDTO.orgCode!=''">
            and t1.code in (SELECT t2.task_code FROM patrol_task_organization t2 where t2.org_code =
            #{patrolTaskDTO.orgCode})
        </if>
        <if test="patrolTaskDTO.name!=null and patrolTaskDTO.name!=''">
            and t1.name like concat('%',#{patrolTaskDTO.name},'%')
        </if>
        <if test="patrolTaskDTO.code!=null and patrolTaskDTO.code!=''">
            and t1.code like concat('%',#{patrolTaskDTO.code},'%')
        </if>
        <if test="patrolTaskDTO.status !=null">
            and t1.status = #{patrolTaskDTO.status}
        </if>
        <if test="patrolTaskDTO.dateScope!=null and patrolTaskDTO.dateScope!=null ">
            and DATE_FORMAT(t1.patrol_date, '%Y-%m-%d' )
            between DATE_FORMAT(#{patrolTaskDTO.dateScope}, '%Y-%m-%d')
            and DATE_FORMAT(#{patrolTaskDTO.dateScope}, '%Y-%m-%d')
        </if>
        order by t1.create_time desc
    </select>
    <select id="getMajorNameByMajorCode" resultType="java.lang.String">
        SELECT
        cm.major_name
        FROM
        cs_major cm
        WHERE
        cm.del_flag = 0
        <if test="code !=null and code !=''">
            AND cm.major_code = #{code}
        </if>
    </select>
    <select id="getSubsystemNameBySystemCode" resultType="java.lang.String">
        SELECT
        cs.system_name
        FROM
        cs_subsystem cs
        WHERE
        cs.del_flag = 0
        <if test="code !=null and code !=''">
            AND cs.system_code = #{code}
        </if>
    </select>
    <select id="getUsername" resultType="java.lang.String">
        SELECT su.realname
        FROM sys_user su
        WHERE su.del_flag = 0
          AND su.id = #{userId}
    </select>
    <select id="getMajorSubsystemGanged" resultType="com.aiurt.boot.task.dto.SubsystemDTO">
        SELECT
        cs.system_code subsystemCode,
        cs.system_name subsystemName
        FROM cs_subsystem cs
        WHERE
        <if test="majorCode !=null and majorCode !=''">
            cs.major_code = #{majorCode}
        </if>
        <if test="subsystemList !=null and subsystemList.size()>0">
            AND cs.system_code IN
            <foreach collection="subsystemList" item="item" open="(" separator="," close=")">
                #{item.subsystemCode}
            </foreach>
        </if>
    </select>
    <select id="getStationCode" resultType="java.lang.String">
    select station_code
    from patrol_task_station
    where task_code =#{code}
</select>
</mapper>
