<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.task.mapper.PatrolTaskDeviceReadRecordMapper">
    <select id="getReadList" resultType="com.aiurt.boot.task.entity.PatrolTaskDeviceReadRecord">
        select *
        from patrol_task_device_read_record
        <where>
             user_id = #{userId}
            <if test="taskDeviceId != null and taskDeviceId != ''">
                and task_device_id = #{taskDeviceId}
            </if>
            <if test="taskId != null and taskId != ''">
                and task_id = #{taskId}
            </if>
            <if test="majorCode != null and majorCode != ''">
                and major_code = #{majorCode}
            </if>
            <if test="subsystemCode != null and subsystemCode != ''">
                and subsystem_code = #{subsystemCode}
            </if>
        </where>
    </select>
</mapper>