<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.task.mapper.PatrolTaskDeviceMapper">

    <select id="selectBillInfo" resultType="com.aiurt.boot.task.param.PatrolTaskDeviceParam">
        SELECT ptd.*
        FROM patrol_task_device ptd
        WHERE ptd.del_flag = 0
    </select>
    <select id="getPatrolTaskDeviceList" resultType="com.aiurt.boot.task.dto.PatrolTaskDeviceDTO">
     SELECT ptd.*,ps.name as taskStandardName
     FROM patrol_task_device ptd left join patrol_standard ps on ps.id =ptd.task_standard_id
     WHERE ptd.del_flag = 0  AND  ptd.task_id = #{id}

</select>
</mapper>
