<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.task.mapper.PatrolTaskStationMapper">

    <select id="selectStationByTaskCode" resultType="com.aiurt.boot.task.dto.PatrolTaskStationDTO">
        SELECT
        CONCAT_WS( '/', cs.line_name, cs.station_name ) stationName,
        pts.*
        FROM
        patrol_task_station pts
        JOIN cs_station cs ON pts.station_code = cs.station_code
        WHERE
        pts.del_flag = 0
        AND cs.del_flag = 0
        <if test="taskCode != null and taskCode != ''">
            AND pts.task_code = #{taskCode}
        </if>
    </select>
    <select id="getLineList" resultType="com.aiurt.boot.standard.dto.LineDTO">
        select *
        from cs_line
    </select>
    <select id="getStationList" resultType="com.aiurt.boot.standard.dto.StationDTO">
        select *
        from cs_station
    </select>
    <select id="getStationPositionList" resultType="com.aiurt.boot.standard.dto.StationPositionDTO">
        select *
        from cs_station_position
    </select>
    <select id="getLineStaionCode" resultType="java.lang.String">
        select t1.line_code
        from cs_station t1
        where t1.del_flag = 0 and t1.station_code = #{sc}
    </select>
    <select id="getStationInfo" resultType="com.aiurt.boot.statistics.dto.IndexStationDTO">
        SELECT DISTINCT
        pts.station_code,
        cs.station_name
        FROM
        patrol_task_station pts
        JOIN cs_station cs ON pts.station_code = cs.station_code
        AND cs.del_flag = 0
        WHERE
        pts.del_flag = 0
        <if test="taskCode != null and taskCode != ''">
            AND pts.task_code = #{taskCode}
        </if>
    </select>
    <select id="getTaskCodeByUserStation" resultType="java.lang.String">
        select task_code
        from patrol_task_station
        where del_flag = 0
    </select>

    <select id="getStationByTaskCode" resultType="java.lang.String">
        SELECT
        cs.station_name
        FROM
        patrol_task_station pts
        JOIN cs_station cs ON pts.station_code = cs.station_code
        WHERE
        pts.del_flag = 0
        AND cs.del_flag = 0
        AND pts.task_code = #{taskCode}
    </select>
</mapper>
