<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.task.mapper.PatrolAccompanyMapper">


<select id="getAccompanyName" resultType="com.aiurt.boot.task.dto.PatrolAccompanyDTO">
SELECT *
from patrol_accompany
where task_device_code = #{id}
and user_id is not null
and username is not null
</select>
    <select id="getUserNames" resultType="java.lang.String">
        SELECT username
        from patrol_accompany
        where del_flag = 0
        <if test="patrolNumbers !=null and patrolNumbers.size>0">
        and task_device_code in
        <foreach collection="patrolNumbers" item="patrolNumbers" open="(" close=")" separator=",">
            #{patrolNumbers}
        </foreach>
        </if>
          and user_id is not null
          and username is not null
    </select>
</mapper>
