<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.rehearsal.mapper.EmergencyRehearsalMonthMapper">
    <select id="queryPageList" resultType="com.aiurt.boot.rehearsal.vo.EmergencyRehearsalMonthVO">
        select erm.*,
               ery.`year`             as `year`,
               ep.emergency_plan_name as schemeName
        from emergency_rehearsal_month erm
                 left join emergency_rehearsal_year ery on erm.plan_id = ery.id
            and ery.del_flag = 0
                 left join emergency_plan ep on erm.scheme_id = ep.id
            and ep.del_flag = 0
        where erm.del_flag = 0
        <if test="condition.planId != null and condition.planId != ''">
            and erm.plan_id = #{condition.planId}
        </if>
        <if test="condition.code != null">
            and erm.`code` = #{condition.code}
        </if>
        <if test="condition.type != null">
            and erm.type = #{condition.type}
        </if>
        <if test="condition.subject != null and condition.subject != ''">
            and erm.`subject` like concat('%', #{condition.subject}, '%')
        </if>
        <if test="condition.schemeId != null">
            and erm.scheme_id = #{condition.schemeId}
        </if>
        <if test="condition.modality != null">
            and erm.modality = #{condition.modality}
        </if>
        <if test="condition.orgCode != null and condition.orgCode != ''">
            and erm.org_code = #{condition.orgCode}
        </if>
        <if test="condition.rehearsalTime != null">
            and date_format(erm.rehearsal_time, '%Y-%m-%d') = date_format(#{condition.rehearsalTime}, '%Y-%m-%d')
        </if>
        <if test="condition.step != null and condition.step != ''">
            and erm.step like concat('%', #{condition.step}, '%')
        </if>
        <if test="condition.recordInterface != null and condition.recordInterface">
            and erm.id not in (
            select plan_id
            from emergency_implementation_record
            where del_flag = 0
            <if test="condition.userOrgCode != null and condition.userOrgCode != ''">
                and org_code = #{condition.userOrgCode}
            </if>
            )
            and erm.org_code in
            <foreach collection="condition.orgCodes" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by erm.create_time desc
    </select>

    <select id="exportMonthList" resultType="com.aiurt.boot.rehearsal.entity.EmergencyRehearsalMonth">
        select erm.*,
               concat('', ep.emergency_plan_name, concat('V', ep.emergency_plan_version)) as schemeName
        from emergency_rehearsal_month erm
                 left join emergency_plan ep on erm.scheme_id = ep.id and ep.del_flag = 0
        where erm.del_flag = 0
          and erm.plan_id = #{planId}
    </select>
    <select id="queryMonthList" resultType="com.aiurt.boot.rehearsal.vo.EmergencyRehearsalMonthVO">
        SELECT
            erm.*,
            ery.year,
            ery.`code` emergencyRehearsalYearCode,
            ery.`name` emergencyRehearsalYearName,
            ep.emergency_plan_name AS schemeName
        FROM
            emergency_rehearsal_month erm
                LEFT JOIN emergency_rehearsal_year ery ON erm.plan_id = ery.id
                AND ery.del_flag = 0
                LEFT JOIN emergency_plan ep ON erm.scheme_id = ep.id
                AND ep.del_flag = 0
                LEFT JOIN (
                    SELECT plan_id
                    FROM emergency_implementation_record
                    WHERE del_flag = 0
                    <if test="condition.orgCode != null and condition.orgCode != ''">
                        AND org_code = #{condition.orgCode}
                    </if>
                ) t ON erm.id = t.plan_id
        WHERE
            erm.del_flag = 0
            AND ery.status = 3
            <if test="value != null and  value ">
                AND t.plan_id IS NULL
            </if>
            <if test="condition.id != null and condition.id != ''">
                AND erm.id = #{condition.id}
            </if>
            <if test="condition.code != null and condition.code != ''">
                AND erm.code LIKE CONCAT('%', #{condition.code}, '%')
            </if>
            <if test="condition.orgCodes != null and condition.orgCodes.size() > 0">
                AND erm.org_code IN
                <foreach collection="condition.orgCodes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        ORDER BY erm.create_time DESC
    </select>
</mapper>
