<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.workticket.mapper.BdWorkTicketMapper">

    <select id="queryPageList" resultType="com.aiurt.modules.workticket.entity.BdWorkTicket">
        SELECT
            bwt.*,
            a.ID_ task_id,
            a.PROC_INST_ID_ proc_inst_id,
            a.NAME_ work_ticket_name,
            cl.line_name line_id,
            arp.NAME_ work_ticket_type
        FROM
            act_ru_task a
        LEFT JOIN act_hi_procinst ahp ON a.PROC_INST_ID_ = ahp.PROC_INST_ID_
        LEFT JOIN bd_work_ticket bwt ON ahp.BUSINESS_KEY_ = bwt.id
        Left Join cs_station cs on bwt.station = cs.id
        LEFT JOIN cs_line cl on cs.line_code = cl.line_code
        Left join act_re_procdef arp on ahp.PROC_DEF_ID_ = arp.ID_
        where bwt.id is not null and
        (a.ASSIGNEE_ = #{userName}  OR a.ID_ in (
        SELECT TASK_ID_
        FROM act_ru_identitylink ari
        WHERE
        ari.TYPE_= 'candidate'
        AND ari.USER_ID_= #{userName}
        AND ari.TASK_ID_ = a.ID_
        AND (a.assignee_ = '' or a.assignee_ is null)
        ))
        <if test="condition.id!=null and condition.id!=''">
            and bwt.id = #{condition.id}
        </if>
        order by a.CREATE_TIME_ desc
    </select>

    <select id="historyGet" resultType="com.aiurt.modules.workticket.dto.WorkTicketResDTO">
        SELECT
        bwt.id as id,
        bwt.work_ticket_code as workTicketCode,
        (
        SELECT
        ID_
        FROM
        act_hi_taskinst
        WHERE
        PROC_INST_ID_ = ahp.PROC_INST_ID_ ORDER BY START_TIME_ DESC  LIMIT 1
        ) AS taskId,
        (
        SELECT
        NAME_
        FROM
        act_hi_taskinst
        WHERE
        PROC_INST_ID_ = ahp.PROC_INST_ID_ ORDER BY START_TIME_ DESC LIMIT 1
        ) AS taskName,
        arp.NAME_ as processName,
        bwt.ticket_filler as ticketFiller,
        bwt.state as state,
        bwt.work_address_content as workAddressContent,
        bwt.create_time as createTime,
        (
        CASE
        WHEN bwt.state = 11 THEN
        bwt.work_leader_message
        WHEN bwt.state = 12 THEN
        bwt.signe_user_message
        WHEN bwt.state = 13 THEN
        bwt.power_dispatcher_message
        ELSE
        ''
        END
        ) AS rejectionReason,
        ahp.PROC_INST_ID_ as proInstanceId,
        bwt.station,
        cs.station_name as stationName
        FROM
        bd_work_ticket bwt
        LEFT JOIN act_hi_procinst ahp ON bwt.id = ahp.BUSINESS_KEY_
        LEFT JOIN act_re_procdef arp on arp.ID_ = ahp.PROC_DEF_ID_
        LEFt JOIN  cs_station cs on bwt.station = cs.id
        where 1 =1
        <if test="condition.processName!=null and condition.processName!=''">
            and arp.NAME_  like concat('%',#{condition.processName},'%')
        </if>
        <if test="condition.createTime!=null  and condition.endTime!=null">
            and bwt.create_time &gt;= #{condition.createTime}
            and bwt.create_time &lt;= #{condition.endTime}
        </if>
        <if test="condition.ticketFiller!=null and condition.ticketFiller!=''">
            and bwt.ticket_filler = #{condition.ticketFiller}
        </if>
        <if test="condition.workLeader!=null and condition.workLeader!=''">
            and bwt.work_leader = #{condition.workLeader}
        </if>
        <if test="condition.signeUser!=null and condition.signeUser!=''">
            and bwt.signe_user =#{condition.signeUser}
        </if>
        <if test="condition.workTicketCode!=null and condition.workTicketCode!=''">
            and bwt.work_ticket_code  like concat('%',#{condition.workTicketCode},'%')
        </if>
        <if test="condition.workAddressContent!=null   and condition.workAddressContent!=''">
            and bwt.work_address_content  like concat('%',#{condition.workAddressContent},'%')
        </if>
        <if test="condition.state!=null and condition.state!=0">
            and bwt.state = #{condition.state}
        </if>
        <if test="condition.stationName != null and condition.stationName != ''">
            and bwt.station = #{condition.stationName}
        </if>
        <if test="condition.workFillerList != null and condition.workFillerList.size()>0">
            and bwt.ticket_filler in
            <foreach collection="condition.workFillerList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        order by bwt.create_time desc
    </select>
</mapper>
