<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.train.task.mapper.BdTrainTaskSignMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE
		FROM  bd_train_task_sign
		WHERE
			 train_task_id = #{mainId} 	</delete>

	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.aiurt.modules.train.task.entity.BdTrainTaskSign">
		SELECT *
		FROM  bd_train_task_sign
		WHERE
			 train_task_id = #{mainId}
	</select>
    <select id="getByTaskId" resultType="java.lang.Integer">
SELECT count(id) FROM bd_train_task_user
where train_task_id = #{trainTaskId}
	</select>
	<select id="getSignByTaskId" resultType="java.lang.Integer">
				SELECT count(id) FROM bd_train_task_sign
where sign_time is not NULL and train_task_id = #{trainTaskId}
	</select>

	<select id="getSign" resultType="com.aiurt.modules.train.task.entity.BdTrainTaskSign">
		SELECT *
		FROM  bd_train_task_sign
		WHERE
		train_task_id = #{trainTaskId} and user_id = #{userId}
	</select>
</mapper>
