<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.largescream.mapper.FaultInformationMapper">
    <select id="queryLargeFaultInformation" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            <if test="startDate!=null and endDate!=null">
                and approval_pass_time  &gt;= #{startDate}  and approval_pass_time &lt;= #{endDate}
            </if>
            <if test="lineCode != null">
                and line_code  = #{lineCode}
            </if>
        </where>
    </select>

    <select id="queryLargeFaultInformationUnSo" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            status != 12
            <if test="startDate!=null and endDate!=null">
                and approval_pass_time  &gt;= #{startDate}  and approval_pass_time &lt;= #{endDate}
            </if>
            <if test="lineCode != null">
                and line_code  = #{lineCode}
            </if>
        </where>
    </select>

    <select id="queryLargeFaultInformationTodaySolve" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            status = 12
            <if test="todayStartDate!=null and todayEndDate!=null">
                and end_time  &gt;= #{todayStartDate}  and end_time &lt;= #{todayEndDate}
            </if>
            <if test="lineCode != null">
                and line_code  = #{lineCode}
            </if>
        </where>
    </select>

    <select id="queryFaultDataInformationWeekSolve" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            status = 12
            <if test="weekStartDate!=null and weekEndDate!=null">
                and end_time  &gt;= #{weekStartDate}  and end_time &lt;= #{weekEndDate}
            </if>
            <if test="lineCode != null">
                and line_code  = #{lineCode}
            </if>
        </where>
    </select>

    <select id="queryLargeFaultInformationTodayAdd" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            <if test="todayStartDate!=null and todayEndDate!=null">
                and happen_time  &gt;= #{todayStartDate}  and happen_time &lt;= #{todayEndDate}
            </if>
            <if test="lineCode != null">
                and line_code  = #{lineCode}
            </if>
        </where>
    </select>

    <select id="queryFaultDataInformationWeekAdd" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            <if test="weekStartDate!=null and weekEndDate!=null">
                and happen_time  &gt;= #{weekStartDate}  and happen_time &lt;= #{weekEndDate}
            </if>
            <if test="lineCode != null">
                and line_code  = #{lineCode}
            </if>
        </where>
    </select>

    <select id="getLargeFaultDatails" resultType="com.aiurt.modules.fault.dto.FaultLargeInfoDTO">
        select * from fault f
        left join cs_subsystem cs on cs.system_code = f.sub_system_code
        left join  cs_line cl on cl.line_code = f.line_code
        left join cs_station ct on ct.station_code = f.station_code
        left join sys_user s on s.username = f.appoint_user_name
        <where>
            <if test="condition.startDate!=null and condition.endDate!=null">
                and f.approval_pass_time  &gt;= #{condition.startDate}  and f.approval_pass_time &lt;= #{condition.endDate}
            </if>
            <if test="condition.lineCode != null">
                and f.line_code  = #{condition.lineCode}
            </if>
            <if test="condition.unSo !=null and condition.unSo !=''">
                and f.status != 12
            </if>
            <if test="condition.todayAdd != null and condition.todayAdd !=''">
                and f.happen_time  &gt;= #{condition.todayStartDate}  and f.happen_time &lt;= #{condition.todayEndDate}
            </if>
            <if test="condition.todaySolve != null and condition.todaySolve !=''">
                and f.status = 12
            </if>
            <if test=" condition.todaySolve != null and condition.todaySolve !=''">
                and f.approval_pass_time  &gt;= #{condition.todayStartDate}  and f.approval_pass_time &lt;= #{condition.todayEndDate}
            </if>
        </where>
    </select>

    <select id="getLargeFaultDataDatails" resultType="com.aiurt.modules.fault.dto.FaultLargeInfoDTO">
        select * from fault f
        left join cs_subsystem cs on cs.system_code = f.sub_system_code
        left join  cs_line cl on cl.line_code = f.line_code
        left join cs_station ct on ct.station_code = f.station_code
        left join sys_user s on s.username = f.appoint_user_name
        <where>
            <if test="condition.lineCode != null">
                and f.line_code  = #{condition.lineCode}
            </if>
            <if test="condition.unSo !=null and condition.unSo !=''">
                and f.status != 12
            </if>
            <if test="condition.weekAdd != null and condition.weekAdd !=''">
                and f.happen_time  &gt;= #{condition.startDate}  and f.happen_time &lt;= #{condition.endDate}
            </if>
            <if test="condition.weekSolve != null and condition.weekSolve !=''">
                and f.status = 12
            </if>
            <if test=" condition.weekSolve != null and condition.weekSolve !=''">
                and f.approval_pass_time  &gt;= #{condition.startDate}  and f.approval_pass_time &lt;= #{condition.endDate}
            </if>
            <if test="condition.todayAdd != null and condition.todayAdd !=''">
                and f.happen_time  &gt;= #{condition.todayStartDate}  and f.happen_time &lt;= #{condition.todayEndDate}
            </if>
            <if test="condition.todaySolve != null and condition.todaySolve !=''">
                and f.status = 12
            </if>
            <if test=" condition.todaySolve != null and condition.todaySolve !=''">
                and f.approval_pass_time  &gt;= #{condition.todayStartDate}  and f.approval_pass_time &lt;= #{condition.todayEndDate}
            </if>
        </where>
    </select>

    <select id="getLargeFaultInfo" resultType="com.aiurt.modules.fault.dto.FaultLargeInfoDTO">
        select * from fault f
            left join cs_subsystem cs on cs.system_code = f.sub_system_code
            left join  cs_line cl on cl.line_code = f.line_code
            left join cs_station ct on ct.station_code = f.station_code
            left join sys_user s on s.username = f.appoint_user_name
        <where>
            <if test="startDate!=null and endDate!=null">
                and f.approval_pass_time  &gt;= #{startDate}  and f.approval_pass_time &lt;= #{endDate}
            </if>
            <if test="lineCode != null">
                and f.line_code  = #{lineCode}
            </if>
        </where>
    </select>

    <select id="getLargeFaultDataInfo" resultType="com.aiurt.modules.fault.dto.FaultDataAnalysisInfoDTO">
        select * from fault f
        left join cs_subsystem cs on cs.system_code = f.sub_system_code
        left join  cs_line cl on cl.line_code = f.line_code
        left join cs_station ct on ct.station_code = f.station_code
        left join sys_user s on s.username = f.appoint_user_name
        <where>
            <if test="lineCode != null">
                and f.line_code  = #{lineCode}
            </if>
        </where>
    </select>

    <select id="getLargeLineFaultInfo" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault f
        left join cs_line cl on f.line_code = cl.line_code
        <where>
            <if test="startDate!=null and endDate!=null">
                and f.approval_pass_time  &gt;= #{startDate}  and f.approval_pass_time &lt;= #{endDate}
            </if>
        </where>
    </select>

    <select id="getYearFault" resultType="java.lang.Integer">
        select count(*) from fault where 1=1
        <if test="condition.firstDay != null and condition.firstDay != ''">
            and DATE_FORMAT(create_time ,'%Y-%m-%d') &gt;= DATE_FORMAT(#{condition.firstDay},'%Y-%m-%d')
        </if>
        <if test="condition.lastDay != null and condition.lastDay != ''">
            and DATE_FORMAT(create_time ,'%Y-%m-%d') &lt;= DATE_FORMAT(#{condition.lastDay},'%Y-%m-%d')
        </if>
        <if test="condition.lineCode != null">
            and line_code  = #{condition.lineCode}
        </if>
        <if test="condition.subSystemCode != null and condition.subSystemCode != ''">
            and sub_system_code  = #{condition.subSystemCode}
        </if>
        <if test="condition.faultModeCode != null and condition.faultModeCode != ''">
            and fault_mode_code  = #{condition.faultModeCode}
        </if>
        <if test="condition.status != null">
            and status  = #{condition.status}
        </if>
    </select>

    <select id="getAllSystemCode" resultType="java.lang.String">
        select system_code from cs_subsystem where del_flag = 0
    </select>


    <select id="getLargeFaultTime" resultType="com.aiurt.modules.fault.dto.FaultSystemTimeDTO">
        select cs.system_name, f.sub_system_code,f.line_code,
        sum(TIMESTAMPDIFF(HOUR,f.happen_time,f.end_time)) as repairTime  from fault f
        left join cs_subSystem cs on f.sub_system_code = cs.system_code
        <where>
            <if test="month!=null">
                and DATE_FORMAT(f.approval_pass_time,'%Y-%m') = #{month}
            </if>
            <if test="lineCode != null">
                and f.line_code  = #{lineCode}
            </if>
        </where>
        group by f.sub_system_code,f.line_Code
    </select>

    <select id="queryFaultDataInformation" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            <if test="lineCode != null">
                and line_code  = #{lineCode}
            </if>
        </where>
    </select>
</mapper>
