<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.largescream.mapper.FaultInformationMapper">
    <select id="queryLargeFaultInformation" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
             status > 2
            <if test="startDate!=null and endDate!=null">
                and date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{startDate},'%Y-%m-%d')
                and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{endDate},'%Y-%m-%d')
            </if>
            <if test="lineCode != null and lineCode !=''">
                and line_code  = #{lineCode}
            </if>
            <if test="majors != null and majors.size>0 ">
                and major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryLargeFaultInformationUnSo" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            status != 12 and status > 2
            <if test="startDate!=null and endDate!=null">
                and date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{startDate},'%Y-%m-%d')
                and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{endDate},'%Y-%m-%d')
            </if>
            <if test="lineCode != null and lineCode != ''">
                and line_code  = #{lineCode}
            </if>
        </where>
    </select>

    <select id="queryLargeFaultInformationTodaySolve" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            status = 12
            <if test="todayStartDate!=null and todayEndDate!=null">
                and date_format(end_time ,'%Y-%m-%d') &gt;=  date_format(#{todayStartDate},'%Y-%m-%d')
                and date_format(end_time ,'%Y-%m-%d') &lt;= date_format(#{todayEndDate},'%Y-%m-%d')
            </if>
            <if test="lineCode != null and lineCode !=''">
                and line_code  = #{lineCode}
            </if>
            <if test="majors != null and majors.size>0 ">
                and major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryFaultDataInformationWeekSolve" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            status = 12
            <if test="weekStartDate!=null and weekEndDate!=null">
                and date_format(end_time ,'%Y-%m-%d') &gt;=  date_format(#{weekStartDate},'%Y-%m-%d')
                and date_format(end_time ,'%Y-%m-%d') &lt;= date_format(#{weekEndDate},'%Y-%m-%d')
            </if>
            <if test="lineCode != null and lineCode !=''">
                and line_code  = #{lineCode}
            </if>
            <if test="majors != null and majors.size>0 ">
                and major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryLargeFaultInformationTodayAdd" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            status > 2
            <if test="todayStartDate!=null and todayEndDate!=null">
                and date_format(happen_time ,'%Y-%m-%d') &gt;=  date_format(#{todayStartDate},'%Y-%m-%d')
                and date_format(happen_time ,'%Y-%m-%d') &lt;= date_format(#{todayEndDate},'%Y-%m-%d')
            </if>
            <if test="lineCode != null and lineCode !=''">
                and line_code  = #{lineCode}
            </if>
            <if test="majors != null and majors.size>0 ">
                and major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryFaultDataInformationWeekAdd" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            status > 2
            <if test="weekStartDate!=null and weekEndDate!=null">
                and date_format(happen_time ,'%Y-%m-%d') &gt;=  date_format(#{weekStartDate},'%Y-%m-%d')
                and date_format(happen_time ,'%Y-%m-%d') &lt;= date_format(#{weekEndDate},'%Y-%m-%d')
            </if>
            <if test="lineCode != null and lineCode !=''">
                and line_code  = #{lineCode}
            </if>
            <if test="majors != null and majors.size>0 ">
                and major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getLargeFaultDatails" resultType="com.aiurt.modules.fault.dto.FaultLargeInfoDTO">
        select * from fault f
        left join cs_subsystem cs on cs.system_code = f.sub_system_code
        left join  cs_line cl on cl.line_code = f.line_code
        left join cs_station ct on ct.station_code = f.station_code
        left join sys_user s on s.username = f.appoint_user_name
        <where>
            f.status > 2
            <if test="condition.startDate!=null and condition.endDate!=null">
                and date_format(f.approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{condition.startDate},'%Y-%m-%d')
                and date_format(f.approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{condition.endDate},'%Y-%m-%d')
            </if>
            <if test="condition.lineCode != null and condition.lineCode != ''">
                and f.line_code  = #{condition.lineCode}
            </if>
            <if test="condition.majors != null and condition.majors.size>0 ">
                and f.major_code in
                <foreach collection="condition.majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="condition.unSo !=null and condition.unSo !=''">
                and f.status != 12
            </if>
            <if test="condition.unSo !=null and condition.unSo !=''">
                and f.status > 2
            </if>
            <if test="condition.todayAdd != null and condition.todayAdd !=''">
                and date_format(f.happen_time ,'%Y-%m-%d') &gt;=  date_format(#{condition.todayStartDate},'%Y-%m-%d')
                and date_format(f.happen_time ,'%Y-%m-%d') &lt;= date_format(#{condition.todayEndDate},'%Y-%m-%d')
            </if>
            <if test="condition.todayAdd != null and condition.todayAdd !=''">
                and f.status > 2
            </if>
            <if test="condition.todaySolve != null and condition.todaySolve !=''">
                and f.status = 12
            </if>
            <if test=" condition.todaySolve != null and condition.todaySolve !=''">
                and date_format(f.end_time ,'%Y-%m-%d') &gt;=  date_format(#{condition.todayStartDate},'%Y-%m-%d')
                and date_format(f.end_time ,'%Y-%m-%d') &lt;= date_format(#{condition.todayEndDate},'%Y-%m-%d')
            </if>
        </where>
         group by f.id
    </select>

    <select id="getLargeFaultDataDatails" resultType="com.aiurt.modules.fault.dto.FaultLargeInfoDTO">
        select * from fault f
        left join cs_subsystem cs on cs.system_code = f.sub_system_code
        left join  cs_line cl on cl.line_code = f.line_code
        left join cs_station ct on ct.station_code = f.station_code
        left join sys_user s on s.username = f.appoint_user_name
        <where>
            f.status > 2
            <if test="condition.lineCode != null and condition.lineCode != ''">
                and f.line_code  = #{condition.lineCode}
            </if>
            <if test="condition.majors != null and condition.majors.size>0 ">
                and f.major_code in
                <foreach collection="condition.majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="condition.unSo !=null and condition.unSo !=''">
                and f.status != 12
            </if>
            <if test="condition.unSo !=null and condition.unSo !=''">
                and f.status > 2
            </if>
            <if test="condition.weekAdd != null and condition.weekAdd !=''">
                and date_format(f.happen_time ,'%Y-%m-%d') &gt;=  date_format(#{condition.startDate},'%Y-%m-%d')
                and date_format(f.happen_time ,'%Y-%m-%d') &lt;= date_format(#{condition.endDate},'%Y-%m-%d')
            </if>
            <if test="condition.weekAdd != null and condition.weekAdd !=''">
                and f.status > 2
            </if>
            <if test="condition.weekSolve != null and condition.weekSolve !=''">
                and f.status = 12
            </if>
            <if test=" condition.weekSolve != null and condition.weekSolve !=''">
                and date_format(f.end_time ,'%Y-%m-%d') &gt;=  date_format(#{condition.startDate},'%Y-%m-%d')
                and date_format(f.end_time ,'%Y-%m-%d') &lt;= date_format(#{condition.endDate},'%Y-%m-%d')
            </if>
            <if test="condition.todayAdd != null and condition.todayAdd !=''">
                and date_format(f.happen_time ,'%Y-%m-%d') &gt;=  date_format(#{condition.todayStartDate},'%Y-%m-%d')
                and date_format(f.happen_time ,'%Y-%m-%d') &lt;= date_format(#{condition.todayEndDate},'%Y-%m-%d')
            </if>
            <if test="condition.todayAdd != null and condition.todayAdd !=''">
                and f.status > 2
            </if>
            <if test="condition.todaySolve != null and condition.todaySolve !=''">
                and f.status = 12
            </if>
            <if test=" condition.todaySolve != null and condition.todaySolve !=''">
                and date_format(f.end_time ,'%Y-%m-%d') &gt;=  date_format(#{condition.todayStartDate},'%Y-%m-%d')
                and date_format(f.end_time ,'%Y-%m-%d') &lt;= date_format(#{condition.todayEndDate},'%Y-%m-%d')
            </if>
        </where>
        group by f.id
    </select>

    <select id="getLargeFaultInfo" resultType="com.aiurt.modules.fault.dto.FaultLargeInfoDTO">
        select * from fault f
            left join cs_subsystem cs on cs.system_code = f.sub_system_code
            left join  cs_line cl on cl.line_code = f.line_code
            left join cs_station ct on ct.station_code = f.station_code
            left join sys_user s on s.username = f.appoint_user_name
        <where>
            f.status > 2
            <if test="startDate!=null and endDate!=null">
                and date_format(f.approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{startDate},'%Y-%m-%d')
                and date_format(f.approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{endDate},'%Y-%m-%d')
            </if>
            <if test="lineCode != null and lineCode != ''">
                and f.line_code  = #{lineCode}
            </if>
            <if test="majors != null and majors.size>0 ">
                and f.major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by f.id
    </select>

    <select id="getLargeFaultDataInfo" resultType="com.aiurt.modules.fault.dto.FaultDataAnalysisInfoDTO">
        select * from fault f
        left join cs_subsystem cs on cs.system_code = f.sub_system_code
        left join  cs_line cl on cl.line_code = f.line_code
        left join cs_station ct on ct.station_code = f.station_code
        left join sys_user s on s.username = f.appoint_user_name
        <where>
            f.status > 2
            <if test="lineCode != null and lineCode != ''">
                and f.line_code  = #{lineCode}
            </if>
            <if test="startDate!=null and endDate!=null">
                and date_format(f.approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{startDate},'%Y-%m-%d')
                and date_format(f.approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{endDate},'%Y-%m-%d')
            </if>
            <if test="majors != null and majors.size>0 ">
                and f.major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by f.id
    </select>

    <select id="getLargeLineFaultInfo" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault f
        left join cs_line cl on f.line_code = cl.line_code
        <where>
            f.status > 2
            <if test="startDate!=null and endDate!=null">
                and date_format(f.approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{startDate},'%Y-%m-%d')
                and date_format(f.approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{endDate},'%Y-%m-%d')
            </if>
            <if test="majors != null and majors.size>0 ">
                and f.major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getYearFault" resultType="java.lang.Integer">
        select count(*) from fault where 1=1 and approval_pass_time  is not null
        <if test="condition.firstDay != null and condition.firstDay != ''">
            and DATE_FORMAT(approval_pass_time ,'%Y-%m-%d') &gt;= DATE_FORMAT(#{condition.firstDay},'%Y-%m-%d')
        </if>
        <if test="condition.lastDay != null and condition.lastDay != ''">
            and DATE_FORMAT(approval_pass_time ,'%Y-%m-%d') &lt;= DATE_FORMAT(#{condition.lastDay},'%Y-%m-%d')
        </if>
        <if test="condition.lineCode != null and condition.lineCode != ''">
            and line_code  = #{condition.lineCode}
        </if>
        <if test="condition.subSystemCode != null and condition.subSystemCode != ''">
            and sub_system_code  = #{condition.subSystemCode}
        </if>
        <if test="condition.faultModeCode != null and condition.faultModeCode != ''">
            and fault_mode_code  = #{condition.faultModeCode}
        </if>
        <if test="condition.status != null">
            and status  = #{condition.status}
        </if>
        <if test="condition.majorCodes != null and condition.majorCodes.size() != 0">
            and major_code in
            <foreach collection="condition.majorCodes" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getAllSystemCode" resultType="com.aiurt.modules.fault.dto.FaultDataStatisticsDTO">
        SELECT
                system_code AS subSystemCode,
                system_name AS subSystemName
        FROM
                cs_subsystem
        WHERE
                del_flag = 0
        <if test="majorCodes != null and majorCodes.size() != 0">
            and major_code in
            <foreach collection="majorCodes" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>


    <select id="getLargeFaultTime" resultType="com.aiurt.modules.fault.dto.FaultSystemTimeDTO">
        select cs.system_name, f.sub_system_code,f.line_code,
        sum(TIMESTAMPDIFF(minute,f.happen_time,f.approval_pass_time)) as repairTime  from fault f
        left join cs_subSystem cs on f.sub_system_code = cs.system_code
        <where>
            f.status > 2
            <if test="month!=null">
                and DATE_FORMAT(f.approval_pass_time,'%Y-%m') = #{month}
            </if>
            <if test="lineCode != null and lineCode != ''">
                and f.line_code  = #{lineCode}
            </if>
            <if test="majors != null and majors.size>0 ">
                and f.major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by f.sub_system_code,f.line_Code
    </select>

    <select id="getSystemFaultSum" resultType="com.aiurt.modules.fault.dto.FaultSystemTimesDTO">
        select cs.system_name,f.sub_system_code,f.line_code,f.happen_time,f.end_time,
        sum(TIMESTAMPDIFF(minute,f.happen_time,f.end_time)) as repairTime  from fault f
        left join cs_subSystem cs on f.sub_system_code = cs.system_code
        <where>
            f.status > 2
            <if test="startDate!=null and endDate!=null">
                and date_format(f.approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{startDate},'%Y-%m-%d')
                and date_format(f.approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{endDate},'%Y-%m-%d')
            </if>
            <if test="majors != null and majors.size>0 ">
                and f.major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by f.sub_system_code
    </select>

    <select id="getSystemDeviceSum" resultType="com.aiurt.modules.fault.dto.FaultSystemDeviceSumDTO">
        select cs.system_name,d.system_code,d.code,d.major_code,d.name,count(code) as deviceNumber
        from device d
        left join cs_subSystem cs on d.system_code = cs.system_code
        <where>
            d.scrap_flag = 0
            <if test="majors != null and majors.size>0 ">
                and d.major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        group by d.system_code
    </select>

    <select id="queryFaultDataInformation" resultType="com.aiurt.modules.fault.entity.Fault">
        select * from fault
        <where>
            status > 2
            <if test="lineCode != null and lineCode != ''">
                and line_code  = #{lineCode}
            </if>
            <if test="majors != null and majors.size>0 ">
                and major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getFaultData" resultType="com.aiurt.modules.fault.dto.FaultTimeoutLevelDTO">
        select * from fault
        <where>
            <if test="level == 1">
                AND status &lt;&gt; 12
                and TIMESTAMPDIFF(HOUR,happen_time,now()) &gt;=#{lv1hours}
            </if>
            <if test="level == 2">
                AND status &lt;&gt; 12
                and TIMESTAMPDIFF(HOUR,happen_time,now()) &gt;=#{lv2hours}
                and TIMESTAMPDIFF(HOUR,happen_time,now()) &lt; #{lv1hours}
            </if>
            <if test="level == 3">
                AND status &lt;&gt; 12
                and TIMESTAMPDIFF(HOUR,happen_time,now()) &gt;=#{lv3hours}
                and TIMESTAMPDIFF(HOUR,happen_time,now()) &lt; #{lv2hours}
            </if>
            <if test="lineCode != null and lineCode != ''">
                and line_code  = #{lineCode}
            </if>
            <if test="startDate!=null and endDate!=null">
                and date_format(approval_pass_time ,'%Y-%m-%d') &gt;=  date_format(#{startDate},'%Y-%m-%d')
                and date_format(approval_pass_time ,'%Y-%m-%d') &lt;= date_format(#{endDate},'%Y-%m-%d')
            </if>
            <if test="majors != null and majors.size>0 ">
                and major_code in
                <foreach collection="majors" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getFaultParticipantsDuration" resultType="com.aiurt.modules.largescream.model.FaultDurationTask">
        select s.id as userId,
               s.realname,
               frp.user_name,
               f.approval_pass_time,
               fr.recevice_time,
               fr.end_time,
               fr.assign_time,
        sum(TIMESTAMPDIFF(second,IFNULL(fr.recevice_time,fr.assign_time),fr.end_time))-(SELECT SUM(IFNUll(op.hang_up_time,0))
        FROM operation_process op  WHERE op.fault_code = frp.`fault_code`) as duration
        FROM
        fault_repair_participants frp
        LEFT JOIN sys_user s ON s.username = frp.user_name
        LEFT JOIN fault f ON f.CODE = frp.fault_code
        left join fault_repair_record fr  on fr.id = frp.fault_repair_record_id
        <where>
           fr.del_flag = 0
        <if test="startTime != null and endTime != null">
            AND f.approval_pass_time BETWEEN #{startTime} AND #{endTime}
        </if>
        </where>
        group by s.id
    </select>

    <select id="getFaultUserDuration" resultType="com.aiurt.modules.largescream.model.FaultDurationTask">
        select
        s.id as userId,
        s.realname,
        fr.appoint_user_name,
        f.approval_pass_time,
        fr.recevice_time,
        fr.end_time,
        fr.assign_time,
        sum(TIMESTAMPDIFF(second,IFNULL(fr.recevice_time,fr.assign_time),fr.end_time))-(SELECT SUM(IFNUll(op.hang_up_time,0))
        FROM operation_process op  WHERE op.fault_code = fr.`fault_code`) as duration
        from  fault_repair_record  fr
        left join sys_user s on s.username = fr.appoint_user_name
        left join  fault f on f.code = fr.fault_code
        <where>
            fr.del_flag = 0
            <if test="startTime != null and endTime != null">
                AND f.approval_pass_time BETWEEN #{startTime} AND #{endTime}
            </if>
        </where>
        group by s.id
    </select>

    <select id="getFaultByIdDuration" resultType="com.aiurt.modules.largescream.model.FaultDurationTask">
        select
        s.id as userId,
        s.realname,
        fr.id as taskId,
        fr.appoint_user_name,
        f.approval_pass_time,
        fr.recevice_time,
        fr.end_time,
        fr.assign_time,
        op.hang_up_time,
        IFNULL(TIMESTAMPDIFF( SECOND, IFNULL( fr.recevice_time, fr.assign_time ), fr.end_time ) - IFNUll( op.hang_up_time, '0' ),'0') AS duration
        from  fault_repair_record  fr
        left join sys_user s on s.username = fr.appoint_user_name
        left join  fault f on f.code = fr.fault_code
        LEFT JOIN operation_process op ON op.fault_code = fr.fault_code
        <where>
            fr.del_flag = 0
            <if test="startTime != null and endTime != null">
                AND f.approval_pass_time BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="userList != null and userList.size() != 0">
                and s.id in
                <foreach collection="userList" item="item" open="(" separator="," close=")">
                    #{item.id}
                </foreach>
            </if>
        </where>
        group by fr.id
    </select>

    <select id="getParticipantsDuration" resultType="com.aiurt.modules.largescream.model.FaultDurationTask">
        select
        f.STATUS,
        fr.id as taskId,
        s.id as userid,
        s.realname,
        frp.user_name,
        f.approval_pass_time,
        fr.recevice_time,
        fr.end_time,
        fr.assign_time,
        op.hang_up_time,
        IFNULL(TIMESTAMPDIFF( SECOND, IFNULL( fr.recevice_time, fr.assign_time ), fr.end_time ) - IFNUll( op.hang_up_time, '0' ),'0') AS duration
        FROM
        fault_repair_participants frp
        LEFT JOIN sys_user s ON s.username = frp.user_name
        LEFT JOIN fault f ON f.CODE = frp.fault_code
        LEFT JOIN operation_process op ON op.fault_code = frp.fault_code
        left join fault_repair_record fr  on fr.id = frp.fault_repair_record_id
        <where>
            fr.del_flag = 0
            <if test="startTime != null and endTime != null">
                AND f.approval_pass_time BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="userList != null and userList.size() != 0">
                and s.id in
                <foreach collection="userList" item="item" open="(" separator="," close=")">
                    #{item.id}
                </foreach>
            </if>
        </where>
        group by fr.id
    </select>

    <select id="getFaultOrgReport" resultType="com.aiurt.modules.fault.dto.FaultReportDTO">
        select  sys_depart.id as orgId ,aaa.*
        from
        (SELECT
        IFNULL(sum(TIMESTAMPDIFF(second,IFNULL(fr.recevice_time,fr.assign_time),fr.end_time))-(SELECT SUM(IFNUll(op.hang_up_time,0))
        FROM operation_process op  WHERE op.fault_code = f.`code`),0) as num,
        count(fr.id) as num1
        from sys_depart sd
        left join  sys_user s on  s.org_code = sd.org_code
        left join fault_repair_record  fr on  s.username = fr.appoint_user_name and fr.del_flag = 0
        left join  fault f on f.code = fr.fault_code
        where
        sd.del_flag =0
        <if test="orgId != null ">
            and sd.id = #{orgId}
        </if>
        AND date_format(f.approval_pass_time ,'%Y-%m-%d')  BETWEEN date_format(#{startTime} ,'%Y-%m-%d') AND date_format(#{endTime} ,'%Y-%m-%d')
        )as aaa, sys_depart
        WHERE
        sys_depart.del_flag =0
        <if test="orgId != null ">
            and sys_depart.id= #{orgId}
        </if>
    </select>
    <select id="getConstructionHours" resultType="java.lang.String">
        select  assort_time from t_work_log
        where del_flag = 0
        and assort_time is not null
         and assort_time != " "
        and confirm_status=1
        and org_id = #{orgId}
        and date_format(submit_time ,'%Y-%m-%d')  BETWEEN date_format( #{startTime} ,'%Y-%m-%d') AND date_format( #{endTime} ,'%Y-%m-%d')
    </select>
    <select id="getFaultUserReport" resultType="com.aiurt.modules.fault.dto.FaultReportDTO">
        SELECT sys_user.id as userId,
        (
        SELECT
        IFNULL(sum(TIMESTAMPDIFF(second,IFNULL(fr.recevice_time,fr.assign_time),fr.end_time))-(SELECT SUM(IFNUll(op.hang_up_time,0))
        FROM operation_process op  WHERE op.fault_code = f.`code`),0) as num
        FROM sys_user su
        left join  fault_repair_record fr on su.username = fr.appoint_user_name
        left join  fault f on f.code = fr.fault_code
        where su.del_flag = 0
        <if test="userId != null ">
            AND su.id = #{userId}
        </if>
        AND date_format(f.approval_pass_time ,'%Y-%m-%d') BETWEEN date_format( #{startTime} ,'%Y-%m-%d') AND date_format( #{endTime} ,'%Y-%m-%d')
        ) as num
        from sys_user
        where  sys_user.del_flag = 0
        <if test="userId != null ">
            AND sys_user.id = #{userId}
        </if>
    </select>
    <select id="getUserConstructionHours" resultType="java.lang.String">
        select  assort_time
        from t_work_log
        where del_flag = 0
          and confirm_status = 1
          and assort_time is not null
          and assort_time != " "
          and assort_ids LIKE concat('%', #{userId}, '%')
          and date_format(submit_time ,'%Y-%m-%d')  BETWEEN date_format( #{startTime} ,'%Y-%m-%d') AND date_format( #{endTime} ,'%Y-%m-%d')
    </select>
    <select id="getUserConstructorsNum" resultType="com.aiurt.modules.fault.dto.FaultReportDTO">
        select   count(id) as constructorsNum,
                count(id) as num1
        from t_work_log
        where del_flag = 0
          and confirm_status = 1
          and assort_ids LIKE concat('%', #{userId}, '%')
          and date_format(submit_time ,'%Y-%m-%d')  BETWEEN date_format( #{startTime} ,'%Y-%m-%d') AND date_format( #{endTime} ,'%Y-%m-%d')
    </select>
    <select id="getUserTime" resultType="com.aiurt.modules.fault.dto.UserTimeDTO">
        select s.id as userId, fr.id as frrId
        from  sys_user s
                 left join fault_repair_record  fr on  s.username = fr.appoint_user_name and fr.del_flag = 0
                 left join  fault f on f.code = fr.fault_code
        where
           s.del_flag = 0 and s.org_id = #{orgId}
          AND date_format(f.approval_pass_time ,'%Y-%m-%d') BETWEEN date_format(#{startTime} ,'%Y-%m-%d') AND date_format(#{endTime} ,'%Y-%m-%d')
        group by s.id
    </select>
    <select id="getAccompanyTime" resultType="com.aiurt.modules.fault.dto.UserTimeDTO">
        select s.id as userId, fr.id as frrId,
               IFNULL(sum(TIMESTAMPDIFF(second,IFNULL(fr.recevice_time,fr.assign_time),fr.end_time))-(SELECT SUM(IFNUll(op.hang_up_time,0))
                                     FROM operation_process op  WHERE op.fault_code = f.`code`),0) as duration
        from  sys_user s
                  left join fault_repair_participants frp on s.username = frp.user_name
                  left join fault_repair_record  fr on frp.fault_repair_record_id = fr.id  and fr.del_flag = 0
                  left join  fault f on f.code = fr.fault_code
        where
            s.del_flag = 0 and s.org_id = #{orgId}
          AND date_format(f.approval_pass_time ,'%Y-%m-%d') BETWEEN date_format(#{startTime} ,'%Y-%m-%d') AND date_format(#{endTime} ,'%Y-%m-%d')
        group by s.id
    </select>
    <select id="getUserTimes" resultType="java.lang.Long">
        select
            IFNULL(sum(TIMESTAMPDIFF(second,IFNULL(fr.recevice_time,fr.assign_time),fr.end_time))-(SELECT SUM(IFNUll(op.hang_up_time,0))
             FROM operation_process op  WHERE op.fault_code = f.`code`),0) as duration
        from  sys_user s
                  left join fault_repair_participants frp on s.username = frp.user_name
                  left join fault_repair_record  fr on frp.fault_repair_record_id = fr.id  and fr.del_flag = 0
                  left join  fault f on f.code = fr.fault_code
        where
            s.del_flag = 0 and s.id = #{userId}
          AND date_format(f.approval_pass_time ,'%Y-%m-%d') BETWEEN date_format( #{startTime} ,'%Y-%m-%d') AND date_format( #{endTime} ,'%Y-%m-%d')
    </select>
    <select id="getConstructorsNum" resultType="java.lang.Integer">
        SELECT
            COUNT(twl.id) as constructorsNum
        from sys_depart sd
                 left join  sys_user s on  s.org_code = sd.org_code
                 left join t_work_log twl on  s.id in (twl.assort_ids)  and twl.del_flag = 0 and twl.confirm_status=1
        where
            sd.del_flag =0
          and sd.id =#{orgId}
          and date_format(twl.submit_time ,'%Y-%m-%d')  BETWEEN date_format( #{startTime} ,'%Y-%m-%d') AND date_format( #{endTime} ,'%Y-%m-%d')
    </select>
</mapper>
