<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.manage.mapper.SpecialSituationMapper">


    <select id="queryByCondition" parameterType="map" resultType="com.aiurt.boot.modules.manage.entity.SpecialSituation">
        select * from cs_special_situation
        where 1=1
        <if test="cotent !=null and cotent !=''">
            and cotent like CONCAT('%',#{cotent},'%')
        </if>
        <if test="creater_name !=null and creater_name !=''">
            and creater_name like CONCAT('%',#{creater_name},'%')
        </if>
        <if test="stime !=null and stime !='' and etime !=null and etime !=''">
            and publish_time between #{stime} and #{etime}
        </if>
        order by publish_time desc
    </select>
    <select id="queryPageTotal"  parameterType="map" resultType="integer">
        select count(*) from cs_special_situation
        where 1=1
        <if test="cotent !=null and cotent !=''">
            and cotent like CONCAT('%',#{cotent},'%')
        </if>
        <if test="creater_name !=null and creater_name !=''">
            and creater_name like CONCAT('%',#{creater_name},'%')
        </if>
        <if test="stime !=null and stime !='' and etime !=null and etime !=''">
            and publish_time between #{stime} and #{etime}
        </if>
    </select>
    <select id="queryByUserId" parameterType="map" resultType="com.aiurt.boot.modules.manage.entity.SpecialSituation">
        SELECT
            a.*
            FROM
            cs_special_situation a
            INNER JOIN cs_situation_user b ON a.id = b.situation_id
            WHERE
            1 = 1
            AND b.user_id = #{userId}
            <if test = "startTime !=null and startTime !='' and endTime !=null and endTime !=''" >
                AND a.publish_time BETWEEN #{startTime} and #{endTime}
            </if>
            and a.end_time >= #{now}
            and a.del_flag = 0
            ORDER BY
            a.publish_time DESC
            LIMIT 0,
            10
    </select>

</mapper>
