<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.manage.mapper.StationMapper">

    <select id="selectNameById" resultType="com.aiurt.boot.modules.manage.entity.Station">
    select * from cs_station where team_id = #{id} and del_flag = 0 limit 1
</select>
    <select id="getIdsByLineCode" resultType="int">
        SELECT
        s.id
        FROM
        `cs_station` s
        INNER JOIN cs_line l ON s.line_id = l.id
        WHERE
        s.del_flag = 0
        AND l.del_flag = 0
        <if test="lineCode !=null and lineCode !=''">
            AND l.line_code = #{lineCode}
        </if>
    </select>

    <select id="getStationsInOrdered" resultType="com.aiurt.boot.modules.manage.entity.Station">
        SELECT
            c.id,
            station_name,
            station_code,
            sort,
            line_id,
            line_name,
            team_id,
            d.depart_name as team_name,
            c.description,
            longitude,
            latitude,
            c.del_flag,
            c.create_time,
            c.update_time,
            warning_status,
            url
        FROM
            cs_station c left join sys_depart d on c.team_id = d.id and c.del_flag = 0
        ORDER BY
            c.line_id,c.team_id,c.sort ASC
    </select>

</mapper>
