<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.manage.mapper.SubsystemMapper">

    <select id="selectByName" resultType="com.aiurt.boot.modules.manage.entity.Subsystem">
        select * from cs_subsystem where system_name = #{systemName}
    </select>

    <select id ="getSubSystemByStationName" resultType="com.aiurt.boot.modules.manage.entity.Subsystem">
        SELECT
            *
        FROM
            cs_subsystem
        WHERE
            system_code IN (
            SELECT
                d.system_code
            FROM
                device d
                INNER JOIN cs_station s ON d.station_code = s.station_code
                AND station_name = #{stationName}
        GROUP BY
            d.system_code)
    </select>
</mapper>
