<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.patrol.mapper.PatrolPoolMapper">
	<select id="selectPageList" resultType="com.aiurt.boot.modules.patrol.vo.PatrolPoolVO">
		select p.id,
		       p.patrol_name,
		       p.system_type,
		       p.organization_id,
		       p.code,
		       p.status      as poolStatus,
		       p.tactics,
		       t.staff_ids,
		       t.staff_name,
		       t.status      as taskStatus,
		       t.counts,
		       p.execution_time,
		       p.line_id,
		       p.line_name,
		       d.depart_name as organizationName,
		       p.note
		from t_patrol_pool p
				     left join t_patrol_task t on p.id = t.patrol_pool_id
				     left join sys_depart d on d.id = p.organization_id
				where p.del_flag = 0
				  and d.del_flag = 0
				  and (t.del_flag = 0 or t.del_flag is null)
				  and (p.type = 0 or p.type =2)
				  and (t.ignore_status = 0 or t.ignore_status is null)
				  and p.hide = 0
		<if test="param.patrolName != null  and param.patrolName != ''">
			and p.patrol_name like concat('%', #{param.patrolName}
					, '%')
		</if>
		<if test="param.organizationId != null">
			and p.organization_id = #{param.organizationId}
		</if>

		<if test="param.stationId != null">
			and p.line_id = #{param.stationId}
		</if>


		<if test="param.stationIds != null and param.stationIds.size() > 0">
			and p.line_id in
			<foreach collection="param.stationIds" item="id" separator="," open="(" close=")">
				#{id}
			</foreach>
		</if>

		<if test="param.types != null">
			and p.system_type like concat('%'
					, #{param.types}
					, '%')
		</if>
		<if test="param.startTime != null and param.endTime != null and param.lastTime != null">
			and (p.create_time between #{param.startTime} and #{param.endTime}
			or p.execution_time between #{param.startTime} and #{param.lastTime} )
		</if>

		<!--权限控制-->
		<if test="param.departList != null and param.departList.size() > 0">
			and p.organization_id in
			<foreach collection="param.departList" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>

		<if test="param.systemCodes != null and param.systemCodes.size() > 0">
			and p.system_type in
			<foreach collection="param.systemCodes" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>

		order by p.id
	</select>

	<select id="selectIgnore" resultType="com.aiurt.boot.modules.patrol.vo.PatrolTaskIgnoreVO">
		select t.*,
		       p.create_time    as poolCreateTime,
		       p.execution_time as executionTime
		from t_patrol_task t
				     left join t_patrol_pool p on p.id = t.patrol_pool_id
		where t.del_flag = 0
		  and p.del_flag = 0
		  and t.id is not null
		  and t.status = 0
		  and t.ignore_status = 0
		  and p.execution_time &lt;= #{lastTime}
	</select>

	<select id="selectTitle" resultType="com.aiurt.boot.modules.patrol.vo.statistics.SimpIntegerSqlVO">
		SELECT count(1)     as `count`,
		       pool.tactics as `key`,
		       task.status as 'name'
		FROM t_patrol_pool pool
				     left join t_patrol_task task on task.patrol_pool_id = pool.id
				WHERE pool.del_flag = 0
				  and (task.del_flag = 0 or task.del_flag is null)
				  and (#{param.startTime} BETWEEN pool.create_time AND pool.execution_time
				OR #{param.startTime} BETWEEN pool.create_time AND pool.execution_time
				OR (pool.create_time &gt;= #{param.startTime} AND pool.execution_time &lt;= #{param.endTime}))

		<if test="param.systemCodes != null and param.systemCodes.size() != 0">
			and pool.system_type IN
			<foreach collection="param.systemCodes" separator="," open="(" close=")" item="code">
				#{code}
			</foreach>
		</if>

		<if test="param.departList != null and param.departList.size() != 0">
			and pool.organization_id IN
			<foreach collection="param.departList" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>

		<if test="param.stationIds != null and param.stationIds.size() != 0">
			and pool.line_id in
			<foreach collection="param.stationIds" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>
		GROUP BY pool.tactics,task.status
	</select>

	<select id="selectTeamCount" resultType="com.aiurt.boot.modules.patrol.vo.statistics.SimpStringSqlVO">
		SELECT
		count(1)     as `count`,
		pool.organization_id as `key`,
		task.status as 'name'
		FROM t_patrol_pool pool
		left join t_patrol_task task on task.patrol_pool_id = pool.id
		WHERE pool.del_flag = 0
		and (task.del_flag = 0 or task.del_flag is null)
		and (#{param.startTime} BETWEEN pool.create_time AND pool.execution_time
		OR #{param.startTime} BETWEEN pool.create_time AND pool.execution_time
		OR (pool.create_time &gt;= #{param.startTime} AND pool.execution_time &lt;= #{param.endTime}))

		<if test="param.systemCodes != null and param.systemCodes.size() != 0">
			and pool.system_type IN
			<foreach collection="param.systemCodes" separator="," open="(" close=")" item="code">
				#{code}
			</foreach>
		</if>

		<if test="param.departList != null and param.departList.size() != 0">
			and pool.organization_id IN
			<foreach collection="param.departList" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>

		<if test="param.stationIds != null and param.stationIds.size() != 0">
			and pool.line_id in
			<foreach collection="param.stationIds" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>
		GROUP BY pool.organization_id,task.status
	</select>

	<select id="selectSystemCount" resultType="com.aiurt.boot.modules.patrol.vo.statistics.SimpStringSqlVO">
		SELECT
		count(1)     as `count`,
		pool.system_type as `key`,
		task.status as 'name'
		FROM t_patrol_pool pool
		left join t_patrol_task task on task.patrol_pool_id = pool.id
		WHERE pool.del_flag = 0
		and (task.del_flag = 0 or task.del_flag is null)
		and (#{param.startTime} BETWEEN pool.create_time AND pool.execution_time
		OR #{param.startTime} BETWEEN pool.create_time AND pool.execution_time
		OR (pool.create_time &gt;= #{param.startTime} AND pool.execution_time &lt;= #{param.endTime}))

		<if test="param.systemCodes != null and param.systemCodes.size() != 0">
			and pool.system_type IN
			<foreach collection="param.systemCodes" separator="," open="(" close=")" item="code">
				#{code}
			</foreach>
		</if>

		<if test="param.departList != null and param.departList.size() != 0">
			and pool.organization_id IN
			<foreach collection="param.departList" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>

		<if test="param.stationIds != null and param.stationIds.size() != 0">
			and pool.line_id in
			<foreach collection="param.stationIds" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>
		GROUP BY pool.system_type,task.status
	</select>

	<select id="selectWarn" resultType="com.aiurt.boot.modules.patrol.vo.statistics.SimpStringSqlVO">
		SELECT
		count(1)     as `count`,
		pool.organization_id as `key`
		FROM t_patrol_pool pool
		left join t_patrol_task task on task.patrol_pool_id = pool.id
		left join t_patrol_task_report report on task.id = report.patrol_task_id
		WHERE pool.del_flag = 0
		and task.del_flag = 0
		and report.del_flag = 0
		and report.status = 2
		and task.status = 1
		and (#{param.startTime} BETWEEN pool.create_time AND pool.execution_time
		OR #{param.startTime} BETWEEN pool.create_time AND pool.execution_time
		OR (pool.create_time &gt;= #{param.startTime} AND pool.execution_time &lt;= #{param.endTime}))

		<if test="param.systemCodes != null and param.systemCodes.size() != 0">
			and pool.system_type IN
			<foreach collection="param.systemCodes" separator="," open="(" close=")" item="code">
				#{code}
			</foreach>
		</if>

		<if test="param.departList != null and param.departList.size() != 0">
			and pool.organization_id IN
			<foreach collection="param.departList" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>

		<if test="param.stationIds != null and param.stationIds.size() != 0">
			and pool.line_id in
			<foreach collection="param.stationIds" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>
		GROUP BY pool.organization_id
	</select>

	<select id="selectError" resultType="com.aiurt.boot.modules.patrol.vo.statistics.SimpStringSqlVO">
		SELECT
		count(1)     as `count`,
		pool.organization_id as `key`
		FROM t_patrol_pool pool
		left join t_patrol_task task on task.patrol_pool_id = pool.id
		left join t_patrol_task_report report on task.id = report.patrol_task_id
		WHERE pool.del_flag = 0
		and task.del_flag = 0
		and report.del_flag = 0
		and report.code is not null
		and report.status = 3
		and task.status = 1
		and (#{param.startTime} BETWEEN pool.create_time AND pool.execution_time
		OR #{param.startTime} BETWEEN pool.create_time AND pool.execution_time
		OR (pool.create_time &gt;= #{param.startTime} AND pool.execution_time &lt;= #{param.endTime}))

		<if test="param.systemCodes != null and param.systemCodes.size() != 0">
			and pool.system_type IN
			<foreach collection="param.systemCodes" separator="," open="(" close=")" item="code">
				#{code}
			</foreach>
		</if>

		<if test="param.departList != null and param.departList.size() != 0">
			and pool.organization_id IN
			<foreach collection="param.departList" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>

		<if test="param.stationIds != null and param.stationIds.size() != 0">
			and pool.line_id in
			<foreach collection="param.stationIds" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
		</if>
		GROUP BY pool.organization_id
	</select>
	<update id="deleteByIds">
		update t_patrol_pool set del_flag = 1
		where
		status = 0
		and	id in
			<foreach collection="poolIdList" separator="," open="(" close=")" item="id">
				#{id}
			</foreach>
	</update>
</mapper>
