<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.patrol.mapper.PatrolTaskMapper">
    <select id="selectPageList" resultType="com.aiurt.boot.modules.patrol.vo.PatrolTaskVO">
        select t.id,
        p.id as poolId,
        p.patrol_name as name,
        p.status as poolStatus,
        t.status as taskStatus,
        p.line_id,
        p.line_name,
        p.code,
        p.system_type,
        p.system_type_name,
        p.organization_id,
        d.depart_name as organizationName,
        p.tactics,
        t.staff_ids,
        t.staff_name,
        t.submit_time,
        t.create_time,
        p.execution_time,
        t.ignore_content,
        t.ignore_status,
        t.ignore_time,
        p.note,
        t.warning_status as warningStatus,
        t.spot_test ,
        t.spot_test_user ,
        t.spot_test_technician as spotTestTechnician,
        t.spot_test_technician_id as spotTestTechnicianId
        from t_patrol_pool p
        left join t_patrol_task t on p.id = t.patrol_pool_id
        left join sys_depart d on d.id = p.organization_id
        where p.del_flag = 0
        and (t.del_flag = 0 or t.del_flag is null)
        and p.hide = 0
        <!--	 and t.status = 1-->
        <if test="param.type != 1">
            and p.status = 1
        </if>
        <if test="param.type != null">
            and
            <if test="param.type == 0">
                (p.type = #{param.type} or p.type = 1 or p.type = 2)
            </if>
            <if test="param.type != 0">
                p.type = #{param.type}
            </if>
        </if>

        <if test="param.ignoreStatus != null">
            and t.ignore_status = #{param.ignoreStatus}
        </if>
        <if test="param.ignoreTimeStatus == 0">
            and t.ignore_content is null
        </if>
        <if test="param.ignoreTimeStatus == 1">
            and t.ignore_content is not null
        </if>

        <if test="param.patrolName != null and param.patrolName != ''">
            and p.patrol_name like concat('%'
            , #{param.patrolName}
            , '%')
        </if>
        <if test="param.organizationId != null">
            and p.organization_id = #{param.organizationId}
        </if>


        <if test="param.stationId != null">
            and p.line_id = #{param.stationId}
        </if>


        <if test="param.stationIds != null and param.stationIds.size() > 0">
            and p.line_id in
            <foreach collection="param.stationIds" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>


        <if test="param.name != null and param.name != ''">
            and t.staff_name like concat('%'
            , #{param.name}
            , '%')
        </if>

        <!--提交状态-->
        <if test="param.submitStatus != null">
            <if test="param.submitStatus == 0">
                and t.submit_time is null
            </if>
            <if test="param.submitStatus == 1">
                <if test="param.type == 0">
                    and t.submit_time is not null
                </if>
                <if test="param.type != 0">
                    and (((p.type = 0 or p.type = 2)
                    and t.submit_time is null)
                    or t.submit_time is not null)
                </if>
            </if>
        </if>

        <if test="param.startTime != null">
            and t.submit_time &gt;= #{param.startTime}
        </if>
        <if test="param.endTime != null">
            and t.submit_time &lt;= #{param.endTime}
        </if>

        <if test="param.ignoreStartTime != null and param.ignoreEndTime != null">
            and CASE
            WHEN find_in_set(ignore_time
            , '至') IS NULL THEN
            ignore_time BETWEEN #{param.ignoreStartTime}
            AND #{param.ignoreEndTime}
            WHEN find_in_set(ignore_time
            , '至') IS NOT NULL THEN
            SUBSTRING_INDEX(ignore_time
            , '至'
            , 1) BETWEEN #{param.ignoreStartTime}
            AND #{param.ignoreEndTime}
            or SUBSTRING_INDEX(ignore_time
            , '至'
            , - 1) BETWEEN #{param.ignoreStartTime}
            AND #{param.ignoreEndTime}
            END
        </if>

        <if test="param.systemTypeName != null  and param.systemTypeName != ''">
            and p.system_type like concat('%', #{param.systemTypeName},'%')
        </if>


        <!--权限控制-->
        <if test="param.departList !=null and param.departList.size() >0">
            and p.organization_id in
            <foreach collection="param.departList" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </if>

        <if test="param.systemCodes !=null and param.systemCodes.size() >0">
            and p.system_type in
            <foreach collection="param.systemCodes" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </if>

        <choose>
            <when test="param.submitStatus != null and param.submitStatus == 1">
                order by t.submit_time desc
            </when>
            <otherwise>
                order by p.id desc
            </otherwise>
        </choose>

        <!--		order by p.id desc-->
    </select>

    <select id="selectAppPage" resultType="com.aiurt.boot.modules.patrol.vo.PatrolTaskVO">
        select t.id,
        p.id as poolId,
        p.patrol_name as name,
        p.line_id,
        p.line_name,
        p.code,
        p.system_type,
        p.organization_id,
        d.depart_name as organizationName,
        p.tactics,
        t.staff_ids,
        t.submit_time,
        t.create_time,
        p.execution_time,
        t.ignore_content,
        t.ignore_status,
        t.ignore_time,
        p.note,
        t.status as taskStatus,
        p.status as poolStatus,
        t.warning_status as warningStatus
        from t_patrol_pool p
        left join t_patrol_task t on p.id = t.patrol_pool_id
        left join sys_depart d on d.id = p.organization_id
        where p.del_flag = 0
        and (t.del_flag = 0 or t.del_flag is null)
        and p.hide = 0

        <if test="param.organizationId != null">
            and p.organization_id = #{param.organizationId}
        </if>

        <!--开始时间-->
        <if test="param.startTime != null">
            and p.create_time &gt;= #{param.startTime}
        </if>

        <!--结束时间-->
        <if test="param.endTime != null">
            and (p.create_time &lt;= #{param.endTime} or p.execution_time &lt;= #{param.endTime})
        </if>
        <if test="param.systemTypeName != null">
            and p.system_type like concat('%', #{param.systemTypeName}, '%')
        </if>
        <if test="param.id != null and param.id != ''">
            and t.staff_ids like concat('%', #{param.id}, '%')
        </if>
        <if test="param.lineId != null">
            and p.line_id = #{param.lineId}
        </if>

        <!--漏检状态-->
        <if test="param.ignoreStatus != null and param.ignoreStatus==0">
            and (t.ignore_status=0 or t.ignore_status is NULL)
        </if>
        <if test="param.ignoreStatus != null and param.ignoreStatus==1">
            and t.ignore_status=1
        </if>

        <if test="param.systemCodes !=null and param.systemCodes.size() >0">
            and p.system_type in
            <foreach collection="param.systemCodes" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </if>

        order by  p.line_id desc, ISNULL(t.status) ,t.`status`,ISNULL(t.ignore_status),t.ignore_status, p.status, t.id desc, p.id desc
    </select>

    <select id="selectMissed" resultType="com.aiurt.boot.modules.patrol.entity.PatrolTask">
		select t.*
		from t_patrol_task t
				     left join t_patrol_pool p on t.patrol_pool_id = p.id
		where t.del_flag = 0
		  and p.del_flag = 0
		  and p.status = 1
		  and t.status = 0
		  and p.type &lt; 2
		  and p.execution_time &lt;= #{executionTime}
	</select>

    <select id="selectExportListVO" resultType="com.aiurt.boot.modules.patrol.vo.PatrolTaskVO">
        select t.id,
        p.id as poolId,
        p.patrol_name as name,
        p.status as poolStatus,
        t.status as taskStatus,
        p.line_name,
        p.code,
        p.system_type,
        p.system_type_name,
        p.organization_id,
        d.depart_name as organizationName,
        p.tactics,
        t.staff_ids,
        t.staff_name,
        t.submit_time,
        t.create_time,
        p.execution_time,
        t.ignore_content,
        t.ignore_status,
        t.ignore_time,
        p.note,
        t.warning_status as warningStatus
        from t_patrol_pool p
        left join t_patrol_task t on p.id = t.patrol_pool_id
        left join sys_depart d on d.id = p.organization_id
        where p.del_flag = 0
        and (t.del_flag = 0 or t.del_flag is null)
        and p.hide = 0
        <!--	 and t.status = 1-->
        <if test="param.type != 1">
            and p.status = 1
        </if>
        <if test="param.type != null">
            and
            <if test="param.type == 0">
                (p.type = #{param.type} or p.type = 1)
            </if>
            <if test="param.type != 0">
                p.type = #{param.type}
            </if>
        </if>

        <if test="param.ignoreStatus != null">
            and t.ignore_status = #{param.ignoreStatus}
        </if>
        <if test="param.ignoreTimeStatus == 0">
            and t.ignore_content is null
        </if>
        <if test="param.ignoreTimeStatus == 1">
            and t.ignore_content is not null
        </if>

        <if test="param.patrolName != null and param.patrolName != ''">
            and p.patrol_name like concat('%'
            , #{param.patrolName}
            , '%')
        </if>
        <if test="param.organizationId != null">
            and p.organization_id = #{param.organizationId}
        </if>

        <if test="param.stationId != null">
            and p.line_id = #{param.stationId}
        </if>


        <if test="param.stationIds != null and param.stationIds.size() > 0">
            and p.line_id in
            <foreach collection="param.stationIds" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>


        <if test="param.name != null and param.name != ''">
            and t.staff_name like concat('%'
            , #{param.name}
            , '%')
        </if>

        <if test="param.submitStatus != null">
            <if test="param.submitStatus == 0">
                and t.submit_time is null
            </if>
            <if test="param.submitStatus == 1">
                <if test="param.type == 0">
                    and t.submit_time is not null
                </if>
                <if test="param.type != 0">
                    and ((p.type = 0
                    and t.submit_time is null)
                    or t.submit_time is not null)
                </if>
            </if>
        </if>

        <if test="param.startTime != null">
            and t.submit_time &gt;= #{param.startTime}
        </if>
        <if test="param.endTime != null">
            and t.submit_time &lt;= #{param.endTime}
        </if>

        <if test="param.ignoreStartTime != null and param.ignoreEndTime != null">
            and CASE
            WHEN find_in_set(ignore_time
            , '至') IS NULL THEN
            ignore_time BETWEEN #{param.ignoreStartTime}
            AND #{param.ignoreEndTime}
            WHEN find_in_set(ignore_time
            , '至') IS NOT NULL THEN
            SUBSTRING_INDEX(ignore_time
            , '至'
            , 1) BETWEEN #{param.ignoreStartTime}
            AND #{param.ignoreEndTime}
            or SUBSTRING_INDEX(ignore_time
            , '至'
            , - 1) BETWEEN #{param.ignoreStartTime}
            AND #{param.ignoreEndTime}
            END
        </if>

        <if test="param.systemTypeName != null  and param.systemTypeName != ''">
            and p.system_type like concat('%',
            #{param.systemTypeName},
            '%'
            )
        </if>

        <!--权限控制-->
        <if test="param.departList !=null and param.departList.size() >0">
            and p.organization_id in
            <foreach collection="param.departList" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </if>

        <if test="param.systemCodes !=null and param.systemCodes.size() >0">
            and p.system_type in
            <foreach collection="param.systemCodes" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </if>


        order by p.id desc
    </select>

    <select id="selectAppHome" resultType="com.aiurt.boot.modules.patrol.vo.PatrolTaskVO">
        select t.id,
        p.id as poolId,
        p.patrol_name as name,
        p.code,
        p.system_type,
        p.organization_id,
        d.depart_name as organizationName,
        p.tactics,
        p.line_name,
        t.staff_ids,
        t.staff_name,
        t.submit_time,
        t.create_time,
        p.execution_time,
        t.ignore_content,
        t.ignore_status,
        t.ignore_time,
        p.note,
        t.status as taskStatus,
        p.status as poolStatus,
        t.warning_status as warningStatus
        from t_patrol_pool p
        left join t_patrol_task t on p.id = t.patrol_pool_id
        left join sys_depart d on d.id = p.organization_id
        where p.del_flag = 0
        and (t.del_flag = 0 or t.del_flag is null)
        <if test="param.userId != null and param.userId != ''">
            and t.staff_ids like concat('%', #{param.userId}, '%')
        </if>
        <if test="param.type != null">
            and t.status = #{param.type}
        </if>

        <!--时间-->
        <if test="param.startTime != null and param.endTime != null">
            and ((p.execution_time between #{param.startTime} and #{param.endTime})
            or (#{param.startTime} between p.create_time and p.execution_time)
            or (#{param.endTime} between p.create_time and p.execution_time))
        </if>

        <if test="param.keyName != null and param.keyName != ''">
            and (p.title like concat('%', #(param.keyName), '%')
            or p.line_name like concat('%', #(param.keyName), '%')
            or p.code like concat('%', #(param.keyName), '%')
            )
        </if>

        order by p.id desc
    </select>

    <select id="selectAppHomeCount" resultType="java.lang.Integer">
        select count(t.id)
        from t_patrol_pool p
        left join t_patrol_task t on p.id = t.patrol_pool_id
        left join sys_depart d on d.id = p.organization_id
        where p.del_flag = 0
        and (t.del_flag = 0 or t.del_flag is null)
        <if test="param.userId != null and param.userId != ''">
            and t.staff_ids like concat('%', #{param.userId}, '%')
        </if>
        <if test="param.type != null">
            and t.status = 1
        </if>

        <!--时间-->
        <if test="param.startTime != null and param.endTime != null">
            and ((p.execution_time between #{param.startTime} and #{param.endTime})
            or (#{param.startTime} between p.create_time and p.execution_time)
            or (#{param.endTime} between p.create_time and p.execution_time))
        </if>

        order by p.id desc
    </select>

    <select id="selectErrors" resultType="com.aiurt.boot.modules.patrol.vo.statistics.TaskErrorVO">
		select t.patrol_pool_id as poolId,
		       r.code           as errorFlag
		from t_patrol_task t
				     left join t_patrol_task_report r on t.id = r.patrol_task_id
		where r.status = 1
	</select>

    <select id="selectExportTaskList" resultType="com.aiurt.boot.modules.patrol.vo.export.ExportTaskSubmitVO">
        select t.id,
        p.id as poolId,
        p.patrol_name as name,
        p.status as poolStatus,
        t.status as taskStatus,
        p.line_name as stationName,
        t.warning_status as warningStatus,
        p.code,
        p.system_type_name,
        d.depart_name as organizationName,
        p.tactics,
        t.staff_name,
        t.submit_time,
        p.note
        from t_patrol_pool p
        left join t_patrol_task t on p.id = t.patrol_pool_id
        left join sys_depart d on d.id = p.organization_id
        where p.del_flag = 0
        and (t.del_flag = 0 or t.del_flag is null)
        and p.hide = 0
        <!--	 and t.status = 1-->
        <if test="param.type != 1">
            and p.status = 1
        </if>
        <if test="param.type != null">
            and
            <if test="param.type == 0">
                (p.type = #{param.type} or p.type = 1 or p.type = 2)
            </if>
            <if test="param.type != 0">
                p.type = #{param.type}
            </if>
        </if>

        <if test="param.ignoreStatus != null">
            and t.ignore_status = #{param.ignoreStatus}
        </if>
        <if test="param.ignoreTimeStatus == 0">
            and t.ignore_content is null
        </if>
        <if test="param.ignoreTimeStatus == 1">
            and t.ignore_content is not null
        </if>

        <if test="param.patrolName != null and param.patrolName != ''">
            and p.patrol_name like concat('%'
            , #{param.patrolName}
            , '%')
        </if>
        <if test="param.organizationId != null">
            and p.organization_id = #{param.organizationId}
        </if>

        <if test="param.stationId != null">
            and p.line_id = #{param.stationId}
        </if>


        <if test="param.stationIds != null and param.stationIds.size() > 0">
            and p.line_id in
            <foreach collection="param.stationIds" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>


        <if test="param.name != null and param.name != ''">
            and t.staff_name like concat('%'
            , #{param.name}
            , '%')
        </if>

        <if test="param.submitStatus != null">
            <if test="param.submitStatus == 0">
                and t.submit_time is null
            </if>
            <if test="param.submitStatus == 1">
                <if test="param.type == 0">
                    and t.submit_time is not null
                </if>
                <if test="param.type != 0">
                    and (((p.type = 0 or p.type = 2)
                    and t.submit_time is null)
                    or t.submit_time is not null)
                </if>
            </if>
        </if>

        <if test="param.startTime != null">
            and t.submit_time &gt;= #{param.startTime}
        </if>
        <if test="param.endTime != null">
            and t.submit_time &lt;= #{param.endTime}
        </if>

        <if test="param.ignoreStartTime != null and param.ignoreEndTime != null">
            and CASE
            WHEN find_in_set(ignore_time
            , '至') IS NULL THEN
            ignore_time BETWEEN #{param.ignoreStartTime}
            AND #{param.ignoreEndTime}
            WHEN find_in_set(ignore_time
            , '至') IS NOT NULL THEN
            SUBSTRING_INDEX(ignore_time
            , '至'
            , 1) BETWEEN #{param.ignoreStartTime}
            AND #{param.ignoreEndTime}
            or SUBSTRING_INDEX(ignore_time
            , '至'
            , - 1) BETWEEN #{param.ignoreStartTime}
            AND #{param.ignoreEndTime}
            END
        </if>

        <if test="param.systemTypeName != null  and param.systemTypeName != ''">
            and p.system_type like concat('%', #{param.systemTypeName},'%')
        </if>


        <!--权限控制-->
        <if test="param.departList !=null and param.departList.size() >0">
            and p.organization_id in
            <foreach collection="param.departList" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </if>

        <if test="param.systemCodes !=null and param.systemCodes.size() >0">
            and p.system_type in
            <foreach collection="param.systemCodes" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </if>

        <choose>
            <when test="param.submitStatus != null and param.submitStatus == 1">
                order by t.submit_time desc
            </when>
            <otherwise>
                order by p.id desc
            </otherwise>
        </choose>
    </select>
    <select id="getPatrolCountGroupByOrg" resultType="com.aiurt.boot.modules.statistical.vo.StatisticsPatrolVO">
        SELECT patrol_count.org_name AS orgName,
               patrol_count.patrolCount,
               patrol_count.notPatrolCount
           FROM(
            SELECT
                sys_user.org_name,
                sys_user.org_id,
                COUNT(IF(t.status='1',1,NULL)) AS patrolCount,
                COUNT(IF(t.status='0',1,NULL)) AS notPatrolCount
            FROM sys_user
            LEFT JOIN t_patrol_task t ON SUBSTRING_INDEX(t.staff_ids,',',1)= sys_user.id
            AND  t.create_time BETWEEN #{startTime} AND #{endTime}
            AND t.del_flag=0
            where sys_user.org_id != 'c3c80ea21059405e8fd70145dede23e6' and sys_user.org_id != 'c4bce53ed2bf4fdaa13bf0f47488b7c2'
            GROUP BY org_id
            ORDER BY org_name) patrol_count
		LEFT JOIN cs_station ON cs_station.team_id=patrol_count.org_id
        LEFT JOIN cs_line ON  cs_station.line_id=cs_line.id
        <where>
            <if test="lineCode != null and lineCode != ''">
                cs_line.line_code=#{lineCode}
            </if>
        </where>
		GROUP BY patrol_count.org_name
	</select>


	<select id="countIgnoreNumByTimeAndLineIds" resultType="int">
		SELECT count(1)
		FROM
			t_patrol_pool p
		INNER JOIN t_patrol_task t ON p.id = t.patrol_pool_id
		WHERE
			p.del_flag = 0
		AND (
			t.del_flag = 0
			OR t.del_flag IS NULL
		)
		AND p.hide = 0
		<if test="lineIds !=null and lineIds.size() >0">
			and p.line_id in
			<foreach collection="lineIds" item="id" separator="," open="(" close=")">
				#{id}
			</foreach>
		</if>
		and t.ignore_status = 1
		and t.create_time between #{startTime} and #{endTime}
	</select>


	<select id="countCompleteNumByTimeAndLineIds" resultType="int">
		SELECT count(1)
		FROM
		t_patrol_pool p
		left JOIN t_patrol_task t ON p.id = t.patrol_pool_id
		WHERE
		(p.del_flag = 0 or p.del_flag is null)
		AND (
		t.del_flag = 0
		OR t.del_flag IS NULL
		)
		AND p.hide = 0
		<if test="lineIds !=null and lineIds.size() >0">
			and p.line_id in
			<foreach collection="lineIds" item="id" separator="," open="(" close=")">
				#{id}
			</foreach>
		</if>
		and t.status = 1
		and p.create_time between #{startTime} and #{endTime}
	</select>

	<select id="countExceptionNumByTimeAndLineIds" resultType="int">
		SELECT count(1)
		FROM
		t_patrol_pool p
		left JOIN t_patrol_task t ON p.id = t.patrol_pool_id
		WHERE
		(p.del_flag = 0 or p.del_flag is null)
		AND (
		t.del_flag = 0
		OR t.del_flag IS NULL
		)
		AND p.hide = 0
		<if test="lineIds !=null and lineIds.size() >0">
			and p.line_id in
			<foreach collection="lineIds" item="id" separator="," open="(" close=")">
				#{id}
			</foreach>
		</if>
		and t.warning_status = 1
		and p.create_time between #{startTime} and #{endTime}
	</select>

	<select id="countPatrolNumByTimeAndLineIds" resultType="int">
		SELECT count(1)
		FROM
		t_patrol_pool p
		left JOIN t_patrol_task t ON p.id = t.patrol_pool_id
		WHERE
		(p.del_flag = 0 or p.del_flag is null)
		AND (
		t.del_flag = 0
		OR t.del_flag IS NULL
		)
		AND p.hide = 0
		<if test="lineIds !=null and lineIds.size() >0">
			and p.line_id in
			<foreach collection="lineIds" item="id" separator="," open="(" close=")">
				#{id}
			</foreach>
		</if>
		and p.create_time between #{startTime} and #{endTime}
	</select>

	<select id="selectPageList2" resultType="com.aiurt.boot.modules.patrol.vo.PatrolTaskVO">
		select t.id,
		p.id             as poolId,
		p.patrol_name    as name,
		p.status         as poolStatus,
		t.status         as taskStatus,
		p.line_id,
		p.line_name,
		p.code,
		p.system_type,
		p.system_type_name,
		p.organization_id,
		d.depart_name    as organizationName,
		p.tactics,
		t.staff_ids,
		t.staff_name,
		t.submit_time,
		t.create_time,
		p.execution_time,
		t.ignore_content,
		t.ignore_status,
		t.ignore_time,
		p.note,
		t.warning_status as warningStatus,
		t.spot_test ,
		t.spot_test_user
		from t_patrol_pool p
		left join t_patrol_task t on p.id = t.patrol_pool_id
		left join sys_depart d on d.id = p.organization_id
		where (p.del_flag = 0 or p.del_flag is null)
		and (t.del_flag = 0 or t.del_flag is null)
		and p.hide = 0
		<!--	 and t.status = 1-->
		<if test="param.type != null">
			and
			<if test="param.type == 0">
                (p.type = #{param.type} or p.type = 1 or p.type = 2)
			</if>
			<if test="param.type != 0">
				p.type = #{param.type}
			</if>
		</if>

		<if test="param.ignoreStatus != null">
			and t.ignore_status = #{param.ignoreStatus}
		</if>
		<if test="param.ignoreTimeStatus == 0">
			and t.ignore_content is null
		</if>
		<if test="param.ignoreTimeStatus == 1">
			and t.ignore_content is not null
		</if>

		<if test="param.patrolName != null and param.patrolName != ''">
			and p.patrol_name like concat('%'
			, #{param.patrolName}
			, '%')
		</if>
		<if test="param.organizationId != null">
			and p.organization_id = #{param.organizationId}
		</if>


		<if test="param.stationId != null">
			and p.line_id = #{param.stationId}
		</if>


		<if test="param.stationIds != null and param.stationIds.size() > 0">
			and p.line_id in
			<foreach collection="param.stationIds" item="id" separator="," open="(" close=")">
				#{id}
			</foreach>
		</if>


		<if test="param.name != null and param.name != ''">
			and t.staff_name like concat('%'
			, #{param.name}
			, '%')
		</if>

		<if test="param.submitStatus != null">
			<if test="param.submitStatus == 0">
				and t.submit_time is null
			</if>
			<if test="param.submitStatus == 1">
				<if test="param.type == 0">
					and t.submit_time is not null
				</if>
				<if test="param.type != 0">
                    and (((p.type = 0 or p.type= 2)
					and t.submit_time is null)
					or t.submit_time is not null)
				</if>
			</if>
		</if>

		<if test="param.startTime != null">
            and p.create_time &gt;= #{param.startTime}
		</if>
		<if test="param.endTime != null">
            and p.create_time &lt;= #{param.endTime}
		</if>

		<if test="param.ignoreStartTime != null and param.ignoreEndTime != null">
			and CASE
			WHEN find_in_set(ignore_time
			, '至') IS NULL THEN
			ignore_time BETWEEN #{param.ignoreStartTime}
			AND #{param.ignoreEndTime}
			WHEN find_in_set(ignore_time
			, '至') IS NOT NULL THEN
			SUBSTRING_INDEX(ignore_time
			, '至'
			, 1) BETWEEN #{param.ignoreStartTime}
			AND #{param.ignoreEndTime}
			or SUBSTRING_INDEX(ignore_time
			, '至'
			, - 1) BETWEEN #{param.ignoreStartTime}
			AND #{param.ignoreEndTime}
			END
		</if>

		<if test="param.systemTypeName != null  and param.systemTypeName != ''">
			and p.system_type like concat('%', #{param.systemTypeName},'%')
		</if>
		order by p.create_time desc , d.depart_name asc
	</select>

    <select id="countPatrolNumByOrgIdAndTime" resultType="int">
        SELECT count(1)
        FROM
        t_patrol_pool p
        left JOIN t_patrol_task t ON p.id = t.patrol_pool_id
        WHERE
        (p.del_flag = 0 or p.del_flag is null)
        AND (
        t.del_flag = 0
        OR t.del_flag IS NULL
        )
        AND p.hide = 0
        <if test="orgId !=null and orgId !=''">
            AND p.organization_id = #{orgId}
        </if>
        and p.create_time between #{startTime} and #{endTime}
    </select>

    <select id="countCompletedPatrolNumByOrgIdAndTime" resultType="int">
        SELECT count(1)
        FROM
        t_patrol_pool p
        left JOIN t_patrol_task t ON p.id = t.patrol_pool_id
        WHERE
        (p.del_flag = 0 or p.del_flag is null)
        AND (
        t.del_flag = 0
        OR t.del_flag IS NULL
        )
        and t.status = 1
        AND p.hide = 0
        <if test="orgId !=null and orgId !=''">
            AND p.organization_id = #{orgId}
        </if>
        and p.create_time between #{startTime} and #{endTime}
    </select>

    <select id="countTwiceIgnoreContentPatrolNum" resultType="int">
        SELECT count(1)
        FROM
        t_patrol_pool p
        left JOIN t_patrol_task t ON p.id = t.patrol_pool_id
        WHERE
        (p.del_flag = 0 or p.del_flag is null)
        AND (
        t.del_flag = 0
        OR t.del_flag IS NULL
        )
        and p.tactics = 2
        and t.ignore_status = 1
        AND p.hide = 0
        <if test="orgId !=null and orgId !=''">
            AND p.organization_id = #{orgId}
        </if>
        and t.ignore_content is not null
        and p.execution_time between #{startTime} and #{endTime}
    </select>
    <select id="countIgnoredPatrolNumByOrgIdAndTime" resultType="int">
        SELECT count(1)
        FROM
        t_patrol_pool p
        left JOIN t_patrol_task t ON p.id = t.patrol_pool_id
        WHERE
        (p.del_flag = 0 or p.del_flag is null)
        AND (
        t.del_flag = 0
        OR t.del_flag IS NULL
        )
        and t.ignore_status = 1
        AND p.hide = 0
        <if test="orgId !=null and orgId !=''">
            AND p.organization_id = #{orgId}
        </if>
        and p.execution_time between #{startTime} and #{endTime}
    </select>

    <select id="appStationPatrolStatistics" resultType="com.aiurt.boot.modules.patrol.vo.statistics.AppStationPatrolStatisticsVO">
        SELECT p.line_id as id,p.line_name as name,count(p.line_id) as num,sum(case when ignore_status=1 then 1 else 0 end) as ignoreNum,sum(case when t.status=1 then 1 else 0 end) as completeNum
        FROM t_patrol_pool p
        left join t_patrol_task t on p.id = t.patrol_pool_id
        where p.del_flag = 0
        AND (t.del_flag = 0 or t.del_flag is null)
        AND p.hide = 0
        AND p.organization_id=#{orgId}
        AND p.create_time >= #{startTime}
        AND #{endTime} >= p.execution_time
        GROUP BY p.line_id
    </select>


    <select id="getCount" resultType="com.aiurt.boot.modules.statistical.vo.StatisticsResultVO">
        SELECT
                id,
                realname as userName,
                -- 总检修数
                ( select count(1) from repair_task where del_flag = 0 and submit_user_id  = sys_user.id
                  and status=1
                    <if test="startTime !=null and startTime !=''">
                        AND submit_time >= #{startTime}
                    </if>
                    <if test="endTime !=null and endTime !=''">
                        AND #{endTime} >=submit_time
                    </if>
                ) as repairAmount,
                -- 总巡修数
                ( SELECT count(1) FROM t_patrol_task WHERE del_flag = 0 and submit_user_id  = sys_user.id
                    and status=1
                    <if test="startTime !=null and startTime !=''">
                        AND submit_time >= #{startTime}
                    </if>
                    <if test="endTime !=null and endTime !=''">
                        AND #{endTime} >=submit_time
                    </if>
                ) as patrolAmount,
                -- 故障处理数
                ( SELECT count(1) FROM fault_repair_record WHERE del_flag = 0 and appoint_user_id  = sys_user.id
                    and solve_status=1
                    <if test="startTime !=null and startTime !=''">
                        AND over_time >= #{startTime}
                    </if>
                    <if test="endTime !=null and endTime !=''">
                        AND #{endTime} >=over_time
                    </if>
                ) as faultHandleAmount,
                -- 故障处理时长
                ( SELECT IFNULL(sum(TIMESTAMPDIFF(MINUTE, fault_time,over_time) ) ,0) FROM fault_repair_record WHERE del_flag = 0
                    and appoint_user_id  = sys_user.id and `status`=1
                    <if test="startTime !=null and startTime !=''">
                        AND over_time >= #{startTime}
                    </if>
                    <if test="endTime !=null and endTime !=''">
                        AND #{endTime} >=over_time
                    </if>
                 ) as faultHandleTimeAmount,
                -- 配合施工人次
                ( SELECT IFNULL(sum(assort_num),0) FROM t_work_log
                    WHERE del_flag = 0 and create_by  = sys_user.id
                    <if test="startTime !=null and startTime !=''">
                        AND  create_time >= #{startTime}
                    </if>
                    <if test="endTime !=null and endTime !=''">
                        AND #{endTime} >=create_time
                    </if>
                ) as cooperateBuildAmount
        FROM sys_user
        WHERE del_flag = 0
        <if test="orgId !=null and orgId !=''">
            AND org_id = #{orgId}
        </if>
        <if test="userName !=null and userName !=''">
            AND realname like concat('%', #{userName}, '%')
        </if>
    </select>
</mapper>
