<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.patrol.mapper.PatrolPoolContentMapper">
	<select id="selectTreeDetails" resultType="com.aiurt.boot.modules.patrol.vo.PatrolPoolContentTreeVO">
		select c.*,
		       c.id     as contentId,
		       r.id     as reportId,
		       r.note,
		       r.save_status,
		       r.status as reportStatus,
		       r.code   as faultCode
		from t_patrol_pool_content c
				     left join t_patrol_task_report r on r.patrol_pool_content_id = c.id
				where c.patrol_pool_id = #{id}
		<if test="taskId != null">
			and (r.patrol_task_id = #{taskId} or r.patrol_task_id is null)
			and (r.del_flag = 0 or r.del_flag is null)
		</if>
		and c.del_flag = 0
				order by c.sequence
	</select>


	<select id="selectOneTreeDetails" resultType="com.aiurt.boot.modules.patrol.vo.PatrolPoolContentOneTreeVO">
		select c.*,
		       c.id             as contentId,
		       c.patrol_pool_id as poolId,
		       c.content,
		       c.parent_id,
		       r.id             as reportId,
		       r.note,
		       r.save_status,
		       r.status         as reportStatus
		from t_patrol_pool_content c
				     left join t_patrol_task_report r on r.patrol_pool_content_id = c.id
				where c.patrol_pool_id = #{id}
		<if test="typeIds != null and typeIds.size() > 0">
			and c.id in
			<foreach collection="typeIds" separator="," item="id" open="(" close=")">
				#{id}
			</foreach>
		</if>
		<if test="taskId != null">
			and (r.patrol_task_id = #{taskId} or r.patrol_task_id is null)
			and (r.del_flag = 0 or r.del_flag is null)
		</if>
		and c.del_flag = 0
				order by c.parent_id desc
	</select>
</mapper>
