<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.standard.mapper.InspectionCodeMapper">

    <select id="pageList" resultType="com.aiurt.boot.manager.dto.InspectionCodeDTO">
        SELECT inspection_code.* ,b.`name` as deviceTypeName,c.major_name as majorName,d.system_name as subsystemName
        FROM inspection_code as inspection_code
        LEFT JOIN device_type b on inspection_code.device_type_code =b.`code` and b.del_flag =0
        LEFT JOIN cs_major c on inspection_code.major_code =c.major_code and c.del_flag =0
        LEFT JOIN cs_subsystem d on inspection_code.subsystem_code = d.system_code and d.del_flag =0
        WHERE inspection_code.del_flag =0
        <if test="inspectionCodeDTO.title !=null ">
            AND inspection_code.title LIKE CONCAT ('%', #{inspectionCodeDTO.title}, '%')
        </if>
        <if test="inspectionCodeDTO.id !=null ">
            AND inspection_code.id = #{inspectionCodeDTO.id}
        </if>
        <if test="inspectionCodeDTO.code !=null ">
            AND inspection_code.`code` LIKE CONCAT ('%', #{inspectionCodeDTO.code}, '%')
        </if>
        <if test="inspectionCodeDTO.status !=null ">
            AND inspection_code.status = #{inspectionCodeDTO.status}
        </if>
        <if test="inspectionCodeDTO.majorCode !=null ">
            AND inspection_code.major_code = #{inspectionCodeDTO.majorCode}
        </if>
        <if test="inspectionCodeDTO.subsystemCode !=null ">
            AND inspection_code.subsystem_code = #{inspectionCodeDTO.subsystemCode}
        </if>
         <if test="inspectionCodeDTO.type !=null ">
            AND inspection_code.type = #{inspectionCodeDTO.type}
        </if>
        <if test="inspectionCodeDTO.deviceTypeCode !=null ">
            AND inspection_code.device_type_code = #{inspectionCodeDTO.deviceTypeCode}
        </if>
        <if test="inspectionCodeDTO.deviceTypeName !=null and inspectionCodeDTO.deviceTypeName !=''">
            AND b.`name` LIKE CONCAT ('%', #{inspectionCodeDTO.deviceTypeName}, '%')
        </if>
        ORDER BY  inspection_code.create_time DESC
    </select>
    <select id="pageLists" resultType="com.aiurt.boot.manager.dto.InspectionCodeDTO">
       SELECT * from (SELECT inspection_code.*,b.`name` as deviceTypeName,c.major_name as majorName,d.system_name as subsystemName,
        (SELECT COUNT(icc.inspection_code_id AND icc.inspection_code_id=inspection_code.id AND icc.del_flag=0 OR NULL) FROM inspection_code_content icc WHERE 1=1) as number
        FROM inspection_code
        LEFT JOIN device_type b on inspection_code.device_type_code =b.`code` and b.del_flag =0
        LEFT JOIN cs_major c on inspection_code.major_code =c.major_code and c.del_flag =0
        LEFT JOIN cs_subsystem d on inspection_code.subsystem_code = d.system_code and d.del_flag =0
        ) as ta
        WHERE ta.del_flag =0 and  ta.number >0
        <if test="inspectionCodeDTO.title !=null ">
            AND ta.title LIKE CONCAT ('%', #{inspectionCodeDTO.title}, '%')
        </if>
        <if test="inspectionCodeDTO.id !=null ">
            AND ta.id = #{inspectionCodeDTO.id}
        </if>
        <if test="inspectionCodeDTO.code !=null ">
            AND ta.`code` LIKE CONCAT ('%', #{inspectionCodeDTO.code}, '%')
        </if>
        <if test="inspectionCodeDTO.status !=null ">
            AND ta.status = #{inspectionCodeDTO.status}
        </if>
        <if test="inspectionCodeDTO.majorCode !=null ">
            AND ta.major_code = #{inspectionCodeDTO.majorCode}
        </if>
        <if test="inspectionCodeDTO.subsystemCode !=null ">
            AND ta.subsystem_code = #{inspectionCodeDTO.subsystemCode}
        </if>
        <if test="inspectionCodeDTO.type !=null ">
            AND ta.type = #{inspectionCodeDTO.type}
        </if>
        <if test="inspectionCodeDTO.deviceTypeCode !=null ">
            AND ta.device_type_code = #{inspectionCodeDTO.deviceTypeCode}
        </if>
        ORDER BY  ta.create_time DESC
    </select>
    <select id="number" resultType="java.lang.Integer">
        SELECT COUNT(inspection_str_rel.inspection_sta_code)as number
        FROM inspection_str_rel
        WHERE inspection_str_rel.inspection_sta_code=#{code}
    </select>
    <select id="number1" resultType="java.lang.Integer">
        SELECT COUNT(icc.inspection_code_id AND icc.inspection_code_id=#{id} AND icc.del_flag=0 OR NULL) FROM inspection_code_content icc WHERE 1=1
    </select>
    <select id="getSubsystemCode" resultType="com.aiurt.boot.manager.dto.SubsystemDTO">
        select system_name,system_code from cs_subsystem
    </select>
    <select id="getMajorCode" resultType="com.aiurt.boot.manager.dto.MajorDTO">
        select major_name,major_code from cs_major
    </select>
    <select id="getMajorName" resultType="java.lang.String">
        select cs.major_name from cs_major cs where del_flag =0 and major_code = #{majorCode}
    </select>
    <select id="deviceTypeCodeName" resultType="java.lang.String">
        select  name from device_type where  del_flag =0  and  code =#{deviceTypeCode}
    </select>
    <select id="getDeviceTypeInfo" resultType="com.aiurt.boot.standard.dto.DeviceTypeDTO">
        select  name,code from device_type
    </select>

    <select id="getList" resultType="com.aiurt.boot.standard.dto.InspectionCodeExcelDTO">
        select i.*
        from (select ic.*,(select realname from sys_user where ic.create_by = username and del_flag = 0)as reanlname
        from inspection_code ic) as i
        where i.del_flag =0
        <if test="inspectionCodeExcelDto.title !=null ">
            AND i.title LIKE CONCAT ('%', #{inspectionCodeExcelDto.title}, '%')
        </if>
        <if test="inspectionCodeExcelDto.id !=null ">
            AND i.id = #{inspectionCodeExcelDto.id}
        </if>
        <if test="inspectionCodeExcelDto.code !=null ">
            AND i.`code` LIKE CONCAT ('%', #{inspectionCodeExcelDto.code}, '%')
        </if>
        <if test="inspectionCodeExcelDto.status !=null ">
            AND i.status = #{inspectionCodeExcelDto.status}
        </if>
        <if test="inspectionCodeExcelDto.majorCode !=null ">
            AND i.major_code = #{inspectionCodeExcelDto.majorCode}
        </if>
        <if test="inspectionCodeExcelDto.subsystemCode !=null ">
            AND i.subsystem_code = #{inspectionCodeExcelDto.subsystemCode}
        </if>
        <if test="inspectionCodeExcelDto.type !=null ">
            AND i.type = #{inspectionCodeExcelDto.type}
        </if>
        <if test="inspectionCodeExcelDto.deviceTypeCode !=null ">
            AND i.device_type_code = #{inspectionCodeExcelDto.deviceTypeCode}
        </if>
    </select>

    <select id="querySysDict" resultType="org.jeecg.common.system.vo.DictModel">
        SELECT sd.dict_name as text,sd.dict_code as value
        FROM sys_dict sd
        WHERE sd.del_flag=0
        <if test="modules !=null">
            and  sd.modules = #{modules}
        </if>
    </select>
</mapper>
