<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.plan.mapper.PatrolPlanMapper">
    <update id="updates" parameterType="java.lang.String">
        UPDATE (patrol_plan a
            LEFT JOIN patrol_plan_standard b on b.plan_id =a.id
            LEFT JOIN patrol_plan_organization c on c.plan_code=a.`code`
            LEFT JOIN patrol_plan_device d on d.plan_id =a.id
            LEFT JOIN patrol_plan_station e on e.plan_code = a.`code`
            LEFT JOIN patrol_plan_strategy f on f.plan_id = a.id
            )
        SET a.del_flag = 1 ,b.del_flag=1,c.del_flag=1,d.del_flag=1,e.del_flag=1,f.del_flag=1
         where a.id= #{id}
    </update>

    <delete id="deleteIdorCode">
        <if test="id !=null and code!=null">
        DELETE  a.*,b.*,c.*,d.*,e.*,f.*
        from
            patrol_plan AS a
                LEFT JOIN patrol_plan_device b on a.id=b.plan_id
                LEFT JOIN patrol_plan_organization c on a.`code`=c.plan_code
                LEFT JOIN patrol_plan_standard d ON a.id=d.plan_id
                LEFT JOIN patrol_plan_station e ON a.`code`=e.plan_code
                LEFT JOIN patrol_plan_strategy f on a.id =f.plan_id
        WHERE
            a.id=#{id} AND a.`code`=#{code}
        </if>
    </delete>

    <select id="list" resultType="com.aiurt.boot.plan.dto.PatrolPlanDto">
        SELECT * FROM
        ( SELECT pp.*,
                 ( SELECT
        GROUP_CONCAT(e.depart_name)
        FROM patrol_plan_organization PPO
        LEFT JOIN sys_depart e ON PPO.organization_code = e.org_code
        WHERE
        pp.`code` = PPO.plan_code
        AND PPO.del_flag = 0) AS mechanismName,
        (SELECT
        GROUP_CONCAT(e.org_code)
        FROM
        patrol_plan_organization PPO
        LEFT JOIN sys_depart e ON PPO.organization_code = e.org_code
        WHERE
        pp.`code` = PPO.plan_code
        AND PPO.del_flag = 0 ) AS mechanismCode,
        (SELECT
        GROUP_CONCAT(f.station_name)
        FROM
        patrol_plan_station d
        LEFT JOIN cs_station f ON d.station_code = f.station_code
        WHERE
        pp.`code` = d.plan_code
        AND d.del_flag = 0) AS siteName,
        (SELECT
        GROUP_CONCAT(f.station_code)
        FROM
        patrol_plan_station d
        LEFT JOIN cs_station f ON d.station_code = f.station_code
        WHERE
        pp.`code` = d.plan_code
        AND d.del_flag = 0) AS siteCode,
        (SELECT
        GROUP_CONCAT(DISTINCT c.profession_code)
        FROM
        patrol_plan_standard c
        LEFT JOIN cs_major csm ON c.profession_code = csm.major_code
        WHERE
        c.plan_id = pp.id) AS professionCode,
        ( SELECT
        GROUP_CONCAT(DISTINCT csm.major_name)
        FROM
        patrol_plan_standard c
        LEFT JOIN cs_major csm ON c.profession_code = csm.major_code
        WHERE
        c.plan_id = pp.id ) AS professionName,
        ( SELECT
        GROUP_CONCAT(DISTINCT c.subsystem_code)
        FROM
        patrol_plan_standard c
        LEFT JOIN cs_subsystem css ON c.subsystem_code = css.system_code
        WHERE
        c.plan_id = pp.id) AS subsystemCode,
        ( SELECT
        GROUP_CONCAT(DISTINCT css.system_name)
        FROM
        patrol_plan_standard c
        LEFT JOIN cs_subsystem css ON c.subsystem_code = css.system_code
        WHERE
        c.plan_id = pp.id ) AS subsystemName
        FROM patrol_plan pp
        WHERE pp.del_flag = 0
            ) AS abc
        WHERE
        1 = 1
        <if test="patrolPlan.name !=null ">
            AND name LIKE CONCAT ('%', #{patrolPlan.name}, '%')
        </if>
        <if test="patrolPlan.professionCode !=null ">
            AND profession_code  LIKE CONCAT ('%', #{patrolPlan.professionCode}, '%')
        </if>
        <if test="patrolPlan.subsystemCode !=null ">
            AND subsystem_code  LIKE CONCAT ('%', #{patrolPlan.subsystemCode}, '%')
        </if>
        <if test="patrolPlan.code !=null ">
            AND code = #{patrolPlan.code}
        </if>
        <if test="patrolPlan.status !=null ">
            AND status = #{patrolPlan.status}
        </if>
        <if test="patrolPlan.mechanismCode !=null ">
            AND mechanismCode LIKE CONCAT ('%', #{patrolPlan.mechanismCode}, '%')
        </if>
        <if test="patrolPlan.siteCode!=null ">
            AND siteCode  LIKE CONCAT ('%', #{patrolPlan.siteCode}, '%')
        </if>
    </select>
    <select id="getMajorInfoByPlanId" resultType="java.lang.String">
        SELECT DISTINCT
        cm.major_name
        FROM
        patrol_plan_standard pps
        JOIN cs_major cm ON pps.profession_code = cm.major_code
        WHERE
        pps.del_flag=0
        <if test="planId != null and planId != ''">
            and pps.plan_id = #{planId}
        </if>

    </select>

    <select id="getSubsystemInfoByPlanId" resultType="java.lang.String">
        SELECT DISTINCT
        cs.system_name
        FROM
        patrol_plan_standard pps
        JOIN cs_subsystem cs ON pps.subsystem_code = cs.system_code
        WHERE
        pps.del_flag = 0
        <if test="planId != null and planId != ''">
            and pps.plan_id = #{planId}
        </if>

    </select>
    <select id="selectId" resultType="com.aiurt.boot.plan.dto.PatrolPlanDto">
        SELECT a.*,( SELECT GROUP_CONCAT(e.depart_name) FROM patrol_plan_organization PPO
          LEFT JOIN sys_depart e ON PPO.organization_code = e.org_code  WHERE  PPO.plan_code =#{code}
                    AND PPO.del_flag = 0   ) AS mechanismName,
               ( SELECT GROUP_CONCAT(f.station_name) FROM  patrol_plan_station d
                LEFT JOIN cs_station f ON d.station_code = f.station_code
                 WHERE  d.plan_code =#{code} AND d.del_flag = 0 ) AS siteName,
               ( SELECT GROUP_CONCAT(e.org_code) FROM patrol_plan_organization PPO
             LEFT JOIN sys_depart e ON PPO.organization_code = e.org_code
               WHERE PPO.plan_code=#{code} AND PPO.del_flag = 0) AS mechanismCode,
               ( SELECT GROUP_CONCAT(f.station_code) FROM  patrol_plan_station d
                     LEFT JOIN cs_station f ON d.station_code = f.station_code
                 WHERE d.plan_code =#{code} AND d.del_flag = 0 ) AS siteCode,
               ( SELECT GROUP_CONCAT(d.id) FROM  patrol_standard d
                LEFT JOIN patrol_plan_standard c on d.`code` =c.standard_code
                 WHERE c.plan_id =#{id} AND d.del_flag = 0 ) AS ids,
               b.type as strategyType,b.start_time as strategyStartTime,b.end_time as strategyEndTime,
               ( SELECT GROUP_CONCAT(d.`week`) FROM  patrol_plan_strategy d
                   where d.plan_id=#{id} and d.del_flag=0)as ws,
               ( SELECT GROUP_CONCAT(d.time) FROM  patrol_plan_strategy d
                 where d.plan_id=#{id} and d.del_flag=0)as ts
        FROM patrol_plan a
                 LEFT JOIN patrol_plan_strategy b on a.id= b.plan_id AND b.del_flag=0
        WHERE
            a.del_flag=0
          and a.id = #{id}
        LIMIT 1
    </select>
    <select id="selectByCode" resultType="com.aiurt.boot.plan.entity.PatrolPlan">
        select * from  patrol_plan where patrol_plan.code =#{code}
    </select>
    <select id="querySite" resultType="com.aiurt.boot.plan.dto.QuerySiteDto">
        select cs_station.station_name as siteName,cs_station.station_code as siteCode from cs_station where 1=1
    </select>
    <select id="byCode" resultType="java.lang.String">
        select patrol_plan_standard.id
        from patrol_plan_standard
        where patrol_plan_standard.standard_code=#{planStandardCode}
       and patrol_plan_standard.del_flag=0
    </select>
    <select id="viewDetails" resultType="com.aiurt.modules.device.entity.Device">
        SELECT a.* FROM device a LEFT JOIN patrol_plan_device b on a.`code`=b.device_code
        WHERE b.standard_code= #{standardCode}
    </select>
</mapper>
