<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.plan.mapper.PatrolPlanStandardMapper">
    <select id="getPlanCodeByMajorSystem" resultType="java.lang.String">
        select distinct pp.code
        from patrol_plan_standard patrol_plan_standard
                 join patrol_plan pp on patrol_plan_standard.plan_id = pp.id and pp.del_flag = 0
        where patrol_plan_standard.del_flag = 0
    </select>
</mapper>
