<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.system.mapper.SysUserMapper">

	<!-- 根据用户名查询 -->
	<select id="getUserByName" resultType="com.aiurt.boot.modules.system.entity.SysUser">
		select * from  sys_user  where username = #{username} and del_flag = '0'
	</select>


	<select id="findUserByAccount" resultType="com.aiurt.boot.modules.system.entity.SysUser">
		select * from  sys_user  where username = #{account} and del_flag = '0'
	</select>

	<!-- 根据用户名查询角色code -->
	<select id="getRoleCodeByName" resultType="string">
		select
		role.role_code
		from  sys_user user
		left join sys_user_role userRole on user.id=userRole.user_id
		left join sys_role role on userRole.role_id=role.id
		where username = #{username} and del_flag = '0'
	</select>

	<!-- 根据部门Id查询 -->
	<select id="getUserByDepId" resultType="com.aiurt.boot.modules.system.entity.SysUser">
		select * from sys_user where del_flag = '0' and id in (select user_id from sys_user_depart where dep_id=#{departId})
		<if test="username!=null and username!=''">
			and username = #{username}
		</if>
	</select>

	<!-- 根据角色Id查询 -->
	<select id="getUserByRoleId" resultType="com.aiurt.boot.modules.system.entity.SysUser">
		select * from sys_user where del_flag = '0' and id in (select user_id from sys_user_role where role_id=#{roleId})
		<if test="username!=null and username!=''">
			and username = #{username}
		</if>
	</select>

	<!--  修改用户部门code -->
	<update id="updateUserDepart">
		UPDATE sys_user SET org_code = #{orgCode} where username = #{username}
	</update>

	<!-- 根据手机号查询 -->
	<select id="getUserByPhone"  resultType="com.aiurt.boot.modules.system.entity.SysUser">
		select * from  sys_user  where phone = #{phone} and del_flag = '0'
	</select>

	<!-- 根据邮箱查询用户信息 -->
	<select id="getUserByEmail" resultType="com.aiurt.boot.modules.system.entity.SysUser">
	select * from  sys_user  where email = #{email} and del_flag = '0'
	</select>

	<!-- SQL片段：getUserByOrgCode 的 FROM 和 WHERE 部分 -->
	<sql id="getUserByOrgCodeFromSql">
		FROM
		sys_depart
		-- 关联查询出该部门有哪些用户
		INNER JOIN sys_user_depart ON sys_user_depart.dep_id = sys_depart.id
		-- 关联查询出该用户的详细信息
		INNER JOIN sys_user ON sys_user.id = sys_user_depart.user_id
		WHERE
		sys_depart.org_code LIKE '${orgCode}%'

		<if test="userParams != null">
			<if test="userParams.realname != null and userParams.realname != ''">
				AND sys_user.realname LIKE '%${userParams.realname}%'
			</if>
			<if test="userParams.workNo != null and userParams.workNo != ''">
				AND sys_user.work_no LIKE '%${userParams.workNo}%'
			</if>
		</if>
	</sql>

	<!-- 根据 orgCode 查询用户，包括子部门下的用户 -->
	<select id="getUserByOrgCode" resultType="com.aiurt.boot.modules.system.model.SysUserSysDepartModel">
		SELECT
			sys_user.id AS "sys_user.id",
			sys_user.realname AS "sys_user.realname",
			sys_user.work_no AS "sys_user.work_no",
			sys_user.post AS "sys_user.post",
			sys_user.telephone AS "sys_user.telephone",
			sys_user.email AS "sys_user.email",
			sys_user.phone AS "sys_user.phone",
			sys_depart.id AS "sys_depart.id",
			sys_depart.depart_name AS "sys_depart.depart_name"
		<include refid="getUserByOrgCodeFromSql"/>
		ORDER BY
			sys_depart.org_code ASC
	</select>

	<!-- 查询 getUserByOrgCode 的总数-->
	<select id="getUserByOrgCodeTotal" resultType="java.lang.Integer">
		SELECT COUNT(1) <include refid="getUserByOrgCodeFromSql"/>
	</select>

	<select id="findUserListByUserId" resultType="com.aiurt.boot.modules.system.entity.SysUser">
	select * from  sys_user  where account in (select account from sys_user where id = #{userId})
	</select>

	<select id="getTotalNum" parameterType="map" resultType="integer">
		select COUNT(distinct a.id) from sys_user a
		LEFT JOIN sys_user_role b on a.id=b.user_id
		LEFT JOIN sys_role c on b.role_id=c.id
		where c.role_code!='admin' and a.del_flag=0
		<if test="orgIds !=null and orgIds !=''">
			and a.org_id in
			<foreach collection="orgIds" open="(" close=")"     separator="," item="orgId">
				#{orgId}
			</foreach>
		</if>
	</select>

	<select id="getStaffData" parameterType="map" resultType="com.aiurt.boot.modules.statistical.vo.StaffDataVo">
		select DISTINCT(a.id) as staffId,d.depart_name as orgName, a.realname as staffName from sys_user a
		LEFT JOIN sys_user_role b on a.id=b.user_id
		LEFT JOIN sys_role c on b.role_id=c.id
		left join sys_depart d on a.org_id=d.id
		where c.role_code!='admin' and a.del_flag=0
		<if test="orgIds !=null and orgIds !=''">
			and a.org_id in
			<foreach collection="orgIds" open="(" close=")"     separator="," item="orgId">
				#{orgId}
			</foreach>
		</if>
		ORDER BY d.org_code
	</select>

	<select id="selectUserByTimeAndItemAndOrgId" resultType="com.aiurt.boot.modules.system.entity.SysUser">
		SELECT
		 s.*
		FROM
		 sys_user s
		INNER JOIN schedule_record r ON s.id = r.user_id
		AND s.org_id = #{orgId}
		and s.del_flag = 0
		and r.item_name = #{itemName}
		and r.date = #{date}
		and r.del_flag = 0
		order by r.date desc
	</select>

	<select id="getSysUsersByLineCodeAndOrgId" resultType="com.aiurt.boot.modules.system.entity.SysUser">
		SELECT
		 distinct s.*
		FROM
		 sys_user s
		INNER JOIN cs_station c ON s.org_id = c.team_id
		<if test="orgId !=null and orgId !=''">
			AND s.org_id = #{orgId}
		</if>
		and s.del_flag = 0
		inner join cs_line l on c.line_id = l.id
		<if test="lineCode != null">
			and l.line_code = #{lineCode}
		</if>
		order by convert(realname using gbk) ASC
	</select>


</mapper>
