<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.system.mapper.CsUserSubsystemMapper">

<select id="getSubsystemIds" resultType="java.lang.String">
    select system_id from cs_user_subsystem where user_id = #{userId}
    </select>
</mapper>