<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.system.mapper.CsUserDepartMapper">

<select id="getDepartIds" resultType="java.lang.String">
    select depart_id from cs_user_depart where user_id = #{userId}
    </select>

<select id="getDepartByUserId" resultType="org.jeecg.common.system.vo.CsUserDepartModel">
    select cud.id ,cud.user_id,cud.depart_id,sd.org_code ,sd.depart_name from cs_user_depart cud left join sys_depart sd on sd.id = cud.depart_id
    where sd.del_flag = 0 and  cud.user_id = #{id}
    </select>
</mapper>