<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.strategy.mapper.InspectionCoOrgRelMapper">
    <select id="getOrgList" resultType="com.aiurt.boot.manager.dto.OrgVO">
        select depart_name as label,
               org_code    as `value`
        from sys_depart
        <if test="orgRelList != null and orgRelList.size() != 0">
            where org_code in
            <foreach collection="orgRelList" item="item" index="index" separator="," open="(" close=")">
               #{item.orgCode}
            </foreach>
        </if>
    </select>
</mapper>
