<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.situation.mapper.SysInfoListMapper">

<select id="getByAnntId" resultType="com.aiurt.modules.situation.entity.SysAnnouncementSend">
    select  * from sys_announcement_send where annt_id=#{id}
    <if test="readFlag != null and readFlag != ''">
        and read_flag = #{readFlag}
    </if>
    </select>
</mapper>
