<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.situation.mapper.SysInfoListMapper">

<select id="getByAnntId" resultType="com.aiurt.modules.situation.entity.SysAnnouncementSend">
    select  * from sys_announcement_send where annt_id=#{id}
    <if test="readFlag != null and readFlag != ''">
        and read_flag = #{readFlag}
    </if>
    </select>

<select id="getMyInfo" resultType="com.aiurt.modules.situation.entity.SysAnnouncement">
    select
    sas.id,
    sas.read_flag,
    sa.titile,
    sa.msg_content,
    sa.sender,
    sa.level,
    sa.priority,
    sa.send_time
    from sys_announcement_send sas left join sys_announcement sa on sas.annt_id = sa.id
    where sa.send_status = 1 and sas.user_id =#{id} ORDER BY sas.create_time desc,sas.update_time desc
    </select>

<update id="updateReadFlag">
    update sys_announcement_send set read_flag = 1 ,read_time =#{readTime},update_time=#{readTime} where id =#{id}
    </update>
</mapper>
