<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.sparepart.mapper.SparePartStockMapper">
    <select id="readAll" resultType="com.aiurt.modules.sparepart.entity.SparePartStock">
        SELECT
        spare_part_stock.id,
        t1.warehouse_code,
        t1.warehouse_name warehouseName,
        spare_part_stock.material_code materialCode,
        t2.NAME,
        spare_part_stock.num,
        cs_major.major_name majorName,
        cs_subsystem.system_name systemName,
        t5.base_type_name baseTypeCodeName,
        d1.item_text typeName,
        sys_depart.depart_name orgName,
        t2.specifications,
        t7.`name` manufactorCodeName,
        d3.item_text unit,
        t2.price
        FROM
        spare_part_stock spare_part_stock
        LEFT JOIN spare_part_stock_info t1 ON spare_part_stock.warehouse_code = t1.warehouse_code
        LEFT JOIN material_base t2 ON spare_part_stock.material_code = t2.CODE
        LEFT JOIN cs_major cs_major ON t2.major_code = cs_major.major_code
        LEFT JOIN cs_subsystem cs_subsystem ON t2.system_code = cs_subsystem.system_code
        LEFT JOIN material_base_type t5 ON t2.base_type_code = t5.base_type_code
        LEFT JOIN sys_depart sys_depart ON sys_depart.id = spare_part_stock.org_id
        LEFT JOIN sys_dict AS dict1 ON dict1.dict_code = 'material_type'
        LEFT JOIN sys_dict_item AS d1 ON d1.item_value = t2.type  AND dict1.id = d1.dict_id
        LEFT JOIN cs_manufactor t7 ON t7.id = t2.manufactor_code
        LEFT JOIN sys_dict AS dict3 ON dict3.dict_code = 'materian_unit'
        LEFT JOIN sys_dict_item AS d3 ON d3.item_value = t2.unit AND dict3.id = d3.dict_id

        WHERE
        spare_part_stock.del_flag =0
        <if test="stock.materialCode!=null and stock.materialCode!=''">
            and spare_part_stock.material_code like concat('%',  #{stock.materialCode}, '%')
        </if>
        <if test="stock.name!=null and stock.name!=''">
            and t2.`name` like concat('%', #{stock.name}, '%')
        </if>
        <if test="stock.type!=null and stock.type!=''">
            and t2.type = #{stock.type}
        </if>
        <if test="stock.majorCode!=null and stock.majorCode!=''">
            and cs_major.major_code like concat('%', #{stock.majorCode}, '%')
        </if>
        <if test="stock.systemCode!=null and stock.systemCode!=''">
            and cs_subsystem.system_code like concat('%', #{stock.systemCode}, '%')
        </if>
        <if test="stock.baseTypeCode!=null and stock.baseTypeCode!=''">
            and t5.base_type_code like concat('%', #{stock.baseTypeCode}, '%')
        </if>
        <if test="stock.orgId!=null and stock.orgId!=''">
            and spare_part_stock.org_id not in (#{stock.orgId})
        </if>
        <if test="stock.num != null and stock.num != ''">
            and spare_part_stock.num <![CDATA[ <> ]]> 0
        </if>
        <if test="stock.warehouseCode!=null and stock.warehouseCode!=''">
            and t1.warehouse_code = #{stock.warehouseCode}
        </if>
        <if test="stock.warehouseName!=null and stock.warehouseName!=''">
            and t1.warehouse_name = #{stock.warehouseName}
        </if>
        <if test="stock.num!=null and stock.num!=''">
            and spare_part_stock.num <![CDATA[ <> ]]>  0
        </if>
        order by spare_part_stock.create_time desc
    </select>

    <select id="stockCount" resultType="java.lang.Long">
		SELECT
			  SUM(stock_level2.num) as sum
        FROM
        stock_level2 stock_level2
        LEFT JOIN stock_level2_info stock_level2i ON stock_level2.warehouse_code = stock_level2i.warehouse_code
        LEFT JOIN material_base t2 ON stock_level2.material_code = t2.CODE
        LEFT JOIN cs_major cs_major ON t2.major_code = cs_major.major_code
        LEFT JOIN cs_subsystem cs_subsystem ON t2.system_code = cs_subsystem.system_code
        LEFT JOIN material_base_type t5 ON t2.base_type_code = t5.base_type_code
        <where>
            stock_level2.del_flag =0
            <if test="systemCode != null">
                and cs_subsystem.system_code = #{systemCode}
            </if>
            <if test="baseTypeCode != null">
                and t5.base_type_code = #{baseTypeCode}
            </if>
        </where>
    </select>

    <select id="sparePartCount" resultType="java.lang.Long">
        SELECT
			  SUM(spare_part_stock.num) as sum
        FROM
        spare_part_stock spare_part_stock
        LEFT JOIN spare_part_stock_info t1 ON spare_part_stock.warehouse_code = t1.warehouse_code
        LEFT JOIN material_base t2 ON spare_part_stock.material_code = t2.CODE
        LEFT JOIN cs_major cs_major ON t2.major_code = cs_major.major_code
        LEFT JOIN cs_subsystem cs_subsystem ON t2.system_code = cs_subsystem.system_code
        LEFT JOIN material_base_type t5 ON t2.base_type_code = t5.base_type_code
        <where>
            spare_part_stock.del_flag =0
            <if test="systemCode != null">
                and cs_subsystem.system_code = #{systemCode}
            </if>
            <if test="baseTypeCode != null">
                and t5.base_type_code = #{baseTypeCode}
            </if>
        </where>
    </select>

    <select id="getSubsystemByUserId" resultType="com.aiurt.modules.sparepart.entity.dto.SparePartStatistics">
        select cs.system_code as systemCode,cs.system_name as systemName,cs.id as id
        from cs_user_subsystem cus
        left join cs_subsystem cs on cs.id = cus.system_id
        where cs.del_flag = 0
        <if test="id != null and id != ''">
            and cus.user_id = #{id}
        </if>
        <if test="systemCode != null and systemCode != ''">
            and cs.system_code = #{systemCode}
        </if>
    </select>

    <select id="timeCount" resultType="java.lang.Long">
        SELECT
          SUM(spare_part_out_order.num) as sum
        FROM
        spare_part_out_order spare_part_out_order
        LEFT JOIN material_base t1 ON spare_part_out_order.material_code = t1.CODE
        LEFT JOIN cs_major cs_major ON t1.major_code = cs_major.major_code
        LEFT JOIN cs_subsystem cs_subsystem ON t1.system_code = cs_subsystem.system_code
        LEFT JOIN material_base_type t4 ON t1.base_type_code = t4.base_type_code
        <where>
                spare_part_out_order.del_flag =0
            <if test="systemCode != null">
                and cs_subsystem.system_code = #{systemCode}
            </if>
            <if test="baseTypeCode != null">
                and t4.base_type_code = #{baseTypeCode}
            </if>
            <if test="year != null">
                and YEAR(spare_part_out_order.confirm_time) = #{year}
            </if>
            <if test="month != null">
                and MONTH(spare_part_out_order.confirm_time) = #{month}
            </if>
        </where>
    </select>
</mapper>
