<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.sparepart.mapper.SparePartInOrderMapper">
    <select id="readAll" resultType="com.aiurt.modules.sparepart.entity.SparePartInOrder">
        SELECT
            spare_part_in_order.id,
            spare_part_in_order.confirm_status,
            spare_part_in_order.apply_code,
            d1.item_text confirmStatusName,
            cs_major.major_name majorName,
            cs_subsystem.system_name systemName,
            t4.base_type_name baseTypeCodeName,
            d2.item_text typeName,
            t1.`code` materialCode,
            t1.`name`,
            t1.specifications,
            t7.`name` manufactorCodeName,
            d3.item_text unit,
            t1.price,
            t5.warehouse_name warehouseName,
            spare_part_in_order.num,
            spare_part_in_order.confirm_time confirmTime,
            t6.realname confirmName ,
            spare_part_in_order.create_time,
            spare_part_in_order.out_order_code outOrderCode,
            t8.realname outOrderName
        FROM
            spare_part_in_order spare_part_in_order
            LEFT JOIN material_base t1 ON spare_part_in_order.material_code = t1.CODE
            LEFT JOIN cs_major cs_major ON t1.major_code = cs_major.major_code
            LEFT JOIN cs_subsystem cs_subsystem ON t1.system_code = cs_subsystem.system_code
            LEFT JOIN material_base_type t4 ON t1.base_type_code = t4.base_type_code
            LEFT JOIN spare_part_stock_info t5 ON spare_part_in_order.warehouse_code = t5.warehouse_code
            LEFT JOIN sys_user t6 ON spare_part_in_order.confirm_id = t6.username
            LEFT JOIN sys_dict AS dict1 ON dict1.dict_code = 'spare_in_order_status'
            LEFT JOIN sys_dict_item AS d1 ON d1.item_value = spare_part_in_order.confirm_status AND dict1.id = d1.dict_id
            LEFT JOIN cs_manufactor t7 ON t7.id = t1.manufactor_code
            LEFT JOIN sys_user t8 ON spare_part_in_order.create_by = t8.username
            LEFT JOIN sys_dict AS dict2 ON dict2.dict_code = 'material_type'
            LEFT JOIN sys_dict_item AS d2 ON d2.item_value = t1.type AND dict2.id = d2.dict_id
            LEFT JOIN sys_dict AS dict3 ON dict3.dict_code = 'materian_unit'
            LEFT JOIN sys_dict_item AS d3 ON d3.item_value = t1.unit AND dict3.id = d3.dict_id

        WHERE
            spare_part_in_order.del_flag =0
            <if test="order.materialCode!=null and order.materialCode!=''">
                and t1.`code` like   concat('%', #{order.materialCode}, '%')
            </if>
            <if test="order.name!=null and order.name!=''">
                and t1.`name` like concat('%',#{order.name}, '%')
            </if>
            <if test="order.warehouseName!=null and order.warehouseName!=''">
                and t5.warehouse_name = #{order.warehouseName}
            </if>
            <if test="order.confirmStatus!=null and order.confirmStatus!=''">
                and spare_part_in_order.confirm_status = #{order.confirmStatus}
            </if>
            <if test="order.ids!=null and order.ids!=''">
                and spare_part_in_order.id in(
                <foreach collection="order.ids" separator="," item="item">
                    #{item}
                </foreach>)
            </if>
            order by spare_part_in_order.create_time desc
    </select>

</mapper>
