<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.sparepart.mapper.SparePartScrapMapper">
    <select id="readAll" resultType="com.aiurt.modules.sparepart.entity.SparePartScrap">
        SELECT
        distinct
        spare_part_scrap.id,
        d1.item_text statusName,
        t2.major_name majorName,
        t3.system_name systemName,
        t4.base_type_name baseTypeCodeName,
        d2.item_text typeName,
        t1.`code` materialCode,
        t1.`name`,
        spare_part_scrap.scrap_time,
        spare_part_scrap.num,
        t6.realname create_by,
        t1.specifications,
        t7.`name` manufactorCodeName,
        d3.item_text unit,
        t1.price,
        spare_part_scrap.confirm_time confirmTime,
        t8.realname confirmName,
        spare_part_scrap.reason ,
        spare_part_scrap.status,
        spare_part_scrap.warehouse_code,
        spare_part_scrap.location,
        spare_part_scrap.remarks
        FROM
        spare_part_scrap spare_part_scrap
        LEFT JOIN material_base t1 ON (spare_part_scrap.material_code = t1.CODE and  t1.del_flag = 0)
        LEFT JOIN cs_major t2 ON (t1.major_code = t2.major_code and  t2.del_flag = 0)
        LEFT JOIN cs_subsystem t3 ON (t1.system_code = t3.system_code and t3.del_flag = 0)
        LEFT JOIN material_base_type t4 ON (t1.base_type_code = t4.base_type_code and  t4.del_flag)
        LEFT JOIN sys_user t6 ON spare_part_scrap.create_by = t6.username
        LEFT JOIN sys_dict AS dict1 ON dict1.dict_code = 'spare_scrap_status'
        LEFT JOIN sys_dict_item AS d1 ON (d1.item_value = spare_part_scrap.STATUS
        AND dict1.id = d1.dict_id)
        LEFT JOIN cs_manufactor t7 ON t7.id = t1.manufactor_code
        LEFT JOIN sys_user t8 ON spare_part_scrap.confirm_id = t8.username
        LEFT JOIN sys_dict AS dict2 ON dict2.dict_code = 'material_type'
        LEFT JOIN sys_dict_item AS d2 ON (d2.item_value = t1.type AND dict2.id = d2.dict_id)
        LEFT JOIN sys_dict AS dict3 ON dict3.dict_code = 'materian_unit'
        LEFT JOIN sys_dict_item AS d3 ON (d3.item_value = t1.unit AND dict3.id = d3.dict_id)

        WHERE
        spare_part_scrap.del_flag =0
        <if test="scrap.materialCode!=null and scrap.materialCode!=''">
            and t1.`code` like concat('%', #{scrap.materialCode}, '%')
        </if>
        <if test="scrap.name!=null and scrap.name!=''">
            and t1.`name` like concat('%', #{scrap.name}, '%')
        </if>
        <if test="scrap.status!=null and scrap.status!=''">
            and spare_part_scrap.status = #{scrap.status}
        </if>
        <if test="scrap.majorCode!=null and scrap.majorCode!=''">
            and t2.major_code like concat('%', #{scrap.majorCode}, '%')
        </if>
        <if test="scrap.systemCode!=null and scrap.systemCode!=''">
            and t3.system_code like concat('%', #{scrap.systemCode}, '%')
        </if>
        <if test="scrap.baseTypeCode!=null and scrap.baseTypeCode!=''">
            and t4.base_type_code like concat('%', #{scrap.baseTypeCode}, '%')
        </if>
        <if test="scrap.ids!=null and scrap.ids!=''">
            and spare_part_scrap.id in(
            <foreach collection="scrap.ids" separator="," item="item">
                #{item}
            </foreach>)
        </if>
        order by spare_part_scrap.create_time desc

    </select>
    <select id="queryAllScrapForRepair" resultType="com.aiurt.modules.sparepart.entity.SparePartScrap">
        SELECT DISTINCT
            spare_part_scrap.*,
            t1.`code` materialCode,
            t1.`type`,
            t1.`name`,
            t1.specifications,
            t1.manufactor_code,
            t1.price,
            t1.unit unitValue,
            t1.consumables_type,
            t2.major_code,
            t2.major_name,
            t3.system_code,
            t3.system_name,
            t4.base_type_code,
            t4.base_type_name baseTypeCodeName,
            t6.realname createBy,
            t7.`name` manufactorCodeName,
            f1.symptoms
        FROM
            spare_part_scrap spare_part_scrap
            LEFT JOIN material_base t1 ON ( spare_part_scrap.material_code = t1.CODE AND t1.del_flag = 0 )
            LEFT JOIN cs_major t2 ON ( t1.major_code = t2.major_code AND t2.del_flag = 0 )
            LEFT JOIN cs_subsystem t3 ON ( t1.system_code = t3.system_code AND t3.del_flag = 0 )
            LEFT JOIN material_base_type t4 ON ( t1.base_type_code = t4.base_type_code AND t4.del_flag = 0 )
            LEFT JOIN sys_user t6 ON spare_part_scrap.create_by = t6.username
            LEFT JOIN cs_manufactor t7 ON t7.id = t1.manufactor_code
            LEFT JOIN fault f1 ON ( spare_part_scrap.fault_code = f1.`code` )
        <where>
            spare_part_scrap.status = 3
            AND spare_part_scrap.fault_code IS NOT NULL
            AND TRIM( spare_part_scrap.fault_code ) != ''
            <if test="scrap.repairStatus != null and scrap.repairStatus != ''">
                AND spare_part_scrap.repair_status = #{scrap.repairStatus}
            </if>
            <if test="scrap.name != null and scrap.name != ''">
                AND t1.name like concat('%', #{scrap.name}, '%')
            </if>
            <if test="scrap.materialCode != null and scrap.materialCode != ''">
                AND t1.code like concat('%', #{scrap.materialCode}, '%')
            </if>
            <if test="scrap.systemCode != null and scrap.systemCode != ''">
                AND t3.system_code = #{scrap.systemCode}
            </if>
        </where>
        order by spare_part_scrap.repair_time desc,spare_part_scrap.repair_status asc
    </select>

    <select id="queryResponsibleUserName" resultType="java.lang.String">
        SELECT distinct
            s2.realname
        FROM
            spare_part_scrap
                LEFT JOIN spare_part_stock_info s1 ON ( spare_part_scrap.warehouse_code = s1.warehouse_code AND s1.del_flag = 0 )
                LEFT JOIN sys_user s2 ON ( s1.org_code = s2.org_code )
                LEFT JOIN sys_user_role s3 ON ( s2.id = s3.user_id )
                LEFT JOIN sys_role s4 ON ( s3.role_id = s4.id AND s4.role_code = 'foreman' )
        WHERE spare_part_scrap.warehouse_code = #{warehouseCode}
    </select>
    <select id="queryManageUserName" resultType="java.lang.String">
        SELECT distinct
            sys_user.realname
        FROM
            sys_user
                JOIN sys_user_role ON ( sys_user.id = sys_user_role.user_id )
                JOIN sys_role ON ( sys_user_role.role_id = sys_role.id AND sys_role.role_code = 'repair_agent')
    </select>

</mapper>
