<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.sysFile.mapper.SysFileMapper">

<select id="selectFilePage" resultType="com.aiurt.boot.modules.sysFile.entity.SysFile">
	select * from sys_file
		<where>
			<if test="typeId != null">
				type_id = #{typeId}
			</if>
		</where>
	<!--limit #{no},#{size}-->
	</select>
</mapper>
