<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.team.mapper.EmergencyTrainingRecordMapper">

<select id="queryPageList" resultType="com.aiurt.boot.team.vo.EmergencyTrainingRecordVO">
    select
        wtr.id,
        etp.training_program_code,
        etp.training_program_name,
        wtr.emergency_team_id,
        wtr.training_time,
        wtr.trainees_num,
        su.realname as managerName,
        wtr.line_code,
        wtr.station_code,
        wtr.position_code,
        wtr.status,
        wtr.training_appraise,
        et.emergency_teamname
    from emergency_training_record wtr
    left join emergency_training_program etp on wtr.emergency_training_program_id = etp.id
    left join emergency_team et on wtr.emergency_team_id = et.id
    left join sys_user su on et.manager_id = su.id
    WHERE wtr.del_flag = 0
    <if test="emergencyTrainingRecordDTO.emergencyTeamId != null and emergencyTrainingRecordDTO.emergencyTeamId != ''">
        and wtr.emergency_team_id = #{emergencyTrainingRecordDTO.emergencyTeamId}
    </if>
    <if test="emergencyTrainingRecordDTO.trainingProgramName != null and emergencyTrainingRecordDTO.trainingProgramName != ''">
        and etp.training_program_name like concat('%',#{emergencyTrainingRecordDTO.trainingProgramName},'%')
    </if>
    <if test="emergencyTrainingRecordDTO.trainingProgramCode != null and emergencyTrainingRecordDTO.trainingProgramCode != ''">
        and etp.training_program_code = #{emergencyTrainingRecordDTO.trainingProgramCode}
    </if>
    <if test="emergencyTrainingRecordDTO.trainingStartTime != null">
        and DATE_FORMAT( wtr.training_time ,'%Y-%m-%d') &gt;= DATE_FORMAT(#{emergencyTrainingRecordDTO.trainingStartTime} ,'%Y-%m-%d')
    </if>
    <if test="emergencyTrainingRecordDTO.trainingStartTime != null">
        and DATE_FORMAT( wtr.training_time ,'%Y-%m-%d') &lt;= DATE_FORMAT(#{emergencyTrainingRecordDTO.trainingEndTime} ,'%Y-%m-%d')
    </if>
    <if test="emergencyTrainingRecordDTO.ids != null and emergencyTrainingRecordDTO.ids.size() != 0">
        and et.id in
        <foreach collection="emergencyTrainingRecordDTO.ids" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </if>
    order by wtr.create_time desc ,wtr.update_time desc
    </select>

<select id="queryById" resultType="com.aiurt.boot.team.vo.EmergencyTrainingRecordVO">
    select
            wtr.id,
            etp.training_program_code,
            etp.training_program_name,
            wtr.emergency_team_id,
            wtr.training_time,
            wtr.trainees_num,
            wtr.line_code,
            wtr.station_code,
            wtr.position_code,
            wtr.status,
            et.emergency_teamname,
            wtr.training_appraise,
            su.realname as managerName
    from emergency_training_record wtr
                 left join emergency_training_program etp on wtr.emergency_training_program_id = etp.id
                 left join emergency_team et on wtr.emergency_team_id = et.id
                 left join sys_user su on et.manager_id = su.id
        where wtr.del_flag = 0 and wtr.id = #{id}
    </select>

<select id="getTrainingCrews" resultType="com.aiurt.boot.team.vo.EmergencyCrewVO">
    select ec.id,ec.user_id,ec.user_phone as phone,ec.post,ec.schedule_item,su.realname
    from emergency_training_record_crew etrc
    left join emergency_crew ec on etrc.emergency_crew_id = ec.id
    left join sys_user su on su.id = ec.user_id
    where etrc.del_flag = 0  and ec.del_flag = 0 and etrc.emergency_training_record_id = #{id}
    </select>
</mapper>
