<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.team.mapper.EmergencyTeamMapper">

<select id="getTrainingRecord" resultType="com.aiurt.boot.team.dto.EmergencyTeamTrainingDTO">
    select
        etp.training_program_name,
        etr.training_time,
        etr.trainees_num,
        etp.training_program_code,
        etp.remark
    from emergency_training_record  etr
    left join emergency_training_program etp on etr.emergency_training_program_id = etp.id
    where etr.emergency_team_id = #{id}
    and etr.del_flag = 0
    </select>

<select id="getTeamByTrainingProgram" resultType="com.aiurt.boot.team.entity.EmergencyTeam">
    select et.id,et.emergency_teamcode,et.emergency_teamname,et.position_code
    from emergency_plan_team ept
    left join emergency_team et on ept.emergency_team_id = et.id
    where ept.del_flag = 0 and ept.emergency_plan_id = #{id}
    </select>
</mapper>
