<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.team.mapper.EmergencyTrainingProgramMapper">

<select id="getTrainingTeam" resultType="com.aiurt.boot.team.entity.EmergencyTrainingTeam">
    SELECT
    ett.id,
    et.id as emergencyTeamId,
    et.emergency_teamname as emergencyTeamName
    FROM
    emergency_training_team ett
    LEFT JOIN emergency_team et ON ett.emergency_team_id = et.id
    WHERE
    ett.emergency_training_program_id = #{id} and ett.del_flag = 0
    </select>

<select id="getTrainees" resultType="java.lang.String">
    select GROUP_CONCAT(su.realname)
    from emergency_training_team ett
    left join emergency_team et on et.id = ett.emergency_team_id
    left join sys_user su on su.id = et.manager_id
    WHERE
    ett.emergency_training_program_id = #{id} and ett.del_flag = 0
    group by ett.emergency_training_program_id
    </select>

    <select id="getTrainingProgram" resultType="com.aiurt.boot.team.entity.EmergencyTrainingProgram">
        select etp.*
        from emergency_training_program etp
        left join emergency_training_team ett on etp.id = ett.emergency_training_program_id
        where etp.del_flag = 0 and ett.del_flag = 0
        <if test="emergencyTrainingProgramDTO.id != null and emergencyTrainingProgramDTO.id != ''">
            and ett.emergency_team_id = #{emergencyTrainingProgramDTO.id}
            and etp.id not in (select etr.emergency_training_program_id  from emergency_training_record etr where etr.emergency_team_id = #{emergencyTrainingProgramDTO.id} and etr.del_flag = 0)
        </if>
        <if test="emergencyTrainingProgramDTO.trainingProgramCode != null and emergencyTrainingProgramDTO.trainingProgramCode != ''">
            and etp.training_program_code = #{emergencyTrainingProgramDTO.trainingProgramCode}
        </if>
        <if test="emergencyTrainingProgramDTO.trainingProgramName != null and emergencyTrainingProgramDTO.trainingProgramName != ''">
            and etp.training_program_name = #{emergencyTrainingProgramDTO.trainingProgramCode}
        </if>
        <if test="emergencyTrainingProgramDTO.trainingPlanTime != null">
            and etp.training_plan_time = #{emergencyTrainingProgramDTO.trainingPlanTime}
        </if>
        group by etp.id
    </select>
</mapper>
