<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.stock.mapper.StockLevel2RequisitionMapper">



    <select id="getFlowDataById" resultType="com.aiurt.modules.flow.dto.TaskCompleteDTO">
        select
        ahp.PROC_INST_ID_ as process_instance_id,
        ara.ID_           as task_id
        from act_hi_procinst ahp
        LEFT join act_ru_task ara ON ara.PROC_INST_ID_ = ahp.PROC_INST_ID_
        where ahp.BUSINESS_KEY_ = #{id}
    </select>

    <select id="getFlowDataByIdsAndUsername"
            resultType="com.aiurt.modules.stock.dto.resp.StockLevel2RequisitionListRespDTO">
        select
        ahp.BUSINESS_KEY_ as id,
        ahp.PROC_INST_ID_ as processInstanceId,
        art.ID_ as taskId
        from act_hi_procinst ahp
        inner join act_ru_task art on art.PROC_INST_ID_=ahp.PROC_INST_ID_
        where ahp.BUSINESS_KEY_ in
        <foreach collection="idList" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        and (art.ASSIGNEE_ = #{username}  OR art.ID_ in (
        SELECT TASK_ID_
        FROM act_ru_identitylink ari
        WHERE
        ari.TYPE_= 'candidate'
        AND ari.USER_ID_= #{username}
        AND ari.TASK_ID_ = art.ID_
        AND (art.assignee_ = '' or art.assignee_ is null)
        ))
    </select>
</mapper>
