<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.stock.mapper.StockOutOrderLevel2Mapper">
    <select id="pageList" resultType="com.aiurt.modules.stock.entity.StockOutOrderLevel2">
        select sool.*
        from stock_out_order_level2 sool
        left join spare_part_stock_info spsi on sool.custodial_warehouse_code = spsi.warehouse_code and spsi.del_flag = 0
        <where>
            and sool.del_flag = 0
            <if test="condition.orderCode != null and condition.orderCode != ''">
                and sool.order_code like concat(concat('%',#{condition.orderCode}),'%')
            </if>
            <if test="condition.warehouseName != null and condition.warehouseName != ''">
                and spsi.warehouse_name like concat(concat('%',#{condition.warehouseName}),'%')
            </if>
            <if test="condition.outTimeBegin != null and condition.outTimeEnd != null">
                and Date(sool.out_time) &gt;= #{condition.outTimeBegin} and Date(sool.out_time) &lt;= #{condition.outTimeEnd}
            </if>
        </where>
        order by sool.create_time desc
    </select>
</mapper>
