<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.stock.mapper.StockLevel2Mapper">

    <select id="pageList" resultType="com.aiurt.modules.stock.entity.StockLevel2">
        select stock_level2.*,mb.`name` materialName, stock_level2i.organization_id, mb.unit, mb.`type`
        from stock_level2 stock_level2
        left join material_base mb on stock_level2.material_code=mb.code
        left join stock_level2_info stock_level2i on stock_level2.warehouse_code = stock_level2i.warehouse_code and stock_level2i.del_flag = 0
        left join cs_major cm on mb.major_code = cm.major_code and cm.del_flag = 0
        left join cs_subsystem cs on mb.system_code = cs.system_code and cs.del_flag = 0
		<where>
		    and stock_level2.del_flag = 0
            <if test="condition.selectMaterialType != null and condition.selectMaterialType != ''">
                and (cm.major_name like concat('%', #{condition.selectMaterialType}, '%')
                    or cs.system_name like concat('%', #{condition.selectMaterialType}, '%')
                    or CONCAT(',',REPLACE(stock_level2.base_type_code,'/',','),',') REGEXP CONCAT(',(',replace((select GROUP_CONCAT(base_type_code)
                            from (select base_type_code from material_base_type where base_type_name like concat('%', #{condition.selectMaterialType}, '%')) t),',','|'),'),')
                )
            </if>
            <if test="condition.majorCode != null and condition.majorCode != ''">
                and stock_level2.major_code = #{condition.majorCode}
            </if>
            <if test="condition.systemCode != null and condition.systemCode != ''">
                and stock_level2.system_code = #{condition.systemCode}
            </if>
            <if test="condition.baseType != null and condition.baseType != ''">
                and mb.base_type_code = #{condition.baseType}
            </if>
            <if test="condition.materialCode != null and condition.materialCode != ''">
                and stock_level2.material_code like concat('%', #{condition.materialCode}, '%')
            </if>
            <if test="condition.organizationId != null and condition.organizationId != ''">
                and stock_level2i.organization_id = #{condition.organizationId}
            </if>
            <if test="condition.materialName != null and condition.materialName != ''">
                and mb.`name` like concat('%', #{condition.materialName}, '%')
            </if>
            <if test="condition.type != null and condition.type != ''">
                and mb.`type` = #{condition.type}
            </if>
            <if test="condition.warehouseCode != null and condition.warehouseCode != ''">
                and stock_level2.warehouse_code = #{condition.warehouseCode}
            </if>
            <if test="condition.warehouseName != null and condition.warehouseName != ''">
                and stock_level2i.warehouse_name like concat('%', #{condition.warehouseName}, '%')
            </if>
            <if test="condition.num != null and condition.num != ''">
                and stock_level2.num <![CDATA[ <> ]]> 0
            </if>
            <if test="condition.materialCode != null and condition.materialCode != ''">
                and mb.code like concat('%', #{condition.materialCode}, '%')
            </if>
            <if test="condition.materialName != null and condition.materialName != ''">
                and mb.name like concat('%', #{condition.materialName}, '%')
            </if>
        </where>
        order by stock_level2.create_time desc
    </select>

    <select id="getDetailById" resultType="com.aiurt.modules.stock.entity.StockLevel2">
        select sl.*,mb.`name` materialName, mb.unit, mb.specifications, mb.price, mb.manufactor_code, mb.`type`
        from stock_level2 sl
        left join material_base mb on sl.material_code=mb.code
        where sl.id = #{id}
    </select>
    <select id="exportXls" resultType="com.aiurt.modules.stock.entity.StockLevel2">
        select sl.id,cm.major_name, cs.system_name, mb.base_type_code_cc base_type_code, sl.material_code, mb.`name` material_name,
        d1.item_text type_name, sli.warehouse_name, sd.depart_name organization_name, sl.num, d2.item_text unit_name, DATE_FORMAT(sl.stock_in_time,'%Y-%m-%d %H:%i') stock_in_time_excel
        from stock_level2 sl
        left join material_base mb on sl.material_code=mb.`code` and mb.del_flag=0
        left join stock_level2_info sli on sl.warehouse_code = sli.warehouse_code and sli.del_flag=0
        LEFT JOIN sys_dict as dict1 ON dict1.dict_code = 'material_type'
        LEFT JOIN sys_dict_item as d1 ON d1.item_value = mb.`type` AND dict1.id = d1.dict_id
        LEFT JOIN sys_dict as dict2 ON dict2.dict_code = 'materian_unit'
        LEFT JOIN sys_dict_item as d2 ON d2.item_value = mb.unit AND dict2.id = d2.dict_id
        left join cs_major cm on mb.major_code = cm.major_code and cm.del_flag=0
        left join cs_subsystem cs on mb.system_code = cs.system_code and cs.del_flag=0
        left join sys_depart sd on sli.organization_id = sd.id
        where sl.id in
        <foreach collection="ids" item="id" index="index" open=" ( " close=" ) " separator=",">
            #{id}
        </foreach>
        order by sl.create_time desc
    </select>

</mapper>
