<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.stock.mapper.StockSubmitPlanMapper">
    
    <select id="getOrgSelect" resultType="com.aiurt.modules.stock.entity.StockSubmitPlan">
        select sd.org_code, sd.depart_name
        from stock_submit_plan stock_submit_plan
        left join sys_depart sd on stock_submit_plan.org_code = sd.org_code
        group by sd.org_code
        order by sd.create_time desc
    </select>

    <select id="getone" resultType="com.aiurt.modules.stock.entity.StockSubmitPlan">
        SELECT
        id,
        CODE,
        YEAR,
        submit_type,
        org_id,
        org_code,
        user_id,
        submit_time,
        STATUS,
        create_by,
        update_by,
        create_time,
        update_time,
        del_flag
        FROM
        stock_submit_plan
        WHERE
        CODE LIKE CONCAT(#{str},'%')
        ORDER BY
        create_time DESC
        LIMIT 1;

    </select>
</mapper>
