<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.maplocation.mapper.BdMapListMapper">
    <select id="queryPositionById" parameterType="string"
            resultType="com.aiurt.modules.maplocation.dto.CurrentTeamPosition">
        SELECT
        sy.id as userId,
        sy.realname as name,
        sp.longitude as positionX,
        sp.latitude as positionY,
        sp.upload_time as positionUpdateTime,
        sy.username
        FROM
        sys_user sy
        left join  sys_user_position sp on sp.create_by = sy.username
        <where>
            sy.del_flag = 0
           and sy.id in
            <foreach collection="userIdList" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            GROUP BY sy.id
            ORDER BY sp.upload_time desc
        </where>
    </select>
    <select id="getUserList" parameterType="string" resultType="com.aiurt.modules.maplocation.dto.UserInfo">
        select sy.id,  sp.longitude as positionX,
        sp.latitude as positionY
        from sys_user sy
        left join  sys_user_position sp on sp.create_by = sy.username
        <where>
            sy.del_flag = 0
            <if test="id!=null and id!=''">
               sy.id = #{id}
            </if>
            GROUP BY sy.id
            ORDER BY sp.upload_time desc
        </where>
    </select>
    <select id="getUserByTeamIdList" parameterType="list" resultType="com.aiurt.modules.maplocation.dto.UserInfo">
        select id,realname as name,username  from sys_user
        <where>
            <if test="teamChild.size()>0">
                org_id in
                <foreach collection="teamChild" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getUserById" parameterType="string" resultType="com.aiurt.modules.maplocation.dto.UserInfo">
        select sy.id,sy.username as userName,sy.realname as name,sy.work_no, sy.phone ,sy.post from sys_user sy
        where sy.id=#{id}
    </select>
    <select id="getAllEquipmentList" resultType="com.aiurt.modules.maplocation.dto.EquipmentDTO">
        select bda.id, bs.longitude as positionX,  bs.latitude as positionYfrom
         from  device bda
        LEFT JOIN  cs_station bs on bs.station_code = bda.station_code
        where  bda.del_flag = 0  and  bs.del_flag = 0
    </select>

    <select id="selectEquipment" resultType="com.aiurt.modules.maplocation.dto.EquipmentHistoryDTO">
        SELECT
        bda.code,
        bdt.NAME AS typeName,
        bda.position_code,
        bda.NAME AS deviceName
        FROM
        device bda
        LEFT JOIN device_type bdt ON bdt.code = bda.device_type_code
        <where>
            bda.station_code = #{stationIdStr}
            and bda.del_flag = 0 and bdt.del_flag = 0
            <if test="teamIdList.size()>0">
                and (
                bda.use_deprt_code in
                <foreach collection="teamIdList" item="id" index="index" open="(" close=")" separator=",">
                    #{id}
                </foreach>
             )
            </if>
        </where>
    </select>
    <select id="getAllTeam" resultType="com.aiurt.common.api.vo.TreeNode">
        select id,depart_name as name ,parent_id as pid from sys_depart
       where  del_flag = 0
    </select>
    <select id="queryUserById" resultType="com.aiurt.modules.maplocation.dto.UserInfo">
        select id, realname as name
        from sys_user
        where id in
        <foreach collection="idList" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and del_flag = 0
    </select>
    <select id="getStationId" parameterType="string" resultType="com.aiurt.modules.maplocation.dto.UserStationDTO">
        SELECT
        sp.longitude as positionX,
        sp.latitude as positionY
        from sys_user su
        LEFT JOIN sys_user_position sp on sp.create_by = su.username
        <where>
            sp.longitude IS NOT NULL
            AND sp.latitude IS NOT NULL
            <if test="id!=null and id !=''">
                and su.id = #{id}
            </if>
            GROUP BY su.id
            ORDER BY sp.upload_time desc
        </where>
    </select>
</mapper>
