<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.worklog.mapper.WorkLogMapper">

    <select id="queryWorkLog" resultType="com.aiurt.common.result.WorkLogResult">
        SELECT
            wl.*,
            su.realname AS succeedName,
            sur.realname AS submitName,
            sur.org_name AS submitOrgName,
            sur.avatar AS avatar
        FROM
            t_work_log wl
        LEFT JOIN sys_user su ON wl.succeed_id = su.id
        LEFT JOIN sys_user sur ON wl.submit_id = sur.id
        WHERE
            wl.del_flag = '0'
        <if test="param.submitId!= null and param.submitId!= ''">
            AND wl.submit_id = #{param.submitId}
        </if>
        <if test="param.dayStart != null and param.dayStart != '' and param.dayEnd != null and param.dayEnd != ''">
            AND wl.submit_time &gt;= #{param.dayStart} and wl.submit_time &lt; #{param.dayEnd}
        </if>
        <if test="param.checkStatus!= null and param.checkStatus!= ''">
            AND wl.check_status = #{param.checkStatus}
        </if>
        <if test="param.confirmStatus!= null and param.confirmStatus!= ''">
            AND wl.confirm_status = #{param.confirmStatus}
        </if>
        <if test="param.departId!=null ">
            AND wl.org_id = #{param.departId}
        </if>
        <!--权限控制-->
        <if test="param.departList != null and param.departList.size() > 0">
            AND wl.org_id IN
            <foreach collection="param.departList" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </if>
        ORDER BY
            wl.create_time DESC
    </select>

    <select id="exportXls" resultType="com.aiurt.common.result.WorkLogResult">
        SELECT
            wl.*,
            su.realname AS succeedName,
            sur.realname AS submitName,
            sur.org_name AS submitOrgName,
            sur.avatar AS avatar
        FROM
            t_work_log wl
        LEFT JOIN sys_user su ON wl.succeed_id = su.id
        LEFT JOIN sys_user sur ON wl.submit_id = sur.id
        WHERE
            wl.del_flag = '0'
        <if test="param.submitId!= null and param.submitId!= ''">
            AND wl.submit_id = #{param.submitId}
        </if>
        <if test="param.dayStart != null and param.dayStart != '' and param.dayEnd != null and param.dayEnd != ''">
            AND wl.submit_time &gt;= #{param.dayStart} and wl.submit_time &lt; #{param.dayEnd}
        </if>
        <if test="param.checkStatus!= null and param.checkStatus!= ''">
            AND wl.check_status = #{param.checkStatus}
        </if>
        <if test="param.confirmStatus!= null and param.confirmStatus!= ''">
            AND wl.confirm_status = #{param.confirmStatus}
        </if>
        <!--权限控制-->
        <if test="param.departList !=null and param.departList.size() >0">
            AND wl.org_id IN
            <foreach collection="param.departList" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </if>
        ORDER BY
            wl.create_time DESC
    </select>

    <select id="queryById" resultType="com.aiurt.common.result.WorkLogResult">
        SELECT
	        wl.*,
	        su.realname AS succeedName,
	        sur.realname AS submitName,
	        sur.org_name AS submitOrgName,
	        sur.avatar AS avatar
        FROM
	        t_work_log wl
	    LEFT JOIN sys_user su ON wl.succeed_id = su.id
	    LEFT JOIN sys_user sur ON wl.submit_id = sur.id
        WHERE
	        wl.id = #{id}
    </select>

    <update id="confirm" parameterType="java.lang.Integer">
        UPDATE t_work_log SET confirm_status = '1' WHERE id = #{id}
    </update>

    <update id="check">
        UPDATE t_work_log SET check_status = '1' WHERE id = #{id}
    </update>

    <select id="selectAppHome" resultType="com.aiurt.boot.modules.apphome.vo.WorkLogVO">
        SELECT
	        wl.id AS id,
	        wl.submit_time AS time,
	        su.realname AS successName
        FROM
        t_work_log wl
	    LEFT JOIN sys_user su ON wl.succeed_id = su.id
        WHERE
	        1 = 1
        <if test="param.userId != null and param.userId != ''">
	        AND wl.succeed_id LIKE concat( '%', #{param.userId}, '%' )
        </if>
        <if test="param.startTime != null and param.endTime != null">
            AND wl.submit_time &gt;= #{param.startTime}
            and wl.submit_time &lt; #{param.endTime}
        </if>
	        AND wl.check_status = 0
        ORDER BY
	        wl.create_time DESC
    </select>

    <update id="deleteOne" parameterType="java.lang.Integer">
        UPDATE t_work_log SET del_flag = '1' WHERE id = #{id}
    </update>

    <select id="selectLogCount" resultType="com.aiurt.common.result.LogCountResult">
        SELECT
        COUNT(*) AS submitNum,
        wl.submit_id AS submitId,
        su.realname AS submitName,
        su.org_name AS department
        FROM
            t_work_log wl
        LEFT JOIN sys_user su ON su.id = wl.submit_id
        WHERE
        wl.del_flag = 0
        <if test="param.dayStart != null and param.dayEnd != null">
            AND wl.submit_time &gt;= #{param.dayStart}
            AND wl.submit_time &lt;= #{param.dayEnd}
        </if>
        <if test="param.submitName != null and param.submitName != ''">
            AND su.realname LIKE concat( '%', #{param.submitName}, '%' )
        </if>
        GROUP BY
        wl.submit_id
    </select>

    <select id="getAssortNum" resultType="com.aiurt.common.result.AssortNumResult">
        SELECT
	        wl.assort_num AS assortNum
        FROM
            t_work_log wl
	        left join sys_user su on su.id = wl.create_by
        WHERE
            wl.create_time &gt;= #{startTime}
            and wl.create_time &lt;= #{entTime}
	        and wl.del_flag = 0
            <if test="userName!=null">
                and su.realname = #{userName}
            </if>
    </select>

    <select id="selectWorkLogCount" resultType="java.lang.Integer">
        select COUNT(*) from t_work_log
    </select>
</mapper>
