<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.workarea.mapper.WorkAreaMapper">

<select id="getWorkAreaList" resultType="com.aiurt.modules.workarea.dto.WorkAreaDTO">
    select a.*,(select major_name from cs_major cm where cm.major_code=a.major_code)as majorName,
    (select realname from sys_user su where su.id=a.manager_id)as managerName,
    (select realname from sys_user su where su.id=a.technical_id)as technicalName
    from work_area a
    where a.del_flag=0
    <if test="workArea.name != null and workArea.name != ''">
     and a.name like concat ('%',#{workArea.name},'%')
    </if>
    <if test="workArea.code != null and workArea.code != ''">
     and a.code like concat ('%',#{workArea.code},'%')
    </if>
    <if test="workArea.type != null">
     and a.type=#{workArea.type}
    </if>
    order by a.create_time desc
</select>
<select id="getMajorName" resultType="java.lang.String">
select major_name from cs_major  where major_code = #{majorCode}
</select>
<select id="getMajorAllUser" resultType="com.aiurt.modules.workarea.dto.MajorUserDTO">
SELECT
su.id,
su.sex,
su.username,
su.phone,
su.org_name,
su.realname
FROM
sys_user su
LEFT JOIN cs_user_major cum on cum.user_id = su.id
WHERE
cum.major_id = #{majorId}
<if test="name != null and name != ''">
  and su.realname like concat ('%',#{name},'%')
  </if>
  <if test="orgId != null and orgId != ''">
  and su.org_id = #{orgId}
  </if>
</select>
<select id="getUserAllMajor" resultType="com.aiurt.modules.workarea.dto.MajorDTO">
select  cm.*
from cs_major cm
left join cs_user_major cum on cm.id = cum.major_id
where cum.user_id = #{userId}
</select>
<select id="getMajorAllSubSystem" resultType="com.aiurt.modules.workarea.dto.SubSystem">
select  cs.*
from cs_subsystem cs
left join cs_major cm on cm.major_code = cs.major_code
where cm.major_code = #{majorCode} and cs.del_flag = 0
</select>
    <select id="getSiteByOrgCode" resultType="org.jeecg.common.system.vo.SiteModel">
    select DISTINCT wa.name as siteName,wa.id as siteId,wa.position,sy.realname from work_area wa
    left join work_area_org wao on wao.work_area_code = wa.`code` and wao.del_flag= 0
    left join sys_depart sd on sd.org_code = wao.org_code and sd.del_flag = 0
    left join sys_user sy on sy.id = wa.manager_id and sy.del_flag = 0
    where wa.del_flag = 0 and  sd.org_code = #{orgCode}
    </select>
    <select id="getTeamBylineAndMajor" resultType="string">
        select DISTINCT sd.org_code from sys_depart sd
        left join work_area_org wao on wao.org_code = sd.org_code and wao.del_flag= 0
        left join work_area wa on wa.`code` = wao.work_area_code and wa.del_flag = 0
        left join work_area_line wal on wal.work_area_code = wa.`code` and wal.del_flag = 0
        <where>
            sd.del_flag = 0
            <if test="lineCodeList.size()>0">
                and wal.line_code in
                <foreach collection="lineCodeList" item="code" open="(" close=")" separator=",">
                    #{code}
                </foreach>
            </if>
            <if test="majorList.size()>0">
                and wa.major_code in
                <foreach collection="majorList" item="code" open="(" close=")" separator=",">
                    #{code}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getTeamBylineAndMajors" resultType="org.jeecg.common.system.vo.SysDepartModel">
        select DISTINCT sd.org_code,sd.depart_name  from sys_depart sd
        left join work_area_org wao on wao.org_code = sd.org_code and wao.del_flag= 0
        left join work_area wa on wa.`code` = wao.work_area_code and wa.del_flag = 0
        left join work_area_line wal on wal.work_area_code = wa.`code` and wal.del_flag = 0
        <where>
            sd.del_flag = 0
            <if test="lineCodeList.size()>0">
                and wal.line_code in
                <foreach collection="lineCodeList" item="code" open="(" close=")" separator=",">
                    #{code}
                </foreach>
            </if>
            <if test="majorList.size()>0">
                and wa.major_code in
                <foreach collection="majorList" item="code" open="(" close=")" separator=",">
                    #{code}
                </foreach>
            </if>
        </where>
    </select>
    <select id="queryManagedTeam" resultType="com.aiurt.modules.system.entity.SysDepart">
        select *
        from sys_depart t
        where find_in_set(id,#{id})&gt;0
        union all
		select *
        from sys_depart t where t.depart_name='外委单位'
        order by id
    </select>

    <select id="queryByUserId" resultType="string">
        select org_id from sys_user
        where id = #{userId}
    </select>
</mapper>
