<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.paperless.mapper.PaperlessInspectEntryMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  paperless_inspect_entry 
		WHERE
			 paperless_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="com.aiurt.modules.paperless.entity.PaperlessInspectEntry">
		SELECT * 
		FROM  paperless_inspect_entry
		WHERE
			 paperless_id = #{mainId} 	</select>
</mapper>
