<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.robot.mapper.TaskExcuteInfoMapper">
    <select id="getPatrolListPage" resultType="com.aiurt.modules.robot.dto.TaskPatrolDTO">
        SELECT
        tei.*,
        bda.NAME,
        ri.robot_name AS robotName,
        ppi.point_name AS pointName,
        ppi.point_type AS pointType,
        bda.id AS deviceId,
        bda.device_type_code,
        bda.line_code,
        bda.station_code
        FROM
        task_excute_info tei
        LEFT JOIN task_finish_info tfi ON tei.task_id = tfi.task_id
        LEFT JOIN robot_info ri ON ri.robot_id = tfi.robot_id
        LEFT JOIN patrol_point_info ppi ON ppi.point_id = tei.point_id
        LEFT JOIN device bda ON bda.code = tei.device
        <where>
            <if test="taskId != null and taskId != ''">
                tei.task_id =#{taskId}
            </if>
        <if test="device != null and device != ''">
           and tei.device =#{device}
        </if>
        <if test="excuteState != null and excuteState != ''">
            and tei.excute_state =#{excuteState}
        </if>
        </where>
        ORDER BY excute_time DESC
    </select>
</mapper>
