<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.material.mapper.MaterialRequisitionDetailMapper">


    <update id="updateActualNumByMaterialRequisitionId">
        update material_requisition_detail
        set actual_num=apply_num
        where material_requisition_id=#{materialRequisitionId};
    </update>

    <select id="getList" resultType="com.aiurt.modules.material.entity.MaterialRequisitionDetail">
        SELECT
                mrd.*,
                msoir.order_id
        FROM
                material_requisition_detail mrd
                        LEFT JOIN material_stock_out_in_record msoir ON (mrd.material_requisition_id = msoir.material_requisition_id
                        AND mrd.materials_code = msoir.material_code and msoir.del_flag = 0)
        WHERE
                mrd.material_requisition_id =#{materialRequisitionId}
    </select>
</mapper>