<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.material.mapper.MaterialRequisitionDetailMapper">


    <update id="updateActualNumByMaterialRequisitionId">
        update material_requisition_detail
        set actual_num=apply_num
        where material_requisition_id=#{materialRequisitionId};
    </update>

    <select id="getList" resultType="com.aiurt.modules.material.entity.MaterialRequisitionDetail">
        select  mr.apply_warehouse_code as warehouseCode ,mrd.materials_code as materialsCode ,sum(mrd.apply_num) as applyNum,sum(mrd.apply_num) as availableNum
        from material_requisition_detail mrd
        left join material_requisition mr on mrd.material_requisition_id = mr.id
        where mrd.del_flag = 0
        and mr.del_flag = 0
        and mr.fault_repair_record_id = #{faultRepairRecordId}
        group by mr.apply_warehouse_code,mrd.materials_code
    </select>

    <update id="updateIsUsed">
        update material_requisition
        set is_used = #{isUsed}
        where fault_repair_record_id =#{faultRepairRecordId};
    </update>
</mapper>