<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.train.eaxm.mapper.BdExamRecordDetailMapper">

    <select id="getByQuTypeAndExamRecordId"
            resultType="com.aiurt.modules.train.eaxm.entity.BdExamRecordDetail">
        SELECT * from bd_exam_record_detail where que_id = #{shortQuesReqVo.id} and exam_record_id = #{shortQuesReqVo.examRecordId}
         ORDER BY  create_time desc, ABS(#{date} - create_time) LIMIT 1

    </select>
    <select id="getAnswerList" resultType="com.aiurt.modules.train.eaxm.entity.BdExamRecordDetail">
    select berd.answer,berd.score,berd.que_id,berd.id,berd.is_true,bq.que_type
    from bd_exam_record_detail berd,bd_question bq
    where berd.exam_record_id =#{examRecordId}
    and berd.que_id= bq.id
    and berd.que_id = #{questionId}
    ORDER BY  berd.create_time desc, ABS(#{date} - berd.create_time) LIMIT 1
    </select>
    <select id="getByExamRecordId" resultType="com.aiurt.modules.train.eaxm.entity.BdExamRecordDetail">
    select *
    from bd_exam_record_detail beRd
    where beRd.exam_record_id = #{id}
    ORDER BY berd.create_time desc, ABS(#{date}-beRd.create_by ) LIMIT #{number}
    </select>

    <select id="getDetailById" resultType="String">
        select id from bd_exam_record_detail where exam_record_id = #{id}
    </select>
</mapper>
