<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.materials.mapper.EmergencyMaterialsMapper">
    <sql id="list">
       t1.id as id ,t2.id as categoryId,t1.materials_code as materialsCode,t1.materials_name as materialsName,t2.category_code as categoryCode,
       t2.category_name as categoryName,t1.specification as specification,t1.number as number,t1.primary_org as primaryOrg,t1.user_id as userId,
       t1.phone as phone,t1.line_code as lineCode,t1.station_code as stationCode,t1.position_code as positionCode,t1.unit as unit
    </sql>
    <select id="getMaterialAccountList" resultType="com.aiurt.boot.materials.dto.MaterialAccountDTO">
       SELECT
        <include refid="list"></include>
       FROM
	   emergency_materials t1
	   LEFT JOIN emergency_materials_category t2 ON t1.category_code = t2.category_code
        <where>
              t1.del_flag = 0
              AND t2.del_flag = 0
            <if test="condition.categoryCode!=null">
              AND t2.category_code = #{condition.categoryCode}
            </if>
            <if test="condition.materialsName!=null">
              AND t1.materials_name LIKE CONCAT ('%', #{condition.materialsName}, '%')
            </if>
            <if test="condition.primaryOrg!=null">
                AND t1.primary_org = #{condition.primaryOrg}
            </if>
            <if test="condition.lineCode!=null">
                AND t1.line_code = #{condition.lineCode}
            </if>
            <if test="condition.stationCode!=null">
                AND t1.station_code = #{condition.stationCode}
            </if>
            <if test="condition.positionCode!=null">
                AND t1.position_code = #{condition.positionCode}
            </if>
        </where>
        order by t1.update_time desc,t1.create_time desc
    </select>

    <select id="getPatrolStandardList" resultType="com.aiurt.boot.materials.dto.PatrolStandardDTO">
        select
         id as standardId,code as standardCode,`name` as standardName
         from patrol_standard
        <where>
            del_flag = 0
            <if test="majorCode.size()>0">
              and  profession_code in
                <foreach item="item" collection="majorCode" separator="," open="(" close=")" index="">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getInspectionRecord" resultType="com.aiurt.boot.materials.entity.EmergencyMaterialsInvoicesItem">
       select
        t1.id as id,
        t2.id as invoicesId,
        t2.materials_patrol_code as materialsPatrolCode,
        t2.patrol_date as patrolDate,
        t2.line_code as lineCode,
        t2.station_code as stationCode,
        t2.position_code as positionCode,
        t2.user_id as patrolId,
        t2.department_code as patrolTeamCode,
        t1.check_result as checkResult
       from
       emergency_materials_invoices_item t1
	   LEFT JOIN emergency_materials_invoices t2 ON t1.invoices_id = t2.id
        <where>
                t1.del_flag = 0
                and t2.del_flag = 0
            <if test="condition.id!=null">
                and t1.id = #{condition.id}
            </if>
            <if test="condition.invoicesId!=null">
                and t2.id = #{condition.invoicesId}
            </if>
            <if test="condition.categoryCode!=null">
                and t1.category_code = #{condition.categoryCode}
            </if>
            <if test="condition.materialsName!=null">
                and t1.materials_name LIKE CONCAT ('%', #{condition.materialsName}, '%')
            </if>
            <if test="condition.startTime != null">
                and DATE_FORMAT(t2.patrol_date, '%Y-%m-%d') &gt;= DATE_FORMAT(#{condition.startTime}, '%Y-%m-%d')
            </if>
            <if test="condition.endTime != null">
                and DATE_FORMAT(t2.patrol_date, '%Y-%m-%d') &lt;= DATE_FORMAT(#{condition.endTime}, '%Y-%m-%d')
            </if>
            <if test="condition.patrolTeamCode != null">
                and t2.department_code = #{condition.patrolTeamCode}
            </if>
        </where>
    </select>

    <select id="getMaterialInspection" resultType="com.aiurt.boot.materials.entity.EmergencyMaterialsInvoicesItem">
        select
         t1.materials_name as materialsName,
         t2.category_name as categoryName,
         t3.specification as specification,
         t3.number as number,
         t3.`check`,
         t3.abnormal_condition as abnormalCondition,
         t3.check_result as checkResult
        from emergency_materials t1
        LEFT JOIN emergency_materials_category t2 ON t1.category_code = t2.category_code
        LEFT JOIN emergency_materials_invoices_item t3 ON t1.materials_code = t3.materials_code
        LEFT JOIN emergency_materials_invoices t4 ON t3.invoices_id = t4.id
        <where>
              t1.del_flag = 0
              and t2.del_flag = 0
              and t3.del_flag = 0
              and t4.del_flag = 0
            <if test="id != null">
                and t4.id = #{id}
            </if>
        </where>
    </select>
</mapper>
