<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.modules.user.mapper.FlowUserMapper">

    <select id="getUserNameByUserId" resultType="java.lang.String">
        select username from sys_user where del_flag = 0 and  status = 1
        <if test="userIdList != null and userIdList.size() != 0">
            and  id in
            <foreach collection="userIdList" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getUserNameByRoleId" resultType="java.lang.String">
        select a.username from sys_user a Left Join sys_user_role b On a.id = b.user_id
        where a.del_flag = 0 and a.status = 1
        <if test="roleIdList != null and roleIdList.size() != 0">
            and b.role_id in
            <foreach collection="roleIdList" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getUserNameByOrgId" resultType="java.lang.String">
        select username from sys_user where del_flag = 0 and  status = 1
        <if test="orgIdList != null and orgIdList.size() != 0">
            and  org_id in
            <foreach collection="orgIdList" separator="," open="(" close=")" item="item">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getUserName" resultType="java.lang.String">
        select username from sys_user where del_flag = 0 and  status = 1
        and (username = #{name} or id = #{name} or realname = #{name})
    </select>
</mapper>
