<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.fault.mapper.FaultKnowledgeBaseMapper">

    <select id="selectCodeById" resultType="String">
        SELECT fault_codes FROM fault_knowledge_base WHERE id = #{id}
    </select>

    <update id="updateAssociateFault">
        UPDATE fault_knowledge_base SET fault_codes = #{faultCodes} WHERE id = #{id}
    </update>

    <select id="queryFaultKnowledgeBase" resultType="com.aiurt.boot.common.result.FaultKnowledgeBaseResult">
        select
            b.* ,
        cst.system_name as systemName,
        t.name as typeName
        from fault_knowledge_base b
        left join fault_knowledge_base_type t on t.id = b.type_id
        left join cs_subsystem cst on b.system_code = cst.system_code
        where
            b.del_flag = '0'
        <if test="param.faultPhenomenon!= null and param.faultPhenomenon!= ''">
            AND b.fault_phenomenon  LIKE concat('%'
            , #{param.faultPhenomenon}
            , '%')
        </if>
        <if test="param.faultReason!= null and param.faultReason!= ''">
            AND b.fault_reason LIKE concat('%'
            , #{param.faultReason}
            , '%')
        </if>
        <if test="param.solution!= null and param.solution!= ''">
            AND b.solution LIKE concat('%'
            , #{param.solution}
            , '%')
        </if>
        <if test="param.typeId!=null">
            and b.type_id = #{param.typeId}
        </if>
        <if test="param.faultType !=null">
            and b.system_code = #{param.faultType}
        </if>
        ORDER BY
            b.create_time DESC
    </select>

    <select id="selectByKnowledgeId" resultType="com.aiurt.boot.common.result.FaultKnowledgeBaseResult">
        select * from fault_knowledge_base where id = #{id}
    </select>

    <update id="updateScanNum">
        UPDATE fault_knowledge_base SET scan_num = #{num} WHERE id = #{id}
    </update>
</mapper>
