<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.fault.mapper.FaultAnalysisReportMapper">
    <select id="queryFaultAnalysisReport" resultType="com.aiurt.common.result.FaultAnalysisReportResult">
        SELECT
            aa.id AS id,
        	aa.fault_code AS faultCode,
        	bb.fault_type AS faultType,
        	bb.fault_phenomenon AS faultPhenomenon,
        	aa.fault_analysis AS faultAnalysis,
        	aa.solution AS solution,
        	aa.create_time AS createTime
        FROM
        	fault_analysis_report aa
        	LEFT JOIN fault bb ON aa.fault_code = bb.`code`
        WHERE
            aa.del_flag = 0 AND bb.del_flag = 0

	    <if test="param.code!= null and param.code!= ''">
            AND aa.fault_code = #{param.code}
        </if>
        <if test="param.stationCode!= null and param.stationCode!= ''">
            AND bb.station_code = #{param.stationCode}
        </if>
        <if test="param.faultPhenomenon!= null and param.faultPhenomenon!= ''">
            AND bb.fault_phenomenon like '%${param.faultPhenomenon}%'
        </if>
        <if test="param.dayStart!= null and param.dayStart!= '' and param.dayEnd!= null and param.dayEnd!= ''">
            AND aa.create_time &gt;= #{param.dayStart} and aa.create_time &lt; #{param.dayEnd}
        </if>
        ORDER BY aa.create_time DESC
    </select>

    <select id="selectAnalysisReport" resultType="com.aiurt.common.result.FaultAnalysisReportResult">
        SELECT
	        aa.* ,
	        bb.fault_type
        FROM
	        fault_analysis_report aa
	    INNER JOIN fault bb ON aa.fault_code = bb.`code`
        WHERE
	        fault_code = #{code}
    </select>

</mapper>
