<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiurt.boot.modules.fault.mapper.OperationProcessMapper">

    <select id="selectByCode" resultType="com.aiurt.common.result.OperationProcessResult">
        SELECT
	        op.*,
	        su.realname AS processPersonName
        FROM
	        operation_process op
	        LEFT JOIN sys_user su on op.process_person = su.id
        WHERE
	        op.fault_code = #{code}
        ORDER BY
	        op.process_time ASC
    </select>

</mapper>
