<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swsc.copsms.modules.fault.mapper.OutsourcingPersonnelMapper">
    <select id="queryOutsourcingPersonnel" resultType="com.swsc.copsms.modules.fault.entity.OutsourcingPersonnel">
        SELECT * FROM outsourcing_personnel
        WHERE 1 = 1
        <if test="personnel.name!= null and personnel.name!= ''">
            AND name LIKE '%${personnel.name}%'
        </if>
        <if test="personnel.company!= null and personnel.company!= ''">
            AND company = #{personnel.company}
        </if>
        <if test="personnel.position!= null and personnel.position!= ''">
            AND position LIKE '%${personnel.position}%'
        </if>
        <if test="personnel.systemCode!= null and personnel.systemCode!= ''">
            AND system_code = #{personnel.systemCode}
        </if>
        <if test="personnel.connectionWay!= null and personnel.connectionWay!= ''">
            AND connection_way LIKE '%${personnel.connectionWay}%'
        </if>
        AND del_flag = '0'
    </select>

    <update id="deleteOne" parameterType="java.lang.Integer">
        UPDATE outsourcing_personnel SET del_flag = '1' WHERE id = #{id}
    </update>

    <select id="selectAll" resultType="com.swsc.copsms.modules.fault.entity.OutsourcingPersonnel">
        select * from outsourcing_personnel where del_flag = '0'
    </select>
</mapper>